<div>
    <h2 translate="megabillingplatformApp.c_location.home.title">C Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="c-location.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.c_location.home.createLabel">
                        Create new C Location
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="megabillingplatformApp.c_location.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="megabillingplatformApp.c_location.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_municipality.name"><span translate="megabillingplatformApp.c_location.c_municipality">C Municipality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_zip_code.postcode"><span translate="megabillingplatformApp.c_location.c_zip_code">C Zip Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c_location in vm.c_locations track by c_location.id">
                    <td><a ui-sref="c-location-detail({id:c_location.id})">{{c_location.id}}</a></td>
                    <td>{{c_location.name}}</td>
                    <td>{{c_location.description}}</td>
                    <td>
                        <a ui-sref="c-municipality-detail({id:c_location.c_municipality.id})">{{c_location.c_municipality.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-zip-code-detail({id:c_location.c_zip_code.id})">{{c_location.c_zip_code.postcode}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="c-location-detail({id:c_location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="c-location.edit({id:c_location.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="c-location.delete({id:c_location.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
