
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_spei_thirdLabel" translate="megabillingplatformApp.freecom_spei_third.home.createOrEditLabel">Create or edit a Freecom Spei Third</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.freecom_spei_third.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.freecom_spei_third.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_spei_third.date_operation" for="field_date_operation">Date Operation</label>
                <div class="input-group">
                    <input id="field_date_operation" type="text" class="form-control" name="date_operation" uib-datepicker-popup="{{dateformat}}" ng-model="vm.freecom_spei_third.date_operation" is-open="vm.datePickerOpenStatus.date_operation"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date_operation')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date_operation.$invalid">
                <p class="help-block"
                    ng-show="editForm.date_operation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_spei_third.hour" for="field_hour">Hour</label>
                <div class="input-group">
                    <input id="field_hour" type="text" class="form-control" name="hour" datetime-picker="{{dateformat}}" ng-model="vm.freecom_spei_third.hour" is-open="vm.datePickerOpenStatus.hour"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('hour')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.hour.$invalid">
                <p class="help-block"
                    ng-show="editForm.hour.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.hour.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_spei_third.key_spei" for="field_key_spei">Key Spei</label>
            <input type="number" class="form-control" name="key_spei" id="field_key_spei"
                    ng-model="vm.freecom_spei_third.key_spei"
                    required />
            <div ng-show="editForm.key_spei.$invalid">
                <p class="help-block"
                    ng-show="editForm.key_spei.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.key_spei.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_spei_third.stamp" for="field_stamp">Stamp</label>
            <input type="text" class="form-control" name="stamp" id="field_stamp"
                    ng-model="vm.freecom_spei_third.stamp"
                    required />
            <div ng-show="editForm.stamp.$invalid">
                <p class="help-block"
                    ng-show="editForm.stamp.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_spei_third.number_certificate" for="field_number_certificate">Number Certificate</label>
            <input type="text" class="form-control" name="number_certificate" id="field_number_certificate"
                    ng-model="vm.freecom_spei_third.number_certificate"
                    required ng-maxlength="20" />
            <div ng-show="editForm.number_certificate.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_certificate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_certificate.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_spei_third.cda" for="field_cda">Cda</label>
            <input type="text" class="form-control" name="cda" id="field_cda"
                    ng-model="vm.freecom_spei_third.cda"
                    required ng-maxlength="841" />
            <div ng-show="editForm.cda.$invalid">
                <p class="help-block"
                    ng-show="editForm.cda.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cda.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="841">
                    This field cannot be longer than 841 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_spei_third.freecom_spei" for="field_freecom_spei">Freecom Spei</label>
            <select class="form-control" id="field_freecom_spei" name="freecom_spei" ng-model="vm.freecom_spei_third.freecom_spei" ng-options="freecom_spei as freecom_spei.id for freecom_spei in vm.freecom_speis track by freecom_spei.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_spei_third.freecom_payer" for="field_freecom_payer">Freecom Payer</label>
            <select class="form-control" id="field_freecom_payer" name="freecom_payer" ng-model="vm.freecom_spei_third.freecom_payer" ng-options="freecom_payer as freecom_payer.id for freecom_payer in vm.freecom_payers | orderBy:'id' track by freecom_payer.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_spei_third.freecom_beneficiary" for="field_freecom_beneficiary">Freecom Beneficiary</label>
            <select class="form-control" id="field_freecom_beneficiary" name="freecom_beneficiary" ng-model="vm.freecom_spei_third.freecom_beneficiary" ng-options="freecom_beneficiary as freecom_beneficiary.id for freecom_beneficiary in vm.freecom_beneficiaries | orderBy:'id' track by freecom_beneficiary.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
