<div>
    <h2 translate="megabillingplatformApp.com_ecc_11_transfer.home.title">Com Ecc 11 Transfers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="com-ecc-11-transfer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.com_ecc_11_transfer.home.createLabel">
                        Create new Com Ecc 11 Transfer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type_tax"><span translate="megabillingplatformApp.com_ecc_11_transfer.type_tax">Type Tax</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rate"><span translate="megabillingplatformApp.com_ecc_11_transfer.rate">Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span translate="megabillingplatformApp.com_ecc_11_transfer.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="com_ecc_11_concept.id"><span translate="megabillingplatformApp.com_ecc_11_transfer.com_ecc_11_concept">Com Ecc 11 Concept</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="com_ecc_11_transfer in vm.com_ecc_11_transfers track by com_ecc_11_transfer.id">
                    <td><a ui-sref="com-ecc-11-transfer-detail({id:com_ecc_11_transfer.id})">{{com_ecc_11_transfer.id}}</a></td>
                    <td>{{com_ecc_11_transfer.type_tax}}</td>
                    <td>{{com_ecc_11_transfer.rate}}</td>
                    <td>{{com_ecc_11_transfer.amount}}</td>
                    <td>
                        <a ui-sref="com-ecc-11-concept-detail({id:com_ecc_11_transfer.com_ecc_11_concept.id})">{{com_ecc_11_transfer.com_ecc_11_concept.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="com-ecc-11-transfer-detail({id:com_ecc_11_transfer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-ecc-11-transfer.edit({id:com_ecc_11_transfer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-ecc-11-transfer.delete({id:com_ecc_11_transfer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
