
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAccountingLabel" translate="megabillingplatformApp.accounting.home.createOrEditLabel">Create or edit a Accounting</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.accounting.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.accounting.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.accounting.keyaccounting" for="field_keyaccounting">Keyaccounting</label>
            <input type="number" class="form-control" name="keyaccounting" id="field_keyaccounting"
                    ng-model="vm.accounting.keyaccounting"
                    required />
            <div ng-show="editForm.keyaccounting.$invalid">
                <p class="help-block"
                    ng-show="editForm.keyaccounting.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.keyaccounting.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.accounting.freecom_ine_entity" for="field_freecom_ine_entity">Freecom Ine Entity</label>
            <select class="form-control" id="field_freecom_ine_entity" name="freecom_ine_entity" ng-model="vm.accounting.freecom_ine_entity" ng-options="freecom_ine_entity as freecom_ine_entity.id for freecom_ine_entity in vm.freecom_ine_entities track by freecom_ine_entity.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
