
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_ecc11_conceptLabel" translate="megabillingplatformApp.freecom_ecc11_concept.home.createOrEditLabel">Create or edit a Freecom Ecc 11 Concept</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.freecom_ecc11_concept.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.freecom_ecc11_concept.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.identifier" for="field_identifier">Identifier</label>
            <input type="text" class="form-control" name="identifier" id="field_identifier"
                    ng-model="vm.freecom_ecc11_concept.identifier"
                    required />
            <div ng-show="editForm.identifier.$invalid">
                <p class="help-block"
                    ng-show="editForm.identifier.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.freecom_ecc11_concept.date" is-open="vm.datePickerOpenStatus.date"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.date.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="vm.freecom_ecc11_concept.rfc"
                    required />
            <div ng-show="editForm.rfc.$invalid">
                <p class="help-block"
                    ng-show="editForm.rfc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.key_station" for="field_key_station">Key Station</label>
            <input type="text" class="form-control" name="key_station" id="field_key_station"
                    ng-model="vm.freecom_ecc11_concept.key_station"
                    required ng-maxlength="10" />
            <div ng-show="editForm.key_station.$invalid">
                <p class="help-block"
                    ng-show="editForm.key_station.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.key_station.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.freecom_ecc11_concept.quantity"
                    required />
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.unit" for="field_unit">Unit</label>
            <input type="text" class="form-control" name="unit" id="field_unit"
                    ng-model="vm.freecom_ecc11_concept.unit"
                    ng-maxlength="25" />
            <div ng-show="editForm.unit.$invalid">
                <p class="help-block"
                    ng-show="editForm.unit.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.fuel_name" for="field_fuel_name">Fuel Name</label>
            <input type="text" class="form-control" name="fuel_name" id="field_fuel_name"
                    ng-model="vm.freecom_ecc11_concept.fuel_name"
                    required ng-maxlength="300" />
            <div ng-show="editForm.fuel_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.fuel_name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fuel_name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="300">
                    This field cannot be longer than 300 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.folio_operation" for="field_folio_operation">Folio Operation</label>
            <input type="text" class="form-control" name="folio_operation" id="field_folio_operation"
                    ng-model="vm.freecom_ecc11_concept.folio_operation"
                    required ng-maxlength="50" />
            <div ng-show="editForm.folio_operation.$invalid">
                <p class="help-block"
                    ng-show="editForm.folio_operation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.folio_operation.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.unit_value" for="field_unit_value">Unit Value</label>
            <input type="number" class="form-control" name="unit_value" id="field_unit_value"
                    ng-model="vm.freecom_ecc11_concept.unit_value"
                    required />
            <div ng-show="editForm.unit_value.$invalid">
                <p class="help-block"
                    ng-show="editForm.unit_value.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.unit_value.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11_concept.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.freecom_ecc11_concept.amount"
                     />
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_ecc11_concept.freecom_ecc11" for="field_freecom_ecc11">Freecom Ecc 11</label>
            <select class="form-control" id="field_freecom_ecc11" name="freecom_ecc11" ng-model="vm.freecom_ecc11_concept.freecom_ecc11" ng-options="freecom_ecc11 as freecom_ecc11.id for freecom_ecc11 in vm.freecom_ecc11s track by freecom_ecc11.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_ecc11_concept.freecom_product_key" for="field_freecom_product_key">Freecom Product Key</label>
            <select class="form-control" id="field_freecom_product_key" name="freecom_product_key" ng-model="vm.freecom_ecc11_concept.freecom_product_key" ng-options="freecom_product_key as freecom_product_key.code for freecom_product_key in vm.freecom_product_keys track by freecom_product_key.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_ecc11_concept.c_tar" for="field_c_tar">C Tar</label>
            <select class="form-control" id="field_c_tar" name="c_tar" ng-model="vm.freecom_ecc11_concept.c_tar" ng-options="c_tar as c_tar.name for c_tar in vm.c_tars track by c_tar.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
