
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_emitterLabel" translate="megabillingplatformApp.free_emitter.home.createOrEditLabel">Create or edit a Free_emitter</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.free_emitter.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                   ng-model="vm.free_emitter.rfc"
                   required ng-minlength="12" ng-maxlength="13" ng-pattern="/^[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?$/" />
            <div ng-show="editForm.rfc.$invalid">
                <p class="help-block"
                   ng-show="editForm.rfc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.rfc.$error.minlength" translate="entity.validation.minlength" translate-value-min="12">
                    This field is required to be at least 12 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.rfc.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="13">
                    This field cannot be longer than 13 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.rfc.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?$">
                    This field should follow pattern "^[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.social_reason" for="field_social_reason">Social_reason</label>
            <input type="text" class="form-control" name="social_reason" id="field_social_reason"
                   ng-model="vm.free_emitter.social_reason"
                   required ng-minlength="3" ng-maxlength="50" />
            <div ng-show="editForm.social_reason.$invalid">
                <p class="help-block"
                   ng-show="editForm.social_reason.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.social_reason.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.social_reason.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                   ng-model="vm.free_emitter.email"
                   required ng-minlength="6" ng-maxlength="254" ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/" />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.minlength" translate="entity.validation.minlength" translate-value-min="6">
                    This field is required to be at least 6 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="254">
                    This field cannot be longer than 254 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$">
                    This field should follow pattern "^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                    ng-model="vm.free_emitter.reference"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.num_int" for="field_num_int">Num_int</label>
            <input type="text" class="form-control" name="num_int" id="field_num_int"
                    ng-model="vm.free_emitter.num_int"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.num_ext" for="field_num_ext">Num_ext</label>
            <input type="text" class="form-control" name="num_ext" id="field_num_ext"
                    ng-model="vm.free_emitter.num_ext"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.free_emitter.street"
                    required />
            <div ng-show="editForm.street.$invalid">
                <p class="help-block"
                    ng-show="editForm.street.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.create_date" for="field_create_date">Create_date</label>
                <div class="input-group">
                    <input id="field_create_date" type="text" class="form-control" name="create_date" datetime-picker="{{dateformat}}" ng-model="vm.free_emitter.create_date" is-open="vm.datePickerOpenStatus.create_date"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('create_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.create_date.$invalid">
                <p class="help-block"
                    ng-show="editForm.create_date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.create_date.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_emitter.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                    ng-model="vm.free_emitter.activated"
                     />
            <div ng-show="editForm.activated.$invalid">
                <p class="help-block"
                    ng-show="editForm.activated.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.tax_regime" for="field_tax_regime">tax_regime</label>
            <select class="form-control" id="field_tax_regime" name="tax_regime" ng-model="vm.free_emitter.tax_regime" ng-options="tax_regime as tax_regime.name for tax_regime in vm.tax_regimes track by tax_regime.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.c_country" for="field_c_country">c_country</label>
            <select class="form-control" id="field_c_country" name="c_country" ng-model="vm.free_emitter.c_country" ng-options="c_country as c_country.name for c_country in vm.c_countrys track by c_country.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.c_state" for="field_c_state">c_state</label>
            <select class="form-control" id="field_c_state" name="c_state" ng-model="vm.free_emitter.c_state" ng-options="c_state as c_state.name for c_state in vm.c_states track by c_state.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.c_municipality" for="field_c_municipality">c_municipality</label>
            <select class="form-control" id="field_c_municipality" name="c_municipality" ng-model="vm.free_emitter.c_municipality" ng-options="c_municipality as c_municipality.name for c_municipality in vm.c_municipalitys track by c_municipality.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.c_location" for="field_c_location">c_location</label>
            <select class="form-control" id="field_c_location" name="c_location" ng-model="vm.free_emitter.c_location" ng-options="c_location as c_location.name for c_location in vm.c_locations track by c_location.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.c_colony" for="field_c_colony">c_colony</label>
            <select class="form-control" id="field_c_colony" name="c_colony" ng-model="vm.free_emitter.c_colony" ng-options="c_colony as c_colony.name for c_colony in vm.c_colonys track by c_colony.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.c_zip_code" for="field_c_zip_code">c_zip_code</label>
            <select class="form-control" id="field_c_zip_code" name="c_zip_code" ng-model="vm.free_emitter.c_zip_code" ng-options="c_zip_code as c_zip_code.postcode for c_zip_code in vm.c_zip_codes track by c_zip_code.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.free_emitter.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_emitter.free_digital_certificate" for="field_free_digital_certificate">free_digital_certificate</label>
            <select class="form-control" id="field_free_digital_certificate" name="free_digital_certificate" ng-model="vm.free_emitter.free_digital_certificate" ng-options="free_digital_certificate as free_digital_certificate.id for free_digital_certificate in vm.free_digital_certificates | orderBy:'id' track by free_digital_certificate.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
