<div>
    <h2 translate="megabillingplatformApp.free_emitter.home.title">Free_emitters</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="free-emitter.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.free_emitter.home.createLabel">
                        Create new Free_emitter
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span translate="megabillingplatformApp.free_emitter.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_int"><span translate="megabillingplatformApp.free_emitter.num_int">Num_int</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_ext"><span translate="megabillingplatformApp.free_emitter.num_ext">Num_ext</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span translate="megabillingplatformApp.free_emitter.street">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="create_date"><span translate="megabillingplatformApp.free_emitter.create_date">Create_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activated"><span translate="megabillingplatformApp.free_emitter.activated">Activated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tax_regime.name"><span translate="megabillingplatformApp.free_emitter.tax_regime">tax_regime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_country.name"><span translate="megabillingplatformApp.free_emitter.c_country">c_country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_state.name"><span translate="megabillingplatformApp.free_emitter.c_state">c_state</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_municipality.name"><span translate="megabillingplatformApp.free_emitter.c_municipality">c_municipality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_location.name"><span translate="megabillingplatformApp.free_emitter.c_location">c_location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_colony.name"><span translate="megabillingplatformApp.free_emitter.c_colony">c_colony</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_zip_code.postcode"><span translate="megabillingplatformApp.free_emitter.c_zip_code">c_zip_code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="megabillingplatformApp.free_emitter.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="free_digital_certificate.id"><span translate="megabillingplatformApp.free_emitter.free_digital_certificate">free_digital_certificate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="free_emitter in vm.free_emitters track by free_emitter.id">
                    <td><a ui-sref="free-emitter-detail({id:free_emitter.id})">{{free_emitter.id}}</a></td>
                    <td>{{free_emitter.reference}}</td>
                    <td>{{free_emitter.num_int}}</td>
                    <td>{{free_emitter.num_ext}}</td>
                    <td>{{free_emitter.street}}</td>
                    <td>{{free_emitter.create_date | date:'medium'}}</td>
                    <td>{{free_emitter.activated}}</td>
                    <td>
                        <a ui-sref="tax-regime-detail({id:free_emitter.tax_regime.id})">{{free_emitter.tax_regime.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-country-detail({id:free_emitter.c_country.id})">{{free_emitter.c_country.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-state-detail({id:free_emitter.c_state.id})">{{free_emitter.c_state.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-municipality-detail({id:free_emitter.c_municipality.id})">{{free_emitter.c_municipality.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-location-detail({id:free_emitter.c_location.id})">{{free_emitter.c_location.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-colony-detail({id:free_emitter.c_colony.id})">{{free_emitter.c_colony.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-zip-code-detail({id:free_emitter.c_zip_code.id})">{{free_emitter.c_zip_code.postcode}}</a>
                    </td>
                    <td>
                        {{free_emitter.user.login}}
                    </td>
                    <td>
                        <a ui-sref="free-digital-certificate-detail({id:free_emitter.free_digital_certificate.id})">{{free_emitter.free_digital_certificate.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="free-emitter-detail({id:free_emitter.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-emitter.edit({id:free_emitter.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-emitter.delete({id:free_emitter.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
