
<div>
    <h2><span translate="megabillingplatformApp.free_emitter.detail.title">Free Emitter</span> {{vm.free_emitter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="megabillingplatformApp.free_emitter.reference">Reference</span></dt>
        <dd>
            <span>{{vm.free_emitter.reference}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.num_int">Num Int</span></dt>
        <dd>
            <span>{{vm.free_emitter.num_int}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.num_ext">Num Ext</span></dt>
        <dd>
            <span>{{vm.free_emitter.num_ext}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.street">Street</span></dt>
        <dd>
            <span>{{vm.free_emitter.street}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.create_date">Create Date</span></dt>
        <dd>
            <span>{{vm.free_emitter.create_date | date:'medium'}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.activated">Activated</span></dt>
        <dd>
            <span>{{vm.free_emitter.activated}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.rfc">Rfc</span></dt>
        <dd>
            <span>{{vm.free_emitter.rfc}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.email">Email</span></dt>
        <dd>
            <span>{{vm.free_emitter.email}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.bussines_name">Bussines Name</span></dt>
        <dd>
            <span>{{vm.free_emitter.bussines_name}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.location">Location</span></dt>
        <dd>
            <span>{{vm.free_emitter.location}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.intersection">Intersection</span></dt>
        <dd>
            <span>{{vm.free_emitter.intersection}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.fax">Fax</span></dt>
        <dd>
            <span>{{vm.free_emitter.fax}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.phone1">Phone 1</span></dt>
        <dd>
            <span>{{vm.free_emitter.phone1}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.phone2">Phone 2</span></dt>
        <dd>
            <span>{{vm.free_emitter.phone2}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.path_certificate">Path Certificate</span></dt>
        <dd>
            <span>{{vm.free_emitter.path_certificate}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.path_key">Path Key</span></dt>
        <dd>
            <span>{{vm.free_emitter.path_key}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.path_logo">Path Logo</span></dt>
        <dd>
            <span>{{vm.free_emitter.path_logo}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.filecertificate">Filecertificate</span></dt>
        <dd>
            <div ng-if="vm.free_emitter.filecertificate">
                <a ng-click="vm.openFile(vm.free_emitter.filecertificateContentType, vm.free_emitter.filecertificate)" translate="entity.action.open">open</a>
                {{vm.free_emitter.filecertificateContentType}}, {{vm.byteSize(vm.free_emitter.filecertificate)}}
            </div>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.filekey">Filekey</span></dt>
        <dd>
            <div ng-if="vm.free_emitter.filekey">
                <a ng-click="vm.openFile(vm.free_emitter.filekeyContentType, vm.free_emitter.filekey)" translate="entity.action.open">open</a>
                {{vm.free_emitter.filekeyContentType}}, {{vm.byteSize(vm.free_emitter.filekey)}}
            </div>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.filelogo">Filelogo</span></dt>
        <dd>
            <div ng-if="vm.free_emitter.filelogo">
                <a ng-click="vm.openFile(vm.free_emitter.filelogoContentType, vm.free_emitter.filelogo)" translate="entity.action.open">open</a>
                {{vm.free_emitter.filelogoContentType}}, {{vm.byteSize(vm.free_emitter.filelogo)}}
            </div>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.type_taxpayer">Type Taxpayer</span></dt>
        <dd>
            <span>{{vm.free_emitter.type_taxpayer}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.accuracy">Accuracy</span></dt>
        <dd>
            <span>{{vm.free_emitter.accuracy}}</span>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.tax_regime">Tax Regime</span></dt>
        <dd>
            <a ui-sref="tax-regime-detail({id:vm.free_emitter.tax_regime.id})">{{vm.free_emitter.tax_regime.name}}</a>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.c_country">C Country</span></dt>
        <dd>
            <a ui-sref="c-country-detail({id:vm.free_emitter.c_country.id})">{{vm.free_emitter.c_country.name}}</a>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.c_state">C State</span></dt>
        <dd>
            <a ui-sref="c-state-detail({id:vm.free_emitter.c_state.id})">{{vm.free_emitter.c_state.name}}</a>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.c_municipality">C Municipality</span></dt>
        <dd>
            <a ui-sref="c-municipality-detail({id:vm.free_emitter.c_municipality.id})">{{vm.free_emitter.c_municipality.name}}</a>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.c_colony">C Colony</span></dt>
        <dd>
            <a ui-sref="c-colony-detail({id:vm.free_emitter.c_colony.id})">{{vm.free_emitter.c_colony.code}}</a>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.c_zip_code">C Zip Code</span></dt>
        <dd>
            <a ui-sref="c-zip-code-detail({id:vm.free_emitter.c_zip_code.id})">{{vm.free_emitter.c_zip_code.code}}</a>
        </dd>
        <dt><span translate="megabillingplatformApp.free_emitter.user">User</span></dt>
        <dd>
            {{vm.free_emitter.user.login}}
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
