
<div>
    <h2><span translate="megabillingplatformApp.free_emitter.detail.title">Free_emitter</span> {{vm.free_emitter.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="megabillingplatformApp.free_emitter.rfc">RFC</dt></dt>
        <dd>
            <span>{{vm.free_emitter.rfc}}<span>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.name">Name</dt></dt>
        <dd>
            <span>{{vm.free_emitter.name}}<span>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.tax_regime">Tax regime</span></dt>
        <dd>
            <a ui-sref="tax-regime-detail({id:vm.free_emitter.tax_regime.id})">{{vm.free_emitter.tax_regime.name}}</a>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.email">Email</dt></dt>
        <dd>
            <span>{{vm.free_emitter.email}}<span>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.path_certificate">Path_certificate</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.free_emitter.path_certificateContentType, vm.free_emitter.path_certificate)" ng-if="vm.free_emitter.path_certificate" target="_blank">open</a>
            <div>{{vm.free_emitter.path_certificateContentType}}, {{vm.byteSize(vm.free_emitter.path_certificate)}}</div>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.private_key">Private key</dt></dt>
        <dd>
            <a ng-click="vm.openFile(vm.free_emitter.private_keyContentType, vm.free_emitter.private_key)" ng-if="vm.free_emitter.private_key" target="_blank">open</a>
            <div>{{vm.free_emitter.private_keyContentType}}, {{vm.byteSize(vm.free_emitter.private_key)}}</div>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.c_country">c_country</span></dt>
        <dd>
            <a ui-sref="c-country-detail({id:vm.free_emitter.c_country.id})">{{vm.free_emitter.c_country.name}}</a>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.c_state">c_state</span></dt>
        <dd>
            <a ui-sref="c-state-detail({id:vm.free_emitter.c_state.id})">{{vm.free_emitter.c_state.name}}</a>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.c_municipality">c_municipality</span></dt>
        <dd>
            <a ui-sref="c-municipality-detail({id:vm.free_emitter.c_municipality.id})">{{vm.free_emitter.c_municipality.name}}</a>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.c_location">c_location</span></dt>
        <dd>
            <a ui-sref="c-location-detail({id:vm.free_emitter.c_location.id})">{{vm.free_emitter.c_location.name}}</a>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.c_colony">c_colony</span></dt>
        <dd>
            <a ui-sref="c-colony-detail({id:vm.free_emitter.c_colony.id})">{{vm.free_emitter.c_colony.name}}</a>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.c_zip_code">c_zip_code</span></dt>
        <dd>
            <a ui-sref="c-zip-code-detail({id:vm.free_emitter.c_zip_code.id})">{{vm.free_emitter.c_zip_code.postcode}}</a>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.reference">Reference</dt></dt>
        <dd>
            <span>{{vm.free_emitter.reference}}<span>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.num_in">Num in</dt></dt>
        <dd>
            <span>{{vm.free_emitter.num_in}}<span>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.num_out">Num out</dt></dt>
        <dd>
            <span>{{vm.free_emitter.num_out}}<span>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.street">Street</dt></dt>
        <dd>
            <span>{{vm.free_emitter.street}}<span>
        </dd>
        <hr>
        <dt><span translate="megabillingplatformApp.free_emitter.user">user</span></dt>
        <dd>
            {{vm.free_emitter.user.login}}
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
