<div>
    <h2 translate="megabillingplatformApp.free_emitter.home.title">Free Emitters</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="free-emitter.newAdmin" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.free_emitter.home.createLabel">
                        Create new Free Emitter
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="megabillingplatformApp.free_emitter.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rfc">RFC</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="megabillingplatformApp.free_emitter.emaill">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="create_date"><span translate="megabillingplatformApp.free_emitter.create_date">Create Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activated"><span translate="megabillingplatformApp.free_emitter.activated">Activated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bussines_name"><span translate="megabillingplatformApp.free_emitter.bussines_namee">Bussines Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone1"><span translate="megabillingplatformApp.free_emitter.phone11">Phone 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type_taxpayer"><span translate="megabillingplatformApp.free_emitter.type_taxpayerr">Type Taxpayer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accuracy"><span translate="megabillingplatformApp.free_emitter.accuracyy">Accuracy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tax_regime.name"><span translate="megabillingplatformApp.free_emitter.tax_regimee">Tax Regime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_country.name"><span translate="megabillingplatformApp.free_emitter.c_countryy">C Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_state.name"><span translate="megabillingplatformApp.free_emitter.c_statee">C State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_municipality.name"><span translate="megabillingplatformApp.free_emitter.c_municipalityy">C Municipality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_colony.code"><span translate="megabillingplatformApp.free_emitter.c_colonyy">C Colony</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_zip_code.code"><span translate="megabillingplatformApp.free_emitter.c_zip_codee">C Zip Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span translate="megabillingplatformApp.free_emitter.streett">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="path_certificate"><span translate="megabillingplatformApp.free_emitter.path_certificatee">Path Certificate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="path_key"><span translate="megabillingplatformApp.free_emitter.path_keyy">Path Key</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="path_logo"><span translate="megabillingplatformApp.free_emitter.path_logoo">Path Logo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="free_emitter in vm.free_emitters track by free_emitter.id">
                    <td><a ui-sref="free-emitter-detail({id:free_emitter.id})">{{free_emitter.id}}</a></td>
                    <td>
                        {{free_emitter.user.login}}
                    </td>
                    <td>{{free_emitter.rfc}}</td>
                    <td>{{free_emitter.email}}</td>
                    <td>{{free_emitter.create_date | date:'medium'}}</td>
                    <td>{{free_emitter.activated}}</td>
                    <td>{{free_emitter.bussines_name}}</td>
                    <td>{{free_emitter.phone1}}</td>
                    <td>{{free_emitter.type_taxpayer.name}}</td>
                    <td>{{free_emitter.accuracy}}</td>
                    <td>
                        <a ui-sref="tax-regime-detail({id:free_emitter.tax_regime.id})">{{free_emitter.tax_regime.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-country-detail({id:free_emitter.c_country.id})">{{free_emitter.c_country.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-state-detail({id:free_emitter.c_state.id})">{{free_emitter.c_state.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-municipality-detail({id:free_emitter.c_municipality.id})">{{free_emitter.c_municipality.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-colony-detail({id:free_emitter.c_colony.id})">{{free_emitter.c_colony.code}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-zip-code-detail({id:free_emitter.c_zip_code.id})">{{free_emitter.c_zip_code.code}}</a>
                    </td>
                    <td>
                        {{free_emitter.street}}</a>
                    </td>
                    <td>{{free_emitter.path_certificate}}</td>
                    <td>{{free_emitter.path_key}}</td>
                    <td>{{free_emitter.path_logo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="free-emitter-detail({id:free_emitter.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-emitter.edit({id:free_emitter.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-emitter.delete({id:free_emitter.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
