
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_ecc11Label" translate="megabillingplatformApp.freecom_ecc11.home.createOrEditLabel">Create or edit a Freecom Ecc 11</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.freecom_ecc11.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.freecom_ecc11.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11.version" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                    ng-model="vm.freecom_ecc11.version"
                    required />
            <div ng-show="editForm.version.$invalid">
                <p class="help-block"
                    ng-show="editForm.version.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11.type_operation" for="field_type_operation">Type Operation</label>
            <input type="text" class="form-control" name="type_operation" id="field_type_operation"
                    ng-model="vm.freecom_ecc11.type_operation"
                    required />
            <div ng-show="editForm.type_operation.$invalid">
                <p class="help-block"
                    ng-show="editForm.type_operation.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11.number_account" for="field_number_account">Number Account</label>
            <input type="text" class="form-control" name="number_account" id="field_number_account"
                    ng-model="vm.freecom_ecc11.number_account"
                    required ng-maxlength="50" />
            <div ng-show="editForm.number_account.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_account.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.number_account.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11.subtotal" for="field_subtotal">Subtotal</label>
            <input type="number" class="form-control" name="subtotal" id="field_subtotal"
                    ng-model="vm.freecom_ecc11.subtotal"
                    required />
            <div ng-show="editForm.subtotal.$invalid">
                <p class="help-block"
                    ng-show="editForm.subtotal.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.subtotal.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_ecc11.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                    ng-model="vm.freecom_ecc11.total"
                    required />
            <div ng-show="editForm.total.$invalid">
                <p class="help-block"
                    ng-show="editForm.total.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_ecc11.free_cfdi" for="field_free_cfdi">Free Cfdi</label>
            <select class="form-control" id="field_free_cfdi" name="free_cfdi" ng-model="vm.freecom_ecc11.free_cfdi" ng-options="free_cfdi as free_cfdi.id for free_cfdi in vm.free_cfdis track by free_cfdi.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
