<div>
    <h2 translate="megabillingplatformApp.free_tax_retentions.home.title">Free_tax_retentions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="free-tax-retentions.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.free_tax_retentions.home.createLabel">
                        Create new Free_tax_retentions
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span translate="megabillingplatformApp.free_tax_retentions.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="free_concept.id"><span translate="megabillingplatformApp.free_tax_retentions.free_concept">free_concept</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tax_types.name"><span translate="megabillingplatformApp.free_tax_retentions.tax_types">tax_types</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="free_tax_retentions in vm.free_tax_retentions track by free_tax_retentions.id">
                    <td><a ui-sref="free-tax-retentions-detail({id:free_tax_retentions.id})">{{free_tax_retentions.id}}</a></td>
                    <td>{{free_tax_retentions.amount}}</td>
                    <td>
                        <a ui-sref="free-concept-detail({id:free_tax_retentions.free_concept.id})">{{free_tax_retentions.free_concept.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tax-types-detail({id:free_tax_retentions.tax_types.id})">{{free_tax_retentions.tax_types.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="free-tax-retentions-detail({id:free_tax_retentions.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-tax-retentions.edit({id:free_tax_retentions.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-tax-retentions.delete({id:free_tax_retentions.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
