
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_digital_certificateLabel" translate="megabillingplatformApp.free_digital_certificate.home.createOrEditLabel">Create or edit a Free_digital_certificate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.free_digital_certificate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_digital_certificate.path_certificate" for="field_path_certificate">Path_certificate</label>
            <input type="text" class="form-control" name="path_certificate" id="field_path_certificate"
                    ng-model="vm.free_digital_certificate.path_certificate"
                    required />
            <div ng-show="editForm.path_certificate.$invalid">
                <p class="help-block"
                    ng-show="editForm.path_certificate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_digital_certificate.path_private_key" for="field_path_private_key">Path_private_key</label>
            <input type="text" class="form-control" name="path_private_key" id="field_path_private_key"
                    ng-model="vm.free_digital_certificate.path_private_key"
                    required />
            <div ng-show="editForm.path_private_key.$invalid">
                <p class="help-block"
                    ng-show="editForm.path_private_key.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
