
<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaxpayer_clientLabel" translate="megabillingplatformApp.taxpayer_client.home.createOrEditLabel">Create or edit a Taxpayer Client</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.taxpayer_client.id">
            <label class="col-sm-4 control-label no-padding-right" for="id" translate="global.field.id">ID</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="vm.taxpayer_client.id" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_client.rfc" for="field_rfc">Rfc</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="rfc" id="field_rfc"
                        ng-model="vm.taxpayer_client.rfc"
                        required ng-minlength="12" ng-maxlength="13" ng-pattern="/^[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]{3}$/" />
                <div ng-show="editForm.rfc.$invalid">
                    <p class="help-block"
                        ng-show="editForm.rfc.$error.minlength" translate="entity.validation.minlength" translate-value-min="12">
                        This field is required to be at least 12 characters.
                    </p>
                    <p class="help-block"
                        ng-show="editForm.rfc.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="13">
                        This field cannot be longer than 13 characters.
                    </p>
                    <p class="help-block"
                        ng-show="editForm.rfc.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]{3}$">
                        This field should follow pattern "^[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]{3}$".
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_client.bussinesname" for="field_bussinesname">Bussinesname</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="bussinesname" id="field_bussinesname"
                    ng-model="vm.taxpayer_client.bussinesname"
                    required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_client.email" for="field_email">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="email" id="field_email"
                        ng-model="vm.taxpayer_client.email"
                        required ng-minlength="6" ng-maxlength="254" ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/" />
                <div ng-show="editForm.email.$invalid">
                    <p class="help-block"
                        ng-show="editForm.email.$error.minlength" translate="entity.validation.minlength" translate-value-min="6">
                        This field is required to be at least 6 characters.
                    </p>
                    <p class="help-block"
                        ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="254">
                        This field cannot be longer than 254 characters.
                    </p>
                    <p class="help-block"
                        ng-show="editForm.email.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$">
                        This field should follow pattern "^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$".
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.c_country" for="field_c_country">C Country</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_country" name="c_country" ng-model="vm.client_address.c_country"
                        ng-options="c_country as c_country.name for c_country in vm.c_countries track by c_country.id" data-ng-change="vm.onChangeC_country()"
                        required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.c_state" for="field_c_state">C State</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_state" name="c_state" ng-model="vm.client_address.c_state"
                        ng-options="c_state as c_state.name for c_state in vm.c_states track by c_state.id" data-ng-change="vm.onChangeC_state()" >
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.c_municipality" for="field_c_municipality">C Municipality</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_municipality" name="c_municipality" ng-model="vm.client_address.c_municipality"
                        ng-options="c_municipality as c_municipality.name for c_municipality in vm.c_municipalities track by c_municipality.id" data-ng-change="vm.onChangeC_municipality()">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.c_colony" for="field_c_colony">C Colony</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_colony" name="c_colony" ng-model="vm.client_address.c_colony"
                        ng-options="c_colony as c_colony.code for c_colony in vm.c_colonies track by c_colony.id" data-ng-change="vm.onChangeC_colony()">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.c_zip_code" for="field_c_zip_code">C Zip Code</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="field_c_zip_code" name="c_zip_code" ng-model="vm.client_address.c_zip_code.code"
                    readonly/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.location" for="field_location">Location</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="location" id="field_location"
                       ng-model="vm.client_address.location"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.street" for="field_street">Street</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="street" id="field_street"
                       ng-model="vm.client_address.street"
                       required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.intersection" for="field_intersection">Intersection</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="intersection" id="field_intersection"
                       ng-model="vm.client_address.intersection"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.no_int" for="field_no_int">No Int</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="no_int" id="field_no_int"
                       ng-model="vm.client_address.no_int"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.no_ext" for="field_no_ext">No Ext</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="no_ext" id="field_no_ext"
                       ng-model="vm.client_address.no_ext"
                       ng-maxlength="10" />
                <div ng-show="editForm.no_ext.$invalid">
                    <p class="help-block"
                       ng-show="editForm.no_ext.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                        This field cannot be longer than 10 characters.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.client_address.reference" for="field_reference">Reference</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="reference" id="field_reference"
                       ng-model="vm.client_address.reference" rows="5" >
                </textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
