<div>
    <h2 translate="megabillingplatformApp.cfdi_template.home.title">Cfdi_templates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cfdi-template.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.cfdi_template.home.createLabel">
                        Create new Cfdi_template
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <h4 translate="megabillingplatformApp.cfdi_template.filtername">Filter by name</h4>
            <p class="input-group">
                <span class="input-group-addon" translate="megabillingplatformApp.cfdi_template.name">Name</span>
                <input type="text" class="input-sm form-control" name="filtername" ng-model="vm.filtername" ng-change="vm.onChangeName()"/>
            </p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="megabillingplatformApp.cfdi_template.namee">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="megabillingplatformApp.cfdi_template.descriptionn">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="template"><span translate="megabillingplatformApp.cfdi_template.templatee">Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="file"><span translate="megabillingplatformApp.cfdi_template.filee">File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cfdi_template in vm.cfdi_templates track by cfdi_template.id">
                    <td><a ui-sref="cfdi-template-detail({id:cfdi_template.id})">{{cfdi_template.id}}</a></td>
                    <td>{{cfdi_template.name}}</td>
                    <td>{{cfdi_template.description}}</td>
                    <td>{{cfdi_template.template}}</td>
                    <td><a ng-click="vm.openFile(cfdi_template.fileContentType, cfdi_template.file)" ng-if="cfdi_template.file" target="_blank">open</a>
                        {{cfdi_template.fileContentType}}, {{byteSize(cfdi_template.file)}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cfdi-template-detail({id:cfdi_template.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cfdi-template.edit({id:cfdi_template.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cfdi-template.delete({id:cfdi_template.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
