<div>
    <h2 translate="megabillingplatformApp.com_desc_state.home.title">Com_desc_states</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="com-desc-state.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.com_desc_state.home.createLabel">
                        Create new Com_desc_state
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span translate="megabillingplatformApp.com_desc_state.street">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noext"><span translate="megabillingplatformApp.com_desc_state.noext">Noext</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noint"><span translate="megabillingplatformApp.com_desc_state.noint">Noint</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="locale"><span translate="megabillingplatformApp.com_desc_state.locale">Locale</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span translate="megabillingplatformApp.com_desc_state.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="com_public_notaries.id"><span translate="megabillingplatformApp.com_desc_state.com_public_notaries">com_public_notaries</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type_state.id"><span translate="megabillingplatformApp.com_desc_state.type_state">type_state</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_colony.id"><span translate="megabillingplatformApp.com_desc_state.c_colony">c_colony</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_municipality.id"><span translate="megabillingplatformApp.com_desc_state.c_municipality">c_municipality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_state.id"><span translate="megabillingplatformApp.com_desc_state.c_state">c_state</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_country.id"><span translate="megabillingplatformApp.com_desc_state.c_country">c_country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_zip_code.id"><span translate="megabillingplatformApp.com_desc_state.c_zip_code">c_zip_code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="com_desc_state in vm.com_desc_states track by com_desc_state.id">
                    <td><a ui-sref="com-desc-state-detail({id:com_desc_state.id})">{{com_desc_state.id}}</a></td>
                    <td>{{com_desc_state.street}}</td>
                    <td>{{com_desc_state.noext}}</td>
                    <td>{{com_desc_state.noint}}</td>
                    <td>{{com_desc_state.locale}}</td>
                    <td>{{com_desc_state.reference}}</td>
                    <td>
                        <a ui-sref="com-public-notaries-detail({id:com_desc_state.com_public_notaries.id})">{{com_desc_state.com_public_notaries.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="type-state-detail({id:com_desc_state.type_state.id})">{{com_desc_state.type_state.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-colony-detail({id:com_desc_state.c_colony.id})">{{com_desc_state.c_colony.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-municipality-detail({id:com_desc_state.c_municipality.id})">{{com_desc_state.c_municipality.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-state-detail({id:com_desc_state.c_state.id})">{{com_desc_state.c_state.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-country-detail({id:com_desc_state.c_country.id})">{{com_desc_state.c_country.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-zip-code-detail({id:com_desc_state.c_zip_code.id})">{{com_desc_state.c_zip_code.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="com-desc-state-detail({id:com_desc_state.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-desc-state.edit({id:com_desc_state.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-desc-state.delete({id:com_desc_state.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
