
<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLegendLabel" translate="megabillingplatformApp.legend.home.createOrEditLabel">Create or edit a Legend</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.legend.tax_provision" for="field_tax_provision">Tax_provision</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="tax_provision" id="field_tax_provision"
                       ng-model="vm.legend.tax_provision"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.legend.norm" for="field_norm">Norm</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="norm" id="field_norm"
                       ng-model="vm.legend.norm"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.legend.text_legend" for="field_text_legend">Text_legend</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="text_legend" id="field_text_legend"
                          ng-model="vm.legend.text_legend" rows="5"
                          required></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
