<div>
    <h2 translate="megabillingplatformApp.freecom_foreign_exchange.home.title">Freecom_foreign_exchanges</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="freecom-foreign-exchange.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.freecom_foreign_exchange.home.createLabel">
                        Create new Freecom_foreign_exchange
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_type_operation.name"><span translate="megabillingplatformApp.freecom_foreign_exchange.c_type_operation">c_type_operation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="free_cfdi.id"><span translate="megabillingplatformApp.freecom_foreign_exchange.free_cfdi">free_cfdi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="freecom_foreign_exchange in vm.freecom_foreign_exchanges track by freecom_foreign_exchange.id">
                    <td><a ui-sref="freecom-foreign-exchange-detail({id:freecom_foreign_exchange.id})">{{freecom_foreign_exchange.id}}</a></td>
                    <td>
                        <a ui-sref="c-type-operation-detail({id:freecom_foreign_exchange.c_type_operation.id})">{{freecom_foreign_exchange.c_type_operation.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="free-cfdi-detail({id:freecom_foreign_exchange.free_cfdi.id})">{{freecom_foreign_exchange.free_cfdi.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="freecom-foreign-exchange-detail({id:freecom_foreign_exchange.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freecom-foreign-exchange.edit({id:freecom_foreign_exchange.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freecom-foreign-exchange.delete({id:freecom_foreign_exchange.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
