<div>
    <h2 translate="megabillingplatformApp.request_taxpayer_account.home.title">Request Taxpayer Accounts</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="hr hr-16 hr-dotted"></div>

    <div class="row">
        <div class="col-sm-12">
            <form name="editForm" class="form-horizontal" role="form" ng-submit="vm.search()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.request_taxpayer_account.date_from" for="field_date">Date from</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.datefrom" is-open="vm.datePickerOpenStatus.date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.request_taxpayer_account.date_to" for="field_date1">Date to</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input id="field_date1" type="text" class="form-control" name="date1" uib-datepicker-popup="{{dateformat}}" ng-model="vm.dateto" is-open="vm.datePickerOpenStatus1.date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar1('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.request_taxpayer_account.request_state" for="field_request_state">Request State</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="field_request_state" name="field_request_state" ng-model="vm.request_state"
                                        ng-options="request_state as request_state.name for request_state in vm.request_stateS track by request_state.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">
                            <span translate="entity.action.search">Search</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h3 class="header smaller lighter blue" translate="megabillingplatformApp.request_taxpayer_account.search_result">
        Resultados de la búsqueda
    </h3>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_request"><span translate="megabillingplatformApp.request_taxpayer_account.date_request">Date Request</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="request_state.name"><span translate="megabillingplatformApp.request_taxpayer_account.request_state">Request State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rfc"><span translate="megabillingplatformApp.request_taxpayer_account.filterrfc">Rfc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bussines_name"><span translate="megabillingplatformApp.request_taxpayer_account.filterbussines_name">Bussines Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="megabillingplatformApp.request_taxpayer_account.filtername">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span translate="megabillingplatformApp.request_taxpayer_account.filterphone">Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request_taxpayer_account in vm.request_taxpayer_accounts track by request_taxpayer_account.id">
                    <td><a ui-sref="request-taxpayer-account-detail({id:request_taxpayer_account.id})">{{request_taxpayer_account.id}}</a></td>
                    <td>{{request_taxpayer_account.daterequest | date:'medium'}}</td>
                    <td>{{request_taxpayer_account.request_state.name}}</td>
                    <td>{{request_taxpayer_account.rfc}}</td>
                    <td>{{request_taxpayer_account.bussinesname}}</td>
                    <td>{{request_taxpayer_account.name}}</td>
                    <td>{{request_taxpayer_account.phone}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="request-taxpayer-account-detail({id:request_taxpayer_account.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="button"
                                    class="btn btn-primary btn-sm" ng-click="vm.accept(request_taxpayer_account)">
                                <span class="hidden-xs hidden-sm" translate="entity.action.apro"></span>
                            </button>
                            <button type="button" ng-click="vm.reject(request_taxpayer_account)"
                                    class="btn btn-danger btn-sm">
                                <span class="hidden-xs hidden-sm" translate="entity.action.reject"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request-taxpayer-account.delete({id:request_taxpayer_account.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
