<div>
    <h2 translate="megabillingplatformApp.request_taxpayer_account.home.title">Request Taxpayer Accounts</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="megabillingplatformApp.request_taxpayer_account.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_request"><span translate="megabillingplatformApp.request_taxpayer_account.date_request">Date Request</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firtsurname"><span translate="megabillingplatformApp.request_taxpayer_account.firtsurname">Firtsurname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="secondsurname"><span translate="megabillingplatformApp.request_taxpayer_account.secondsurname">Secondsurname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span translate="megabillingplatformApp.request_taxpayer_account.phone">Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="megabillingplatformApp.request_taxpayer_account.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_born"><span translate="megabillingplatformApp.request_taxpayer_account.date_born">Date Born</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span translate="megabillingplatformApp.request_taxpayer_account.gender">Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rfc"><span translate="megabillingplatformApp.request_taxpayer_account.rfc">Rfc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bussines_name"><span translate="megabillingplatformApp.request_taxpayer_account.bussines_name">Bussines Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="account_email"><span translate="megabillingplatformApp.request_taxpayer_account.account_email">Account Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="request_state.name"><span translate="megabillingplatformApp.request_taxpayer_account.request_state">Request State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span translate="megabillingplatformApp.request_taxpayer_account.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request_taxpayer_account in vm.request_taxpayer_accounts track by request_taxpayer_account.id">
                    <td><a ui-sref="request-taxpayer-account-detail({id:request_taxpayer_account.id})">{{request_taxpayer_account.id}}</a></td>
                    <td>{{request_taxpayer_account.name}}</td>
                    <td>{{request_taxpayer_account.date_request | date:'medium'}}</td>
                    <td>{{request_taxpayer_account.firtsurname}}</td>
                    <td>{{request_taxpayer_account.secondsurname}}</td>
                    <td>{{request_taxpayer_account.phone}}</td>
                    <td>{{request_taxpayer_account.email}}</td>
                    <td>{{request_taxpayer_account.date_born | date:'mediumDate'}}</td>
                    <td>{{request_taxpayer_account.gender}}</td>
                    <td>{{request_taxpayer_account.rfc}}</td>
                    <td>{{request_taxpayer_account.bussines_name}}</td>
                    <td>{{request_taxpayer_account.account_email}}</td>
                    <td>{{request_taxpayer_account.request_state.name}}</td>
                    <td>{{request_taxpayer_account.user.login}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="request-taxpayer-account-detail({id:request_taxpayer_account.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request-taxpayer-account.edit({id:request_taxpayer_account.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
