
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequest_taxpayer_accountLabel" translate="megabillingplatformApp.request_taxpayer_account.home.createOrEditLabel">Create or edit a Request Taxpayer Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.request_taxpayer_account.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.request_taxpayer_account.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.request_taxpayer_account.name"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.date_request" for="field_date_request">Date Request</label>
                <div class="input-group">
                    <input id="field_date_request" type="text" class="form-control" name="date_request" datetime-picker="{{dateformat}}" ng-model="vm.request_taxpayer_account.date_request" is-open="vm.datePickerOpenStatus.date_request"
                    readonly/>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.firtsurname" for="field_firtsurname">Firtsurname</label>
            <input type="text" class="form-control" name="firtsurname" id="field_firtsurname"
                    ng-model="vm.request_taxpayer_account.firtsurname"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.secondsurname" for="field_secondsurname">Secondsurname</label>
            <input type="text" class="form-control" name="secondsurname" id="field_secondsurname"
                    ng-model="vm.request_taxpayer_account.secondsurname"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.request_taxpayer_account.phone"
                    readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.request_taxpayer_account.email"
                    readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.date_born" for="field_date_born">Date Born</label>
                <div class="input-group">
                    <input id="field_date_born" type="text" class="form-control" name="date_born" uib-datepicker-popup="{{dateformat}}" ng-model="vm.request_taxpayer_account.date_born" is-open="vm.datePickerOpenStatus.date_born"
                    readonly/>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="vm.request_taxpayer_account.gender"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="vm.request_taxpayer_account.rfc"
                    readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.bussines_name" for="field_bussines_name">Bussines Name</label>
            <input type="text" class="form-control" name="bussines_name" id="field_bussines_name"
                    ng-model="vm.request_taxpayer_account.bussines_name"
                    readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.request_taxpayer_account.account_email" for="field_account_email">Account Email</label>
            <input type="text" class="form-control" name="account_email" id="field_account_email"
                    ng-model="vm.request_taxpayer_account.account_email"
                    readonly/>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.request_taxpayer_account.request_state" for="field_request_state">Request State</label>
            <select class="form-control" id="field_request_state" name="request_state" ng-model="vm.request_taxpayer_account.request_state" ng-options="request_state as request_state.name for request_state in vm.request_states track by request_state.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.request_state.$invalid">
            <p class="help-block"
                ng-show="editForm.request_state.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.request_taxpayer_account.user" for="field_user">User</label>
            <input type="text" class="form-control" id="field_user" name="user"
                   ng-model="vm.request_taxpayer_account.user.login" readonly/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
