<div>
    <h2 translate="megabillingplatformApp.com_addressee.home.title">Com Addressees</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="com-addressee.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.com_addressee.home.createLabel">
                        Create new Com Addressee
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span translate="megabillingplatformApp.com_addressee.street">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="no_ext"><span translate="megabillingplatformApp.com_addressee.no_ext">No Ext</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="no_int"><span translate="megabillingplatformApp.com_addressee.no_int">No Int</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="locate"><span translate="megabillingplatformApp.com_addressee.locate">Locate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span translate="megabillingplatformApp.com_addressee.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numregidtrib"><span translate="megabillingplatformApp.com_addressee.numregidtrib">Numregidtrib</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rfc"><span translate="megabillingplatformApp.com_addressee.rfc">Rfc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="curp"><span translate="megabillingplatformApp.com_addressee.curp">Curp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="megabillingplatformApp.com_addressee.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_country.name"><span translate="megabillingplatformApp.com_addressee.c_country">C Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_state.name"><span translate="megabillingplatformApp.com_addressee.c_state">C State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_municipality.name"><span translate="megabillingplatformApp.com_addressee.c_municipality">C Municipality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_colony.code"><span translate="megabillingplatformApp.com_addressee.c_colony">C Colony</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_zip_code.code"><span translate="megabillingplatformApp.com_addressee.c_zip_code">C Zip Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="com_addressee in vm.com_addressees track by com_addressee.id">
                    <td><a ui-sref="com-addressee-detail({id:com_addressee.id})">{{com_addressee.id}}</a></td>
                    <td>{{com_addressee.street}}</td>
                    <td>{{com_addressee.no_ext}}</td>
                    <td>{{com_addressee.no_int}}</td>
                    <td>{{com_addressee.locate}}</td>
                    <td>{{com_addressee.reference}}</td>
                    <td>{{com_addressee.numregidtrib}}</td>
                    <td>{{com_addressee.rfc}}</td>
                    <td>{{com_addressee.curp}}</td>
                    <td>{{com_addressee.name}}</td>
                    <td>
                        <a ui-sref="c-country-detail({id:com_addressee.c_country.id})">{{com_addressee.c_country.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-state-detail({id:com_addressee.c_state.id})">{{com_addressee.c_state.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-municipality-detail({id:com_addressee.c_municipality.id})">{{com_addressee.c_municipality.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-colony-detail({id:com_addressee.c_colony.id})">{{com_addressee.c_colony.code}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-zip-code-detail({id:com_addressee.c_zip_code.id})">{{com_addressee.c_zip_code.code}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="com-addressee-detail({id:com_addressee.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-addressee.edit({id:com_addressee.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-addressee.delete({id:com_addressee.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
