<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1>
                {{'global.user.title' | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {{'megabillingplatformApp.free_cfdi.home.createLabel' | translate}}
                </small>
            </h1>
        </div>
        <div class="col-md-4">
            <a title="Ayuda" data-rel="tooltip" class="btn btn-sm btn-info tooltip-info pull-right" href="">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
    </div>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <li>
                <a href="#/">
                    <i class="ace-icon fa fa-home light-blue bigger-150"></i>
                </a>
            </li>
            <li>
				<a ui-sref="free-emitter.new({login : vm.account.login })">{{'global.user.emitter.data' | translate}}</a>
			</li>
			<li class="active">
				<a ui-sref="free-cfdi.new({login : vm.account.login })">{{'global.user.generate.cfdi' | translate}}</a>
			</li>
            <li>
                <a href="">{{'global.user.search.cfdi' | translate}}</a>
            </li>
            <li>
                <a href="">{{'global.user.join.mega' | translate}}</a>
            </li>
        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="hr hr-16 hr-dotted"></div>

<div class="row">
	<div class="col-sm-12">
		
		<jhi-alert-error></jhi-alert-error>
		
		<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
			<uib-tabset active="active">
				<uib-tab heading="Emisor">
					<div class="row">
						<div class="col-md-6">

							<h3 class="header smaller lighter blue" translate="megabillingplatformApp.free_emitter.labelDE">
								Datos del Emisor
							</h3>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.rfc" for="field_rfc">
									RFC
								</label>

								<div class="col-sm-8">
									<input type="text" class="form-control" name="rfc" id="field_rfc"
									   ng-model="vm.free_cfdi.free_emitter.rfc"
									   required ng-minlength="12" ng-maxlength="13" ng-pattern="/^[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?$/" readonly />
									<div ng-show="editForm.rfc.$invalid">
										<p class="help-block"
										   ng-show="editForm.rfc.$error.minlength" translate="entity.validation.minlength" translate-value-min="12">
											This field is required to be at least 12 characters.
										</p>
										<p class="help-block"
										   ng-show="editForm.rfc.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="13">
											This field cannot be longer than 13 characters.
										</p>
										<p class="help-block"
										   ng-show="editForm.rfc.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?$">
											This field should follow pattern "^[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?$".
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.type_taxpayer" for="field_type_taxpayer">Type taxpayer</label>
								<div class="col-sm-8">
									<input class="form-control" id="field_type_taxpayer" name="type_taxpayer" ng-model="vm.free_cfdi.free_emitter.type_taxpayer.name" required readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.tax_regime" for="field_tax_regime">tax_regime</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="field_tax_regime" name="tax_regime" ng-model="vm.free_cfdi.free_emitter.tax_regime.name"  required readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.bussines_name" for="field_social_reason">
									Social reason
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="social_reason" id="field_social_reason"
										   ng-model="vm.free_cfdi.free_emitter.bussines_name"
										   required ng-minlength="3" ng-maxlength="50" readonly />
									<div ng-show="editForm.social_reason.$invalid">
										<p class="help-block"
										   ng-show="editForm.social_reason.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
											This field is required to be at least 3 characters.
										</p>
										<p class="help-block"
										   ng-show="editForm.social_reason.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
											This field cannot be longer than 50 characters.
										</p>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.email" for="field_email">
									Email
								</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" name="email" id="field_email"
									   ng-model="vm.free_cfdi.free_emitter.email"
									   required ng-minlength="6" ng-maxlength="254" ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/" readonly />
									<div ng-show="editForm.email.$invalid">										
										<p class="help-block"
										   ng-show="editForm.email.$error.minlength" translate="entity.validation.minlength" translate-value-min="6">
											This field is required to be at least 6 characters.
										</p>
										<p class="help-block"
										   ng-show="editForm.email.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="254">
											This field cannot be longer than 254 characters.
										</p>
										<p class="help-block"
										   ng-show="editForm.email.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$">
											This field should follow pattern "^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$".
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.fax" for="field_fax">Fax</label>
								<div class="col-sm-8">
								<input type="text" class="form-control" name="fax" id="field_fax"
									   ng-model="vm.free_cfdi.free_emitter.fax" readonly
									/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.phone1" for="field_phone1">Phone #1</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="phone1" id="field_phone1"
										   ng-model="vm.free_cfdi.free_emitter.phone1"
										   required ng-minlength="1" ng-maxlength="15" ng-pattern="/^[0-9]{1,15}$/" readonly />
									<div ng-show="editForm.phone1.$invalid">
										<p class="help-block"
										   ng-show="editForm.phone1.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
											This field is required to be at least 1 characters.
										</p>
										<p class="help-block"
										   ng-show="editForm.phone1.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
											This field cannot be longer than 15 characters.
										</p>
										<p class="help-block"
										   ng-show="editForm.phone1.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[0-9]{1,15}$">
											This field should follow pattern "^[0-9]{1,15}$".
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.phone2" for="field_phone2">Phone #2</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="phone2" id="field_phone2"
										   ng-model="vm.free_cfdi.free_emitter.phone2" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.accuracy" for="accuracy">Accuracy</label>
								<div class="col-sm-8">
									<input type="text" name="accuracy" id="accuracy" ng-model="vm.free_cfdi.free_emitter.accuracy" required readonly />
								</div>
							</div>							
						</div>
						<div class="col-md-6">
							<h3 class="header smaller lighter blue" translate="megabillingplatformApp.free_emitter.labelFU">
								Ubicación Fiscal
							</h3>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.c_country" for="field_c_country">c_country</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="field_c_country" name="c_country" ng-model="vm.free_cfdi.free_emitter.c_country.name" required readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.c_state" for="field_c_state">c_state</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="field_c_state" name="c_state" ng-model="vm.free_cfdi.free_emitter.c_state.name"  readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.c_municipality" for="field_c_municipality">c_municipality</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="field_c_municipality" name="c_municipality" ng-model="vm.free_cfdi.free_emitter.c_municipality.name" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.c_colony" for="field_c_colony">c_colony</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="field_c_colony" name="c_colony" ng-model="vm.free_cfdi.free_emitter.c_colony.code" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.c_zip_code" for="field_c_zip_code">c_zip_code</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="field_c_zip_code" name="c_zip_code" ng-model="vm.free_cfdi.free_emitter.c_zip_code.code" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right"  translate="megabillingplatformApp.free_emitter.location" for="field_location">Location</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="location" id="field_location"
										   ng-model="vm.free_cfdi.free_emitter.location" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right"  translate="megabillingplatformApp.free_emitter.street" for="field_street">Street</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="street" id="field_street"
											ng-model="vm.free_cfdi.free_emitter.street"
											required readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right"  translate="megabillingplatformApp.free_emitter.intersection" for="intersection">Intersection</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="intersection" id="intersection"
											ng-model="vm.free_cfdi.free_emitter.intersection" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.num_int" for="field_num_int">Num_int</label>
								<div class="col-md-2">
									 <input type="text" class="form-control" name="num_int" id="field_num_int" ng-model="vm.free_cfdi.free_emitter.num_int" readonly />
								</div>
								<div class="col-md-6">
									<label class="col-md-5 control-label no-padding-right" translate="megabillingplatformApp.free_emitter.num_ext" for="field_num_ext">Num_ext</label>
									<div class="col-md-7">
										<input type="text" class="form-control" name="num_ext" id="field_num_ext" ng-model="vm.free_cfdi.free_emitter.num_ext" readonly />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" for="field_reference" translate="megabillingplatformApp.free_emitter.reference" for="field_reference">
									Reference
								</label>
								<div class="col-sm-8">
									<textarea type="text" id="field_reference" class="form-control" rows="5" ng-model="vm.free_cfdi.free_emitter.reference"readonly></textarea>
								</div>
							</div>
						</div>
					</div>
				</uib-tab>
				
				<uib-tab heading="Receptor">
					<div class="row">
						<div class="col-md-6">
						
							<h3 class="header smaller lighter blue">
								Datos Generales
							</h3>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.rfc" for="free_receiver_field_rfc">Rfc</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="free_receiver_rfc" id="free_receiver_field_rfc"
										ng-model="vm.free_receiver.rfc"
										required ng-minlength="12" ng-maxlength="13" ng-pattern="/^[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?$/"  data-ng-change="vm.onChangeReceiverRFC()" required />
									<div ng-show="editForm.free_receiver_rfc.$invalid">
										<p class="help-block has-error"
											ng-show="editForm.free_receiver_rfc.$error.minlength" translate="entity.validation.minlength" translate-value-min="12">
											This field is required to be at least 12 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.free_receiver_rfc.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="13">
											This field cannot be longer than 13 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.free_receiver_rfc.$error.pattern" translate="entity.validation.pattern">
											RFC format is incorrect.
										</p>
									</div>
									<div class="radio">
										<label style="padding-left:7px">
											<input name="form-field-radio" type="radio" class="ace" ng-click="vm.onClickTaxpayerGP()" />
											<span class="lbl" translate="megabillingplatformApp.free_receiver.taxpayer_gp">Taxpayer General Public</span>
										</label>
									</div>									
									<div class="radio">
										<label style="padding-left:7px">
											<input name="form-field-radio" type="radio" class="ace" ng-click="vm.onClickForeignResident()" />
											<span class="lbl" translate="megabillingplatformApp.free_receiver.foreign_resident">Foreign Resident</span>
										</label>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"  translate="megabillingplatformApp.free_receiver.type_taxpayer" for="free_receiver_field_type_taxpayer">Type Taxpayer</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="free_receiver_field_type_taxpayer" name="free_receiver_type_taxpayer" ng-model="vm.free_receiver.type_taxpayer.name" required readonly />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.business_name" for="free_receiver_field_business_name">Business_name</label>
								<div class="col-sm-8">									
									<input type="text" class="form-control" name="free_receiver_business_name" id="free_receiver_field_business_name"
											ng-model="vm.free_receiver.business_name"
											ng-minlength="3" ng-maxlength="50" required />
									<div ng-show="editForm.free_receiver_business_name.$invalid">
										<p class="help-block"
											ng-show="editForm.free_receiver_business_name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
											This field is required to be at least 3 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.free_receiver_business_name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
											This field cannot be longer than 50 characters.
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.email" for="free_receiver_field_email">Email</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="free_receiver_email" id="free_receiver_field_email"
											ng-model="vm.free_receiver.email"
											ng-minlength="6" ng-maxlength="254" ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/" />
									<div ng-show="editForm.free_receiver_email.$invalid">
										<p class="help-block"
											ng-show="editForm.free_receiver_email.$error.minlength" translate="entity.validation.minlength" translate-value-min="6">
											This field is required to be at least 6 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.free_receiver_email.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="254">
											This field cannot be longer than 254 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.free_receiver_email.$error.pattern" translate="entity.validation.email">
											Wrong email address.
										</p>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.phone" for="free_receiver_field_phone">Phone</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="free_receiver_phone" id="free_receiver_field_phone"
											ng-model="vm.free_receiver.phone"
											ng-minlength="1" ng-maxlength="15" ng-pattern="/^[0-9]{1,15}$/" />
									<div ng-show="editForm.free_receiver_phone.$invalid">
										<p class="help-block"
											ng-show="editForm.free_receiver_phone.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
											This field is required to be at least 1 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.free_receiver_phone.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15">
											This field cannot be longer than 15 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.free_receiver_phone.$error.pattern" translate="entity.validation.phone">
											Wrong phone number.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h3 class="header smaller lighter blue" translate="megabillingplatformApp.free_emitter.labelFU">
								Ubicación Fiscal
							</h3>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.c_country" for="free_receiver_field_c_country">c_country</label>
								<div class="col-md-8">
									
									<select class="form-control" id="free_receiver_field_c_country" name="free_receiver_c_country"  ng-model="vm.free_receiver.c_country" ng-options="c_country as c_country.name for c_country in vm.c_countrys track by c_country.id" data-ng-change="vm.onChangeC_country()" required >
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.c_state" for="free_receiver_field_c_state">c_state</label>
								<div class="col-md-8">									
									<select class="form-control" id="free_receiver_field_c_state" name="free_receiver_c_state" ng-model="vm.free_receiver.c_state" ng-options="c_state as c_state.name for c_state in vm.c_states track by c_state.id" data-ng-change="vm.onChangeC_state()">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.c_municipality" for="free_receiver_field_c_municipality">c_municipality</label>
								<div class="col-md-8">									
									<select class="form-control" id="free_receiver_field_c_municipality" name="free_receiver_c_municipality" ng-model="vm.free_receiver.c_municipality" ng-options="c_municipality as c_municipality.name for c_municipality in vm.c_municipalitys track by c_municipality.id" data-ng-change="vm.onChangeC_municipality()">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.c_colony" for="free_receiver_field_c_colony">c_colony</label>
								<div class="col-md-8">									
									<select class="form-control" id="free_receiver_field_c_colony" name="free_receiver_c_colony" ng-model="vm.free_receiver.c_colony" ng-options="c_colony as c_colony.code for c_colony in vm.c_colonys track by c_colony.id" data-ng-change="vm.onChangeC_colony()">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.c_zip_code" for="free_receiver_field_c_zip_code">c_zip_code</label>
								<div class="col-md-8">									
									<input type="text" class="form-control" id="free_receiver_field_c_zip_code" name="free_receiver_c_zip_code" ng-model="vm.free_receiver.c_zip_code.code" readonly />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.street" for="free_receiver_field_street">Street</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="free_receiver_street" id="free_receiver_field_street"
										ng-model="vm.free_receiver.street"
										 />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.no_ext" for="free_receiver_field_no_ext">No_ext</label>
								<div class="col-md-2">
									 <input type="text" class="form-control" name="free_receiver_no_ext" id="free_receiver_field_no_ext"
										ng-model="vm.free_receiver.no_ext"
										 />
								</div>
								<div class="col-md-6">
									<label class="col-md-5 control-label no-padding-right" translate="megabillingplatformApp.free_receiver.no_int" for="free_receiver_field_no_int">No_int</label>
									<div class="col-md-7">
										<input type="text" class="form-control" name="free_receiver_num_ext" id="free_receiver_field_num_ext" ng-model="vm.free_emitter.no_int" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right"  translate="megabillingplatformApp.free_receiver.reference" for="free_receiver_field_reference">Reference</label>
								<div class="col-sm-8">
									<textarea type="text" id="free_receiver_field_reference" name="free_receiver_reference" class="form-control" rows="5" ng-model="vm.free_receiver.reference"></textarea>
								</div>
							</div>
						</div>
					</div>
				</uib-tab>
				
				<uib-tab heading="Comprobante">
					<div class="row">
						<div class="col-md-6">						
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.cfdi_type_doc" for="field_cfdi_type_doc">cfdi_type_doc</label>
								<div class="col-sm-8">
									<select class="form-control" id="field_cfdi_type_doc" name="cfdi_type_doc" ng-model="vm.free_cfdi.cfdi_type_doc" ng-options="cfdi_type_doc as cfdi_type_doc.name for cfdi_type_doc in vm.cfdi_type_docs track by cfdi_type_doc.id" data-ng-change="vm.updateCFDITotals()">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.cfdi_types" for="field_cfdi_types">cfdi_types</label>
								<div class="col-sm-8">									
									<select class="form-control" id="field_cfdi_types" name="cfdi_types" ng-model="vm.free_cfdi.cfdi_types" ng-options="cfdi_types as cfdi_types.name for cfdi_types in vm.cfdi_typess track by cfdi_types.id">
										<option value=""></option>
									</select>
								</div>
							</div>							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.payment_method" for="field_payment_method">payment_method</label>
								<div class="col-sm-8">									
									<select class="form-control" id="field_payment_method" name="payment_method" ng-model="vm.free_cfdi.payment_method" ng-options="payment_method as payment_method.name for payment_method in vm.payment_methods track by payment_method.id">
										<option value=""></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.way_payment" for="field_way_payment">way_payment</label>
								<div class="col-sm-5">									
									<select class="form-control" id="field_way_payment" name="way_payment" ng-model="vm.way_payment" ng-options="way_payment as way_payment.name for way_payment in vm.way_payments track by way_payment.id" ng-disabled="vm.enableWayPayment()" data-ng-change="vm.partialityChange()" >
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-1 no-padding-right">
									<input type="text" class="form-control" name="way_payment_x" id="way_payment_x"
										ng-model="vm.way_payment_x" ng-disabled="vm.enableWithByPartiality()" data-ng-change="vm.wayPaymentXYChange()"
										required />
								</div>
								<label class="col-sm-1 control-label">
									<p class="text-center">/</p>
								</label>
								<div class="col-sm-1 no-padding-left">
									<input type="text" class="form-control" name="way_payment_y" id="way_payment_y"
										ng-model="vm.way_payment_y" ng-disabled="vm.enableWithByPartiality()" data-ng-change="vm.wayPaymentXYChange()"
										required />
								</div>
							</div>
							
							<div class="form-group" ng-show="vm.failWayPaymentXYValidation()">
								<div class="col-sm-offset-4 col-sm-8">
									<p class="help-block"
									   ng-show="vm.way_payment_x > vm.way_payment_y" 
									   translate="megabillingplatformApp.free_cfdi.validation.way_paymentxnomorey">
										X can not be more than y.
									</p>
									<p class="help-block"
									   ng-show="vm.way_payment_x == 0 || vm.way_payment_y == 0" 
									   translate="megabillingplatformApp.free_cfdi.validation.way_paymentxynocero">
										X and Y can not be cero.
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.serial_folio_fiscal_orig" for="field_serial_folio_fiscal_orig">Serial_folio_fiscal_orig</label>
								<div class="col-sm-8">									
									<input type="text" class="form-control" name="serial_folio_fiscal_orig" id="field_serial_folio_fiscal_orig"
											ng-model="vm.free_cfdi.serial_folio_fiscal_orig" ng-disabled="vm.enableWithByPartiality()"
											 />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.folio_fiscal_orig" for="field_folio_fiscal_orig">Folio_fiscal_orig</label>
								<div class="col-sm-8">									
									<input type="text" class="form-control" name="folio_fiscal_orig" id="field_folio_fiscal_orig"
											ng-model="vm.free_cfdi.folio_fiscal_orig" ng-disabled="vm.enableWithByPartiality()"
											 />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.date_folio_fiscal_orig" for="field_date_folio_fiscal_orig">Date_folio_fiscal_orig</label>
								<div class="col-sm-8">									
									<div class="input-group">
										<input id="field_date_folio_fiscal_orig" type="text" class="form-control" name="date_folio_fiscal_orig" datetime-picker="{{dateformat}}" ng-model="vm.free_cfdi.date_folio_fiscal_orig" is-open="vm.datePickerOpenStatus.date_folio_fiscal_orig" ng-disabled="vm.enableWithByPartiality()"
										  />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="vm.openCalendar('date_folio_fiscal_orig')" ng-disabled="vm.enableWithByPartiality()"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.mont_folio_fiscal_orig" for="field_mont_folio_fiscal_orig">Mont_folio_fiscal_orig</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="mont_folio_fiscal_orig" id="field_mont_folio_fiscal_orig"
											ng-model="vm.free_cfdi.mont_folio_fiscal_orig" ng-disabled="vm.enableWithByPartiality()"
											 />
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.serial" for="field_serial">Serial</label>
								<div class="col-md-8">
									<input type="text" class="form-control" name="serial" id="field_serial"
											ng-model="vm.free_cfdi.serial"
											ng-minlength="1" ng-maxlength="25" />
									<div ng-show="editForm.serial.$invalid">
										<p class="help-block"
											ng-show="editForm.serial.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
											This field is required to be at least 1 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.serial.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
											This field cannot be longer than 25 characters.
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.folio" for="field_folio">Folio</label>
								<div class="col-md-8">									
									<input type="text" class="form-control" name="folio" id="field_folio"
											ng-model="vm.free_cfdi.folio"
											ng-minlength="1" ng-maxlength="20" />
									<div ng-show="editForm.folio.$invalid">
										<p class="help-block"
											ng-show="editForm.folio.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
											This field is required to be at least 1 characters.
										</p>
										<p class="help-block"
											ng-show="editForm.folio.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
											This field cannot be longer than 20 characters.
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label  class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.c_money" for="field_c_money">c_money</label>
								<div class="col-md-8">									
									<select class="form-control" id="field_c_money" name="c_money" ng-model="vm.free_cfdi.c_money" ng-options="c_money as c_money.name for c_money in vm.c_moneys track by c_money.id" data-ng-change="vm.checkMoneyType()">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.change_type" for="field_change_type">Change_type</label>
								<div class="col-md-8">									
									<input type="text" class="form-control text-right" name="change_type" id="field_change_type"
											ng-model="vm.free_cfdi.change_type"
											ng-pattern="/[0-9]{1,14}(.([0-9]{1,6}))?/" />
									<div ng-show="editForm.change_type.$invalid">
										<p class="help-block"
											ng-show="editForm.change_type.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="[0-9]{1,14}(.([0-9]{1,6}))?">
											This field should follow pattern "[0-9]{1,14}(.([0-9]{1,6}))?".
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.account_number" for="field_account_number">Account_number</label>
								<div class="col-md-8">									
									<input type="text" class="form-control" name="account_number" id="field_account_number"
											ng-model="vm.free_cfdi.account_number"
											ng-maxlength="4" ng-disabled="vm.enableAccountNumber()" />
									<div ng-show="editForm.account_number.$invalid">
										<p class="help-block"
											ng-show="editForm.account_number.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4">
											This field cannot be longer than 4 characters.
										</p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.payment_conditions" for="field_payment_conditions">Payment_conditions</label>
								<div class="col-md-8">
									<textarea class="form-control" name="payment_conditions" id="field_payment_conditions" ng-model="vm.free_cfdi.payment_conditions" rows="5"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.discount_reason" for="field_discount_reason">Discount_reason</label>
								<div class="col-sm-8">
									<textarea class="form-control" name="discount_reason" id="field_discount_reason"
											ng-model="vm.free_cfdi.discount_reason" rows="5"></textarea>
								</div>
							</div>
						</div>
					</div>
					
					<div class="space-24"></div>
			
					<div class="row">
						<div class="col-sm-12">
							<uib-tabset>						
								<uib-tab heading="Conceptos">									
									<table id="concepto-table" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>No. Identificación</th>
												<th>U/M</th>
												<th>Descripción</th>
												<th>Cantidad</th>
												<th>Valor Unitario</th>
												<th>Descuento</th>
												<th>IVA / IEPS</th>
												<th>Importe</th>
												<th>...</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="free_concept in vm.free_concepts">
												<td>{{free_concept.free_concept.no_identification}}</td>
												<td>{{free_concept.free_concept.measure_unit.name}}</td>
												<td>{{free_concept.free_concept.description}}</td>					
												<td>{{free_concept.free_concept.quantity}}</td>
												<td>{{free_concept.free_concept.unit_value}}</td>
												<td>{{free_concept.free_concept.discount}}</td>
												<td>{{free_concept.free_concept_iva.rate}} / {{free_concept.free_concept_ieps.rate}}</td>
												<td>{{free_concept.free_concept.amount}}</td>
												<td><button type="button" class="btn btn-sm btn-primary" ng-click="vm.removeConcept($index)">Eliminar</button></td>
											</tr>											
										</tbody>
									</table>
									
									<button type="button" class="btn btn-sm btn-primary" ng-click="vm.addConcept()">
									  Añadir Concepto
									</button>
								</uib-tab>
								
								<uib-tab heading="Addenda">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<div class="col-sm-12">
													<textarea  class="form-control" name="addenda" id="field_addenda"
															ng-model="vm.free_cfdi.addenda" rows="5"></textarea>
												</div>
											</div>
										</div>
									</div>
								</uib-tab>
							</uib-tabset>
							
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
			
			<div class="row">
				<div class="col-md-5 col-md-offset-7">
					<div class="hr hr-16 hr-dotted"></div>
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.subtotal" for="field_subtotal">Subtotal</label>
						<div class="col-sm-6">
							<input type="text" class="form-control text-right" name="subtotal" id="field_subtotal"
									ng-model="vm.free_cfdi.subtotal"
									required readonly />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" for="form-field-15">IVA ({{vm.show_iva}} %):</label>
						<div class="col-sm-6">
							<input type="text" id="form-field-15" class="form-control text-right" ng-model="vm.calc_iva" readonly />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" for="field_ieps">IEPS</label>
						<div class="col-sm-6">							
							<input type="text" class="form-control text-right" name="free_cfdi_ieps" id="field_ieps"
									ng-model="vm.ieps" readonly
									 />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" for="field_ret_iva">RET IVA</label>
						<div class="col-sm-6">							
							<input type="text" class="form-control text-right" name="free_cfdi_ret_iva" id="field_ret_iva"
									ng-model="vm.ret_iva" readonly
									 />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" for="field_ret_isr">RET ISR</label>
						<div class="col-sm-6">							
							<input type="text" class="form-control text-right" name="free_cfdi_ret_isr" id="field_ret_isr"
									ng-model="vm.ret_isr" readonly
									 />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.discount" for="field_discount">Discount</label>
						<div class="col-sm-6">
							<input type="text" class="form-control text-right" name="discount" id="field_discount"
									ng-model="vm.free_cfdi.discount" readonly
									 />
						</div>
					</div>	
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" for="field_subtotal_discount">Subtotal-Descuentos</label>
						<div class="col-sm-6">							
							<input type="text" class="form-control text-right" name="free_cfdi_subtotal_discount" id="field_subtotal_discount"
									ng-model="vm.subtotal_discount" readonly
									 />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label no-padding-right" translate="megabillingplatformApp.free_cfdi.total" for="field_total">Total</label>
						<div class="col-sm-6">							
							<input type="text" class="form-control text-right" name="total" id="field_total"
									ng-model="vm.free_cfdi.total" required readonly
									/>
						</div>
					</div>
					
					<div class="hr hr-16 hr-dotted"></div>
					
					<div class="form-group">
						<button type="submit" 
						ng-disabled="editForm.$invalid || vm.free_concepts.length == 0 || vm.failWayPaymentXYValidation()" 
						class="btn btn-primary pull-right" style="margin: 0 15px">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
						</button>

						<button type="button" class="btn btn-default pull-right" onclick="window.history.back()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
						</button>					
					</div>					
					
					<div class="alert alert-success" ng-show="vm.free_saved_success">
						Factura guardada satisfactoriamente.
					</div>
					
					
				</div>
					
			</div>
		</form>
	</div>
</div>