<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"	ng-click="vm.clear()">&times;</button>
</div>
<div class="modal-body">
	<p translate="megabillingplatformApp.free_cfdi.no_free_emitter_certificate">Estimado usuario para generar un comprobante usted debe tener configurado un certificado digital valido.</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.clear()">
		<span translate="entity.action.ok">OK</span>
	</button>
</div>

