
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_cfdiLabel" translate="megabillingplatformApp.free_cfdi.home.createOrEditLabel">Create or edit a Free_cfdi</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.free_cfdi.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.version" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                    ng-model="vm.free_cfdi.version"
                    required ng-minlength="3" ng-maxlength="3" />
            <div ng-show="editForm.version.$invalid">
                <p class="help-block"
                    ng-show="editForm.version.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.version.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.version.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="3">
                    This field cannot be longer than 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.serial" for="field_serial">Serial</label>
            <input type="text" class="form-control" name="serial" id="field_serial"
                    ng-model="vm.free_cfdi.serial"
                    ng-minlength="1" ng-maxlength="25" />
            <div ng-show="editForm.serial.$invalid">
                <p class="help-block"
                    ng-show="editForm.serial.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.serial.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.folio" for="field_folio">Folio</label>
            <input type="text" class="form-control" name="folio" id="field_folio"
                    ng-model="vm.free_cfdi.folio"
                    ng-minlength="1" ng-maxlength="20" />
            <div ng-show="editForm.folio.$invalid">
                <p class="help-block"
                    ng-show="editForm.folio.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.folio.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.date_expedition" for="field_date_expedition">Date_expedition</label>
                <div class="input-group">
                    <input id="field_date_expedition" type="text" class="form-control" name="date_expedition" datetime-picker="{{dateformat}}" ng-model="vm.free_cfdi.date_expedition" is-open="vm.datePickerOpenStatus.date_expedition"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date_expedition')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date_expedition.$invalid">
                <p class="help-block"
                    ng-show="editForm.date_expedition.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.date_expedition.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.payment_conditions" for="field_payment_conditions">Payment_conditions</label>
            <input type="text" class="form-control" name="payment_conditions" id="field_payment_conditions"
                    ng-model="vm.free_cfdi.payment_conditions"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.change_type" for="field_change_type">Change_type</label>
            <input type="text" class="form-control" name="change_type" id="field_change_type"
                    ng-model="vm.free_cfdi.change_type"
                    ng-pattern="/[0-9]{1,14}(.([0-9]{1,6}))?/" />
            <div ng-show="editForm.change_type.$invalid">
                <p class="help-block"
                    ng-show="editForm.change_type.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="[0-9]{1,14}(.([0-9]{1,6}))?">
                    This field should follow pattern "[0-9]{1,14}(.([0-9]{1,6}))?".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.place_expedition" for="field_place_expedition">Place_expedition</label>
            <input type="text" class="form-control" name="place_expedition" id="field_place_expedition"
                    ng-model="vm.free_cfdi.place_expedition"
                    required />
            <div ng-show="editForm.place_expedition.$invalid">
                <p class="help-block"
                    ng-show="editForm.place_expedition.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.account_number" for="field_account_number">Account_number</label>
            <input type="text" class="form-control" name="account_number" id="field_account_number"
                    ng-model="vm.free_cfdi.account_number"
                    ng-maxlength="4" />
            <div ng-show="editForm.account_number.$invalid">
                <p class="help-block"
                    ng-show="editForm.account_number.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4">
                    This field cannot be longer than 4 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.folio_fiscal_orig" for="field_folio_fiscal_orig">Folio_fiscal_orig</label>
            <input type="text" class="form-control" name="folio_fiscal_orig" id="field_folio_fiscal_orig"
                    ng-model="vm.free_cfdi.folio_fiscal_orig"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.serial_folio_fiscal_orig" for="field_serial_folio_fiscal_orig">Serial_folio_fiscal_orig</label>
            <input type="text" class="form-control" name="serial_folio_fiscal_orig" id="field_serial_folio_fiscal_orig"
                    ng-model="vm.free_cfdi.serial_folio_fiscal_orig"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.date_folio_fiscal_orig" for="field_date_folio_fiscal_orig">Date_folio_fiscal_orig</label>
                <div class="input-group">
                    <input id="field_date_folio_fiscal_orig" type="text" class="form-control" name="date_folio_fiscal_orig" datetime-picker="{{dateformat}}" ng-model="vm.free_cfdi.date_folio_fiscal_orig" is-open="vm.datePickerOpenStatus.date_folio_fiscal_orig"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date_folio_fiscal_orig')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.mont_folio_fiscal_orig" for="field_mont_folio_fiscal_orig">Mont_folio_fiscal_orig</label>
            <input type="number" class="form-control" name="mont_folio_fiscal_orig" id="field_mont_folio_fiscal_orig"
                    ng-model="vm.free_cfdi.mont_folio_fiscal_orig"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.total_tax_retention" for="field_total_tax_retention">Total_tax_retention</label>
            <input type="number" class="form-control" name="total_tax_retention" id="field_total_tax_retention"
                    ng-model="vm.free_cfdi.total_tax_retention"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.total_tax_transfered" for="field_total_tax_transfered">Total_tax_transfered</label>
            <input type="number" class="form-control" name="total_tax_transfered" id="field_total_tax_transfered"
                    ng-model="vm.free_cfdi.total_tax_transfered"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.discount" for="field_discount">Discount</label>
            <input type="number" class="form-control" name="discount" id="field_discount"
                    ng-model="vm.free_cfdi.discount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.discount_reason" for="field_discount_reason">Discount_reason</label>
            <input type="text" class="form-control" name="discount_reason" id="field_discount_reason"
                    ng-model="vm.free_cfdi.discount_reason"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.subtotal" for="field_subtotal">Subtotal</label>
            <input type="number" class="form-control" name="subtotal" id="field_subtotal"
                    ng-model="vm.free_cfdi.subtotal"
                    required />
            <div ng-show="editForm.subtotal.$invalid">
                <p class="help-block"
                    ng-show="editForm.subtotal.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.subtotal.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                    ng-model="vm.free_cfdi.total"
                    required />
            <div ng-show="editForm.total.$invalid">
                <p class="help-block"
                    ng-show="editForm.total.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.addenda" for="field_addenda">Addenda</label>
            <input type="text" class="form-control" name="addenda" id="field_addenda"
                    ng-model="vm.free_cfdi.addenda"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.stamp" for="field_stamp">Stamp</label>
            <input type="text" class="form-control" name="stamp" id="field_stamp"
                    ng-model="vm.free_cfdi.stamp"
                    required />
            <div ng-show="editForm.stamp.$invalid">
                <p class="help-block"
                    ng-show="editForm.stamp.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.no_certificate" for="field_no_certificate">No_certificate</label>
            <input type="text" class="form-control" name="no_certificate" id="field_no_certificate"
                    ng-model="vm.free_cfdi.no_certificate"
                    required ng-maxlength="20" />
            <div ng-show="editForm.no_certificate.$invalid">
                <p class="help-block"
                    ng-show="editForm.no_certificate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.no_certificate.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_cfdi.certificate" for="field_certificate">Certificate</label>
            <input type="text" class="form-control" name="certificate" id="field_certificate"
                    ng-model="vm.free_cfdi.certificate"
                    required />
            <div ng-show="editForm.certificate.$invalid">
                <p class="help-block"
                    ng-show="editForm.certificate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.cfdi_types" for="field_cfdi_types">cfdi_types</label>
            <select class="form-control" id="field_cfdi_types" name="cfdi_types" ng-model="vm.free_cfdi.cfdi_types" ng-options="cfdi_types as cfdi_types.name for cfdi_types in vm.cfdi_typess track by cfdi_types.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.cfdi_states" for="field_cfdi_states">cfdi_states</label>
            <select class="form-control" id="field_cfdi_states" name="cfdi_states" ng-model="vm.free_cfdi.cfdi_states" ng-options="cfdi_states as cfdi_states.name for cfdi_states in vm.cfdi_statess track by cfdi_states.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.free_emitter" for="field_free_emitter">free_emitter</label>
            <select class="form-control" id="field_free_emitter" name="free_emitter" ng-model="vm.free_cfdi.free_emitter" ng-options="free_emitter as free_emitter.id for free_emitter in vm.free_emitters track by free_emitter.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.payment_method" for="field_payment_method">payment_method</label>
            <select class="form-control" id="field_payment_method" name="payment_method" ng-model="vm.free_cfdi.payment_method" ng-options="payment_method as payment_method.name for payment_method in vm.payment_methods track by payment_method.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.way_payment" for="field_way_payment">way_payment</label>
            <select class="form-control" id="field_way_payment" name="way_payment" ng-model="vm.free_cfdi.way_payment" ng-options="way_payment as way_payment.name for way_payment in vm.way_payments track by way_payment.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.c_money" for="field_c_money">c_money</label>
            <select class="form-control" id="field_c_money" name="c_money" ng-model="vm.free_cfdi.c_money" ng-options="c_money as c_money.name for c_money in vm.c_moneys track by c_money.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.cfdi_type_doc" for="field_cfdi_type_doc">cfdi_type_doc</label>
            <select class="form-control" id="field_cfdi_type_doc" name="cfdi_type_doc" ng-model="vm.free_cfdi.cfdi_type_doc" ng-options="cfdi_type_doc as cfdi_type_doc.name for cfdi_type_doc in vm.cfdi_type_docs track by cfdi_type_doc.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.tax_regime" for="field_tax_regime">tax_regime</label>
            <select class="form-control" id="field_tax_regime" name="tax_regime" ng-model="vm.free_cfdi.tax_regime" ng-options="tax_regime as tax_regime.name for tax_regime in vm.tax_regimes track by tax_regime.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_cfdi.free_receiver" for="field_free_receiver">free_receiver</label>
            <select class="form-control" id="field_free_receiver" name="free_receiver" ng-model="vm.free_cfdi.free_receiver" ng-options="free_receiver as free_receiver.id for free_receiver in vm.free_receivers track by free_receiver.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
