<div>
    <h2 translate="megabillingplatformApp.com_accounting.home.title">Com Accountings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="com-accounting.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.com_accounting.home.createLabel">
                        Create new Com Accounting
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="keyaccounting"><span translate="megabillingplatformApp.com_accounting.keyaccounting">Keyaccounting</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="com_ine_entity.id"><span translate="megabillingplatformApp.com_accounting.com_ine_entity">Com Ine Entity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="com_accounting in vm.com_accountings track by com_accounting.id">
                    <td><a ui-sref="com-accounting-detail({id:com_accounting.id})">{{com_accounting.id}}</a></td>
                    <td>{{com_accounting.keyaccounting}}</td>
                    <td>
                        <a ui-sref="com-ine-entity-detail({id:com_accounting.com_ine_entity.id})">{{com_accounting.com_ine_entity.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="com-accounting-detail({id:com_accounting.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-accounting.edit({id:com_accounting.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-accounting.delete({id:com_accounting.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
