<div>
    <h2 translate="megabillingplatformApp.entity_cfdi.home.title">Entity_cfdis</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="entity-cfdi.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.entity_cfdi.home.createLabel">
                        Create new Entity_cfdi
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="key_entity.key"><span translate="megabillingplatformApp.entity_cfdi.key_entity">key_entity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="freecom_ine.version"><span translate="megabillingplatformApp.entity_cfdi.freecom_ine">freecom_ine</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_scope_type.name"><span translate="megabillingplatformApp.entity_cfdi.c_scope_type">c_scope_type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entity_cfdi in vm.entity_cfdis track by entity_cfdi.id">
                    <td><a ui-sref="entity-cfdi-detail({id:entity_cfdi.id})">{{entity_cfdi.id}}</a></td>
                    <td>
                        <a ui-sref="key-entity-detail({id:entity_cfdi.key_entity.id})">{{entity_cfdi.key_entity.key}}</a>
                    </td>
                    <td>
                        <a ui-sref="freecom-ine-detail({id:entity_cfdi.freecom_ine.id})">{{entity_cfdi.freecom_ine.version}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-scope-type-detail({id:entity_cfdi.c_scope_type.id})">{{entity_cfdi.c_scope_type.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="entity-cfdi-detail({id:entity_cfdi.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="entity-cfdi.edit({id:entity_cfdi.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="entity-cfdi.delete({id:entity_cfdi.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
