
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEntity_cfdiLabel" translate="megabillingplatformApp.entity_cfdi.home.createOrEditLabel">Create or edit a Entity_cfdi</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.entity_cfdi.id" readonly />
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.entity_cfdi.accounting" for="field_accounting">accounting</label>
            <select class="form-control" id="field_accounting" name="accounting" ng-model="vm.entity_cfdi.accounting" ng-options="accounting as accounting.keyaccounting for accounting in vm.accountings track by accounting.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.entity_cfdi.key_entity" for="field_key_entity">key_entity</label>
            <select class="form-control" id="field_key_entity" name="key_entity" ng-model="vm.entity_cfdi.key_entity" ng-options="key_entity as key_entity.key for key_entity in vm.key_entitys track by key_entity.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.entity_cfdi.scope" for="field_scope">scope</label>
            <select class="form-control" id="field_scope" name="scope" ng-model="vm.entity_cfdi.scope" ng-options="scope as scope.name for scope in vm.scopes track by scope.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.entity_cfdi.freecom_ine" for="field_freecom_ine">freecom_ine</label>
            <select class="form-control" id="field_freecom_ine" name="freecom_ine" ng-model="vm.entity_cfdi.freecom_ine" ng-options="freecom_ine as freecom_ine.version for freecom_ine in vm.freecom_ines track by freecom_ine.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
