<div>
    <h2 translate="megabillingplatformApp.c_state.home.title">C_states</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="c-state.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.c_state.home.createLabel">
                        Create new C_state
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <h4 translate="megabillingplatformApp.c_state.filtername">Filter by name</h4>
            <p class="input-group">
                <span class="input-group-addon" translate="megabillingplatformApp.c_state.name">Name</span>
                <select class="chosen-select form-control" id="field_filtername" name="filtername"
                        ng-model="vm.selectedc_state" ng-change="vm.onChangeName()"
                        ng-options="c_state as c_state.name for c_state in vm.c_stateS track by c_state.id">
                    <option value=""></option>
                </select>
            </p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="megabillingplatformApp.c_state.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abrev"><span translate="megabillingplatformApp.c_state.abrev">Abrev</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_country.name"><span translate="megabillingplatformApp.c_state.c_country">c_country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c_state in vm.c_states track by c_state.id">
                    <td><a ui-sref="c-state-detail({id:c_state.id})">{{c_state.id}}</a></td>
                    <td>{{c_state.name}}</td>
                    <td>{{c_state.abrev}}</td>
                    <td>
                        <a ui-sref="c-country-detail({id:c_state.c_country.id})">{{c_state.c_country.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="c-state-detail({id:c_state.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="c-state.edit({id:c_state.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="c-state.delete({id:c_state.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
