<div>
    <h2 translate="megabillingplatformApp.c_colony.home.title">C_colonies</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="c-colony.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.c_colony.home.createLabel">
                        Create new C_colony
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <h4 translate="megabillingplatformApp.c_colony.filtername">Filter by name</h4>
            <p class="input-group">
                <span class="input-group-addon" translate="megabillingplatformApp.c_colony.code">Code</span>
                <input type="text" class="input-sm form-control" name="filtername"
                       ng-model="vm.filtername" ng-change="vm.onChangeName()"/>
            </p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span translate="megabillingplatformApp.c_colony.codee">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="value"><span translate="megabillingplatformApp.c_colony.valuee">Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_municipality.name"><span translate="megabillingplatformApp.c_colony.c_municipalityy">c_municipality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_zip_code.code"><span translate="megabillingplatformApp.c_colony.c_zip_codee">c_zip_code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c_colony in vm.c_colonies track by c_colony.id">
                    <td><a ui-sref="c-colony-detail({id:c_colony.id})">{{c_colony.id}}</a></td>
                    <td>{{c_colony.code}}</td>
                    <td>{{c_colony.value}}</td>
                    <td>
                        <a ui-sref="c-municipality-detail({id:c_colony.c_municipality.id})">{{c_colony.c_municipality.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-zip-code-detail({id:c_colony.c_zip_code.id})">{{c_colony.c_zip_code.code}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="c-colony-detail({id:c_colony.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="c-colony.edit({id:c_colony.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="c-colony.delete({id:c_colony.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
