<div id="navbar" class="navbar navbar-default navbar-collapse h-navbar navbar-fixed-top">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>

	<div class="navbar-container" id="navbar-container">
		<div class="navbar-header pull-left">
			<a href="#/" class="navbar-brand"> </a>

			<button class="pull-right navbar-toggle navbar-toggle-img collapsed" type="button" data-toggle="collapse" data-target=".navbar-buttons,.navbar-menu">
				<span class="sr-only">Toggle user menu</span>

				<!--<img src="assets/avatars/user.jpg" alt="Jason's Photo" />-->
			</button>

			<button class="pull-right navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
			</button>
		</div>

		<nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">
			<h3 translate="global.title">
				Plataforma de Facturacion Electrónica Universal
			</h3>
		</nav>

		<div class="navbar-buttons navbar-header pull-right  collapse navbar-collapse" role="navigation" uib-collapse="vm.navCollapsed" ng-switch="vm.isAuthenticated()">
			<ul class="nav ace-nav">
				<li class="transparent" ui-sref-active="active" ng-switch-when="false" style="margin-right:20px">
					<a href="" ng-click="vm.login()" id="login" data-toggle="collapse" data-target=".navbar-collapse.in">
						<span class="glyphicon glyphicon-log-in"></span>
						<span translate="global.menu.account.login">Sign in</span>
					</a>
				</li>
                <li class="transparent" ui-sref-active="active" ng-switch-when="false" style="border-left:none;margin-right:20px">
					<a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-plus-sign"></span>&#xA0;<span translate="global.menu.account.register">
                        Register</span></a>
				</li>
				<li ui-sref-active="active" uib-dropdown class="dropdown pointer transparent" ng-switch-when="true">
					<a class="dropdown-toggle" uib-dropdown-toggle href="">
						<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
						<span class="badge badge-success">5</span>
					</a>

					<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
						<li class="dropdown-header">
							<i class="ace-icon fa fa-envelope-o"></i>
							5 Mensajes
						</li>

						<li class="dropdown-content">
							<ul class="dropdown-menu dropdown-navbar">
								<li>
									<a href="#" class="clearfix">
										<img src="content/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												Dudas sobre crear CFDI ...
											</span>

											<span class="msg-time">
												<i class="ace-icon fa fa-clock-o"></i>
												<span>Hace un momento</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#" class="clearfix">
										<img src="content/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span>
												Error adicionando complemento ...
											</span>

											<span class="msg-time">
												<i class="ace-icon fa fa-clock-o"></i>
												<span>20 minutes ago</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#" class="clearfix">
										<img src="content/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span>
												Error afiliandome a Megapractical ...
											</span>

											<span class="msg-time">
												<i class="ace-icon fa fa-clock-o"></i>
												<span>3:15 pm</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#" class="clearfix">
										<img src="content/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Kate:</span>
												No se donde comprar los timbres ...
											</span>

											<span class="msg-time">
												<i class="ace-icon fa fa-clock-o"></i>
												<span>1:33 pm</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#" class="clearfix">
										<img src="content/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Fred:</span>
												Duda para generar CFDI ....
											</span>

											<span class="msg-time">
												<i class="ace-icon fa fa-clock-o"></i>
												<span>10:09 am</span>
											</span>
										</span>
									</a>
								</li>
							</ul>
						</li>

						<li class="dropdown-footer">
							<a href="inbox.html">
								Ver todos los mensajes
								<i class="ace-icon fa fa-arrow-right"></i>
							</a>
						</li>
					</ul>
				</li>
				<li ui-sref-active="active" uib-dropdown class="dropdown pointer transparent" ng-switch-when="true">
					<a class="dropdown-toggle" uib-dropdown-toggle href="">
						<i class="ace-icon fa fa-bell icon-animated-bell"></i>
						<span class="badge badge-important">8</span>
					</a>

					<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
						<li class="dropdown-header">
							<i class="ace-icon fa fa-exclamation-triangle"></i>
							8 Notificaciones
						</li>

						<li class="dropdown-content">
							<ul class="dropdown-menu dropdown-navbar navbar-pink">
								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
												Usuario Registrado
											</span>
											<span class="pull-right badge badge-info">+12</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="btn btn-xs btn-primary fa fa-user"></i>
										CFDI Generado
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
												Nueva Solicitud Cuenta Contribuyente
											</span>
											<span class="pull-right badge badge-success">+8</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
												CFDI Cancelado
											</span>
											<span class="pull-right badge badge-info">+11</span>
										</div>
									</a>
								</li>
							</ul>
						</li>

						<li class="dropdown-footer">
							<a href="#">
								Ver todas las notificaciones
								<i class="ace-icon fa fa-arrow-right"></i>
							</a>
						</li>
					</ul>
				</li>
				<li ui-sref-active="active" uib-dropdown class="dropdown pointer light-blue" ng-switch-when="true">
					<a class="dropdown-toggle" uib-dropdown-toggle href="">
                        <img src="content/images/avatars/user.png" class="nav-user-photo" ng-if="vm.account.filephoto==null"/>
                        <img class="nav-user-photo" ng-if="vm.account.filephoto!=null" data-ng-src="{{'data:' + vm.account.filephotoContentType + ';base64,' + vm.account.filephoto}}" alt="Photo" />
						<span class="user-info">
							<small>{{vm.account.firtsurname}} {{vm.account.secondsurname}},</small>
							{{vm.account.name}}
						</span>

						<i class="ace-icon fa fa-caret-down"></i>
					</a>

					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li ui-sref-active="active">
							<a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in">
								<span class="glyphicon glyphicon-wrench"></span>
								<span translate="global.menu.account.settings">Settings</span>
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in">
								<span class="glyphicon glyphicon-lock"></span>
								<span translate="global.menu.account.password">Password</span>
							</a>
						</li>
                        <li ui-sref-active="active">
							<a ui-sref="sessions" data-toggle="collapse" data-target=".navbar-collapse.in">
								<span class="glyphicon glyphicon-cloud"></span>
								<span translate="global.menu.account.sessions">Sessions</span>
							</a>
						</li>
						<li class="divider"></li>

						<li ui-sref-active="active">
							<a href="" ng-click="vm.logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in">
								<span class="glyphicon glyphicon-log-out"></span>
								<span translate="global.menu.account.logout">Sign out</span>
							</a>
						</li>
					</ul>
				</li>
				<li ui-sref-active="active" uib-dropdown class="dropdown pointer transparent" ng-controller="JhiLanguageController as languageVm">
					<a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
						<span>
							<span class="glyphicon glyphicon-flag"></span>
							<span class="hidden-sm" translate="global.menu.language">Language</span>
							<b class="caret"></b>
						</span>
					</a>
					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-caret dropdown-close" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
						<li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
							<a href="" ng-click="languageVm.changeLanguage(language)" data-toggle="collapse" data-target=".navbar-collapse.in">{{language | findLanguageFromKey}}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div><!-- /.navbar-container -->
</div>
