
<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_desc_estateLabel" translate="megabillingplatformApp.freecom_desc_estate.home.createOrEditLabel">Create or edit a Freecom_desc_estate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.com_desc_estate.id != null">
            <label class="col-sm-4 control-label no-padding-right" for="id" translate="global.field.id">ID</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="id" name="id"
                        ng-model="vm.freecom_desc_estate.id" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.c_type_estate" for="field_c_type_estate">c_type_estate</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_type_estate" name="c_type_estate" ng-model="vm.freecom_desc_estate.c_type_estate"
                        ng-options="c_type_estate as c_type_estate.code for c_type_estate in vm.c_type_estates track by c_type_estate.id" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.c_country" for="field_c_country">c_country</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_country" name="c_country" ng-model="vm.freecom_desc_estate.c_country"
                        ng-options="c_country as c_country.name for c_country in vm.c_countrys track by c_country.id" data-ng-change="vm.onChangeC_country()" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.c_state" for="field_c_state">c_state</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_state" name="c_state" ng-model="vm.freecom_desc_estate.c_state"
                        ng-options="c_state as c_state.name for c_state in vm.c_states track by c_state.id" data-ng-change="vm.onChangeC_state()" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.c_municipality" for="field_c_municipality">c_municipality</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_municipality" name="c_municipality" ng-model="vm.freecom_desc_estate.c_municipality"
                        ng-options="c_municipality as c_municipality.name for c_municipality in vm.c_municipalitys track by c_municipality.id" data-ng-change="vm.onChangeC_municipality()" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.c_colony" for="field_c_colony">c_colony</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_c_colony" name="c_colony" ng-model="vm.freecom_desc_estate.c_colony"
                        ng-options="c_colony as c_colony.code for c_colony in vm.c_colonys track by c_colony.id" data-ng-change="vm.onChangeC_colony()" >
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.c_zip_code" for="field_c_zip_code">c_zip_code</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="c_zip_dode" id="field_c_zip_code"
                       ng-model="vm.freecom_desc_estate.c_zip_code.code" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.street" for="field_street">Street</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="street" id="field_street"
                        ng-model="vm.freecom_desc_estate.street"
                        required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.locale" for="field_locale">Locale</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="locale" id="field_locale"
                       ng-model="vm.freecom_desc_estate.locale"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.noext" for="field_noext">Noext</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="noext" id="field_noext"
                        ng-model="vm.freecom_desc_estate.noext"
                         />
            </div>
            <div class="col-sm-6">
                <label class="col-sm-5 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.noint" for="field_noint">Noint</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="noint" id="field_noint"
                           ng-model="vm.freecom_desc_estate.noint"
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_desc_estate.reference" for="field_reference">Reference</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="reference" id="field_reference" rows="5"
                          ng-model="vm.freecom_desc_estate.reference"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
