
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCom_beneficiaryLabel" translate="megabillingplatformApp.com_beneficiary.home.createOrEditLabel">Create or edit a Com Beneficiary</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.com_beneficiary.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.com_beneficiary.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.receiver_bank" for="field_receiver_bank">Receiver Bank</label>
            <input type="text" class="form-control" name="receiver_bank" id="field_receiver_bank"
                    ng-model="vm.com_beneficiary.receiver_bank"
                    required ng-maxlength="40" />
            <div ng-show="editForm.receiver_bank.$invalid">
                <p class="help-block"
                    ng-show="editForm.receiver_bank.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.receiver_bank.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="40">
                    This field cannot be longer than 40 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.com_beneficiary.name"
                    required ng-maxlength="40" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="40">
                    This field cannot be longer than 40 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.type_account" for="field_type_account">Type Account</label>
            <input type="number" class="form-control" name="type_account" id="field_type_account"
                    ng-model="vm.com_beneficiary.type_account"
                    required />
            <div ng-show="editForm.type_account.$invalid">
                <p class="help-block"
                    ng-show="editForm.type_account.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.type_account.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.account" for="field_account">Account</label>
            <input type="number" class="form-control" name="account" id="field_account"
                    ng-model="vm.com_beneficiary.account"
                    required />
            <div ng-show="editForm.account.$invalid">
                <p class="help-block"
                    ng-show="editForm.account.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.account.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="vm.com_beneficiary.rfc"
                    required />
            <div ng-show="editForm.rfc.$invalid">
                <p class="help-block"
                    ng-show="editForm.rfc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.concept" for="field_concept">Concept</label>
            <input type="text" class="form-control" name="concept" id="field_concept"
                    ng-model="vm.com_beneficiary.concept"
                    required ng-maxlength="40" />
            <div ng-show="editForm.concept.$invalid">
                <p class="help-block"
                    ng-show="editForm.concept.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.concept.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="40">
                    This field cannot be longer than 40 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.iva" for="field_iva">Iva</label>
            <input type="number" class="form-control" name="iva" id="field_iva"
                    ng-model="vm.com_beneficiary.iva"
                    required />
            <div ng-show="editForm.iva.$invalid">
                <p class="help-block"
                    ng-show="editForm.iva.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.iva.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_beneficiary.payment_amount" for="field_payment_amount">Payment Amount</label>
            <input type="number" class="form-control" name="payment_amount" id="field_payment_amount"
                    ng-model="vm.com_beneficiary.payment_amount"
                    required />
            <div ng-show="editForm.payment_amount.$invalid">
                <p class="help-block"
                    ng-show="editForm.payment_amount.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.payment_amount.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
