<div class="footer" ng-switch="vm.isAuthenticated()">
	<div class="footer-inner" ng-switch-when="true">
		<div class="footer-content">
			<span>
				&copy; 2016 <span class="">Megapractical</span>
				| <a href="#">Política de Privacidad</a> | <a href="#">Término de Uso</a>
			</span>
			&nbsp; &nbsp;
			<span class="action-buttons">
				<a href="">
					<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
				</a>
				<a href="#">
					<i class="ace-icon fa fa-youtube-square text-danger bigger-150"></i>
				</a>
				<a href="">
					<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
				</a>
			</span>
		</div>
	</div>
</div>
