
		<div class="footer-inner" ng-switch="vm.isAuthenticated()">
			<div class="footer-content">
				<span>
					&copy; 2016 <span style="margin-right:20px">Megapractical</span>
					<a class="link-icon-table" ui-sref="register" ng-switch-when="false"><span translate="global.menu.account.register">Registrarte</span></a>
					<a class="link-icon-table" href="" ng-click="vm.login()" ng-switch-when="false"><span translate="global.menu.account.login">Iniciar Sesión</span></a>
					<a class="link-icon-table" target="_blank" href="http://www.megafactura.com.mx/atencion-al-cliente-megafactura"><span translate="global.menu.account.soporte.tecnico">Soporte Técnico</span></a>
					<a class="link-icon-table" target="_blank" href="../../../app/pdfs/aviso_privacidad.pdf"><span translate="global.menu.account.politica.privacidad">Política de Privacidad</span></a>
					<a class="link-icon-table" target="_blank" href="http://www.megafactura.com.mx/facturador-electronico-gratis"><span translate="global.menu.account.ayuda">Ayuda</span></a>
				</span>
				&nbsp; &nbsp;
				<span class="action-buttons">
                    <a target="_blank" href="http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/pac_megapractical.aspx">
                        <img alt="SAT - Servicio de Administración Tributaria" src="../../../content/images/icons/sat.png">
                    </a>
					<a target="_blank" href="https://twitter.com/megapractical">
						<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
					</a>
					<a target="_blank" href="https://www.linkedin.com/company/megapractical-sa-de-cv">
						<i class="ace-icon fa fa-linkedin-square text-primary bigger-150"></i>
					</a>
					<a target="_blank" href="https://www.facebook.com/Megapractical-671914606198465/?fref=ts">
						<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
					</a>
				</span>
			</div>
		</div>
