<div>
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <h2 translate="settings.title" translate-values="{username: '{{vm.settingsAccount.login}}'}">User settings for [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists" translate="settings.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="rfc" translate="settings.form.rfc">RFC</label>
                    <input type="text" class="form-control" id="rfc" name="rfc"
                           ng-model="vm.settingsAccount.rfc" readonly>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name" translate="settings.form.name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="{{'settings.form.name.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.name" ng-minlength=3 ng-maxlength=50 required
                           ng-pattern="/^[A-ZÑa-zñ]+[A-ZÑa-zñ\s]+[A-ZÑa-zñ]$/" maxlength="50">
                    <div ng-show="form.name.$dirty && form.name.$invalid">
                        <p class="help-block"
                               ng-show="form.name.$error.required" translate="settings.messages.validate.name.required">
                            Your name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.name.$error.minlength" translate="settings.messages.validate.name.minlength">
                            Your name is required to be at least 3 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.name.$error.maxlength" translate="settings.messages.validate.name.maxlength">
                            Your name cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.name.$error.pattern" translate="settings.messages.validate.name.pattern">
                            Your name is invalid.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firtsurname" translate="settings.form.firtsurname">Firt surname</label>
                    <input type="text" class="form-control" id="firtsurname" name="firtsurname" placeholder="{{'settings.form.firtsurname.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.firtsurname" ng-minlength=3 ng-maxlength=50 required
                           ng-pattern="/^[A-Za-z]{3,50}$/" maxlength="50">
                    <div ng-show="form.firtsurname.$dirty && form.firtsurname.$invalid">
                        <p class="help-block"
                           ng-show="form.firtsurname.$error.required" translate="settings.messages.validate.firtsurname.required">
                            Your firt surname is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.firtsurname.$error.minlength" translate="settings.messages.validate.firtsurname.minlength">
                            Your firt surname is required to be at least 3 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.firtsurname.$error.maxlength" translate="settings.messages.validate.firtsurname.maxlength">
                            Your firt surname cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.firtsurname.$error.pattern" translate="settings.messages.validate.firtsurname.pattern">
                            Your firt surname is invalid.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="secondsurname" translate="settings.form.firtsurname">Second surname</label>
                    <input type="text" class="form-control" id="secondsurname" name="secondsurname" placeholder="{{'settings.form.secondsurname.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.secondsurname" ng-minlength=3 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.secondsurname.$dirty && form.secondsurname.$invalid">
                        <p class="help-block"
                           ng-show="form.secondsurname.$error.required" translate="settings.messages.validate.secondsurname.required">
                            Your second surname is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.secondsurname.$error.minlength" translate="settings.messages.validate.secondsurname.minlength">
                            Your second surname is required to be at least 3 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.secondsurname.$error.maxlength" translate="settings.messages.validate.secondsurname.maxlength">
                            Your second surname cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.email" ng-minlength=6 ng-maxlength=254 required maxlength="254" ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.pattern" translate="global.messages.validate.email.pattern">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 6 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 254 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone" translate="settings.form.phone">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="{{'settings.form.phone.placeholder' | translate}}"
                           ng-model="vm.settingsAccount.phone" ng-minlength=1 ng-maxlength=15 maxlength="15" ng-pattern="/^[0-9]*$/" required>
                    <div ng-show="form.phone.$dirty && form.phone.$invalid">
                        <p class="help-block"
                           ng-show="form.phone.$error.required" translate="settings.messages.validate.phone.required">
                            Your phone is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.phone.$error.minlength" translate="settings.messages.validate.phone.minlength">
                            Your phone is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                           ng-show="form.phone.$error.maxlength" translate="settings.messages.validate.phone.maxlength">
                            Your phone cannot be longer than 15 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.phone.$error.pattern" translate="settings.messages.validate.phone.pattern">
                            Phone format is incorrect.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender" translate="settings.form.gender">Gender</label>
                    <select name=gender id="gender" class="form-control" ng-model="vm.settingsAccount.gender" style="width:200px">
                        <option selected="selected"> {{'global.form.gender.placeholder' | translate}} </option>
                        <option name=M value=M> {{'global.form.gender.male' | translate}} </option>
                        <option name=F value=F> {{'global.form.gender.female' | translate}} </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="langKey" translate="settings.form.language">Language</label>
                    <select id="langKey" name="langKey" class="form-control" ng-model="vm.settingsAccount.langKey" ng-controller="JhiLanguageController as languageVm" style="width:200px">
                        <option selected="selected"> {{'settings.form.language.placeholder' | translate}} </option>
                        <option name=spanish value=es> {{'settings.form.language.spanish' | translate}} </option>
                        <option name=english value=en> {{'settings.form.language.english' | translate}} </option>
                    </select>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>
