
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaxpayer_transactionsLabel" translate="megabillingplatformApp.taxpayer_transactions.home.createOrEditLabel">Create or edit a Taxpayer Transactions</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.taxpayer_transactions.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.taxpayer_transactions.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.taxpayer_transactions.transactions_available" for="field_transactions_available">Transactions Available</label>
            <input type="number" class="form-control" name="transactions_available" id="field_transactions_available"
                    ng-model="vm.taxpayer_transactions.transactions_available"
                    required />
            <div ng-show="editForm.transactions_available.$invalid">
                <p class="help-block"
                    ng-show="editForm.transactions_available.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.transactions_available.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.taxpayer_transactions.transactions_spent" for="field_transactions_spent">Transactions Spent</label>
            <input type="number" class="form-control" name="transactions_spent" id="field_transactions_spent"
                    ng-model="vm.taxpayer_transactions.transactions_spent"
                    required />
            <div ng-show="editForm.transactions_spent.$invalid">
                <p class="help-block"
                    ng-show="editForm.transactions_spent.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.transactions_spent.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.taxpayer_transactions.taxpayer_account" for="field_taxpayer_account">Taxpayer Account</label>
            <select class="form-control" id="field_taxpayer_account" name="taxpayer_account" ng-model="vm.taxpayer_transactions.taxpayer_account" ng-options="taxpayer_account as taxpayer_account.id for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
