
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFileLabel" translate="megabillingplatformApp.file.home.createOrEditLabel">Create or edit a File</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.file.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.file.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.file.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.file.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.file.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.file.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                    ng-model="vm.file.path"
                     />
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.file.file_state" for="field_file_state">file_state</label>
            <select class="form-control" id="field_file_state" name="file_state" ng-model="vm.file.file_state" ng-options="file_state as file_state.name for file_state in vm.file_states track by file_state.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.file.file_type" for="field_file_type">file_type</label>
            <select class="form-control" id="field_file_type" name="file_type" ng-model="vm.file.file_type" ng-options="file_type as file_type.name for file_type in vm.file_types track by file_type.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
