<div>
    <h2 translate="megabillingplatformApp.com_vehicle_customs_information.home.title">Com Vehicle Customs Informations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="com-vehicle-customs-information.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.com_vehicle_customs_information.home.createLabel">
                        Create new Com Vehicle Customs Information
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="number"><span translate="megabillingplatformApp.com_vehicle_customs_information.number">Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date_expedition"><span translate="megabillingplatformApp.com_vehicle_customs_information.date_expedition">Date Expedition</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customs"><span translate="megabillingplatformApp.com_vehicle_customs_information.customs">Customs</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="com_used_vehicle.id"><span translate="megabillingplatformApp.com_vehicle_customs_information.com_used_vehicle">Com Used Vehicle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="com_vehicle_customs_information in vm.com_vehicle_customs_informations track by com_vehicle_customs_information.id">
                    <td><a ui-sref="com-vehicle-customs-information-detail({id:com_vehicle_customs_information.id})">{{com_vehicle_customs_information.id}}</a></td>
                    <td>{{com_vehicle_customs_information.number}}</td>
                        <td>{{com_vehicle_customs_information.date_expedition | date:'mediumDate'}}</td>
                    <td>{{com_vehicle_customs_information.customs}}</td>
                    <td>
                        <a ui-sref="com-used-vehicle-detail({id:com_vehicle_customs_information.com_used_vehicle.id})">{{com_vehicle_customs_information.com_used_vehicle.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="com-vehicle-customs-information-detail({id:com_vehicle_customs_information.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-vehicle-customs-information.edit({id:com_vehicle_customs_information.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="com-vehicle-customs-information.delete({id:com_vehicle_customs_information.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
