<div>
    <h2 translate="megabillingplatformApp.tracemg.home.title">Tracemgs</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="editForm" class="form-horizontal" role="form" ng-submit="vm.search()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.tracemg.principal" for="filterprincipal">User</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="filterprincipal" id="filterprincipal"
                                       ng-model="vm.principal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.tracemg.from" for="field_date">Date from</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.fromDate" is-open="vm.datePickerOpenStatus.date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.tracemg.to" for="field_date1">Date to</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input id="field_date1" type="text" class="form-control" name="date1" uib-datepicker-popup="{{dateformat}}" ng-model="vm.toDate" is-open="vm.datePickerOpenStatus1.date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar1('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.tracemg.auditEventType" for="field_state">State</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="field_state" name="state" ng-model="vm.auditEventType"
                                        ng-options="auditEventType as auditEventType.name for auditEventType in vm.auditEventTypeS track by auditEventType.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.tracemg.ip" for="filterip">IP</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="filterip" id="filterip"
                                       ng-model="vm.ip" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">
                            <span translate="megabillingplatformApp.tracemg.search">Search</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h3 class="header smaller lighter blue" translate="megabillingplatformApp.tracemg.search_result">
        Resultados de la búsqueda
    </h3>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="audit_event_type.name"><span translate="megabillingplatformApp.tracemg.audit_event_type">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="audit_event_type.description"><span translate="megabillingplatformApp.tracemg.audit_event_type_description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timestamp"><span translate="megabillingplatformApp.tracemg.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_state_event.name"><span translate="megabillingplatformApp.tracemg.c_state_event">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="principal"><span translate="megabillingplatformApp.tracemg.principal">Principal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ip"><span translate="megabillingplatformApp.tracemg.ip">Ip</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tracemg in vm.tracemgs track by tracemg.id">
                    <td><span>{{tracemg.audit_event_type.name}}</span></td>
                    <td><span>{{tracemg.audit_event_type.description}}</span></td>
                    <td><span>{{tracemg.timestamp | date:'medium'}}</span></td>
                    <td><span>{{tracemg.c_state_event.name}}</span></td>
                    <td><span>{{tracemg.principal}}</span></td>
                    <td><span>{{tracemg.ip}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
