
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCom_tfdLabel" translate="megabillingplatformApp.com_tfd.home.createOrEditLabel">Create or edit a Com Tfd</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.com_tfd.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.com_tfd.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_tfd.version" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                    ng-model="vm.com_tfd.version"
                    required />
            <div ng-show="editForm.version.$invalid">
                <p class="help-block"
                    ng-show="editForm.version.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_tfd.uuid" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                    ng-model="vm.com_tfd.uuid"
                    required />
            <div ng-show="editForm.uuid.$invalid">
                <p class="help-block"
                    ng-show="editForm.uuid.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_tfd.stamp_date" for="field_stamp_date">Stamp Date</label>
                <div class="input-group">
                    <input id="field_stamp_date" type="text" class="form-control" name="stamp_date" datetime-picker="{{dateformat}}" ng-model="vm.com_tfd.stamp_date" is-open="vm.datePickerOpenStatus.stamp_date"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('stamp_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.stamp_date.$invalid">
                <p class="help-block"
                    ng-show="editForm.stamp_date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.stamp_date.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_tfd.stamp_cfd" for="field_stamp_cfd">Stamp Cfd</label>
            <input type="text" class="form-control" name="stamp_cfd" id="field_stamp_cfd"
                    ng-model="vm.com_tfd.stamp_cfd"
                    required />
            <div ng-show="editForm.stamp_cfd.$invalid">
                <p class="help-block"
                    ng-show="editForm.stamp_cfd.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_tfd.sat_number_certificate" for="field_sat_number_certificate">Sat Number Certificate</label>
            <input type="text" class="form-control" name="sat_number_certificate" id="field_sat_number_certificate"
                    ng-model="vm.com_tfd.sat_number_certificate"
                    required ng-maxlength="20" />
            <div ng-show="editForm.sat_number_certificate.$invalid">
                <p class="help-block"
                    ng-show="editForm.sat_number_certificate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sat_number_certificate.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_tfd.stamp_sat" for="field_stamp_sat">Stamp Sat</label>
            <input type="text" class="form-control" name="stamp_sat" id="field_stamp_sat"
                    ng-model="vm.com_tfd.stamp_sat"
                    required />
            <div ng-show="editForm.stamp_sat.$invalid">
                <p class="help-block"
                    ng-show="editForm.stamp_sat.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
