
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCom_apawLabel" translate="megabillingplatformApp.com_apaw.home.createOrEditLabel">Create or edit a Com Apaw</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.com_apaw.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.com_apaw.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_apaw.version" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                    ng-model="vm.com_apaw.version"
                    required />
            <div ng-show="editForm.version.$invalid">
                <p class="help-block"
                    ng-show="editForm.version.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_apaw.others_well_type" for="field_others_well_type">Others Well Type</label>
            <input type="text" class="form-control" name="others_well_type" id="field_others_well_type"
                    ng-model="vm.com_apaw.others_well_type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_apaw.others_acquired_title" for="field_others_acquired_title">Others Acquired Title</label>
            <input type="text" class="form-control" name="others_acquired_title" id="field_others_acquired_title"
                    ng-model="vm.com_apaw.others_acquired_title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_apaw.subtotal" for="field_subtotal">Subtotal</label>
            <input type="number" class="form-control" name="subtotal" id="field_subtotal"
                    ng-model="vm.com_apaw.subtotal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_apaw.iva" for="field_iva">Iva</label>
            <input type="number" class="form-control" name="iva" id="field_iva"
                    ng-model="vm.com_apaw.iva"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.com_apaw.date_acquisition" for="field_date_acquisition">Date Acquisition</label>
                <div class="input-group">
                    <input id="field_date_acquisition" type="text" class="form-control" name="date_acquisition" datetime-picker="{{dateformat}}" ng-model="vm.com_apaw.date_acquisition" is-open="vm.datePickerOpenStatus.date_acquisition"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date_acquisition')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date_acquisition.$invalid">
                <p class="help-block"
                    ng-show="editForm.date_acquisition.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.date_acquisition.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.com_apaw.cfdi" for="field_cfdi">Cfdi</label>
            <select class="form-control" id="field_cfdi" name="cfdi" ng-model="vm.com_apaw.cfdi" ng-options="cfdi as cfdi.id for cfdi in vm.cfdis | orderBy:'id' track by cfdi.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.com_apaw.c_well_type" for="field_c_well_type">C Well Type</label>
            <select class="form-control" id="field_c_well_type" name="c_well_type" ng-model="vm.com_apaw.c_well_type" ng-options="c_well_type as c_well_type.code for c_well_type in vm.c_well_types track by c_well_type.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.com_apaw.c_acquired_title" for="field_c_acquired_title">C Acquired Title</label>
            <select class="form-control" id="field_c_acquired_title" name="c_acquired_title" ng-model="vm.com_apaw.c_acquired_title" ng-options="c_acquired_title as c_acquired_title.code for c_acquired_title in vm.c_acquired_titles track by c_acquired_title.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.com_apaw.c_features_work_piece" for="field_c_features_work_piece">C Features Work Piece</label>
            <select class="form-control" id="field_c_features_work_piece" name="c_features_work_piece" ng-model="vm.com_apaw.c_features_work_piece" ng-options="c_features_work_piece as c_features_work_piece.code for c_features_work_piece in vm.c_features_work_pieces track by c_features_work_piece.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
