<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="form-group">
    <label class="control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.confirmationtrans"> ¿Desea confirmar la transferencia?</label>
</div>
<div class="form-group">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">
        <span translate="entity.action.cancel">Cancel</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="vm.accept()">
        <span translate="entity.action.accept" >Aceptar</span>
    </button>
</div>
</body>
</html>
