<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form name="editForm" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-12">
            <div style="border: 2px solid #62b6e9;">
                <h3 class="header smaller lighter blue" translate="megabillingplatformApp.branch_office.detail.title">
                    Branch office
                </h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" translate="megabillingplatformApp.branch_office.bussines_name" for="field_bussines_name">Bussines Name</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="bussines_name" id="field_bussines_name"
                                       ng-model="vm.branch_office.bussines_name"
                                       required />
                                <div ng-show="editForm.bussines_name.$dirty && editForm.bussines_name.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.bussines_name.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" for="activated" ng-show = "vm.edit == null">
                                <input type="checkbox" id="activated" ng-model = "vm.edit" data-ng-change="vm.clicEdit()">
                                <span translate="entity.action.edit">Edit</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_country" for="field_c_country">c_country</label>
                            <div class="col-md-7">
                                <select class="form-control" id="field_c_country" name="c_country"
                                        ng-model="vm.branch_office.tax_address.c_country"
                                        ng-show = "vm.edit != null"
                                        ng-options="c_country as c_country.name for c_country in vm.c_countrys track by c_country.id"
                                        data-ng-change="vm.onChangeC_country()"
                                        ng-selected = "vm.branch_office.tax_address.c_country = vm.branch_office.tax_address.c_country || vm.c_countrys[150]" required>
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.c_country.$dirty && editForm.c_country.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.c_country.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                                <input type="text" id="field_country" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.c_country.name" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_state" for="field_c_state">c_state</label>
                            <div class="col-md-7">
                                <select class="form-control" id="field_c_state" name="c_state"
                                        ng-model="vm.branch_office.tax_address.c_state"
                                        ng-show = "vm.edit != null"
                                        ng-options="c_state as c_state.name for c_state in vm.c_states track by c_state.id"
                                        data-ng-change="vm.onChangeC_state()">
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.c_state.$dirty && editForm.c_state.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.c_state.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                                <input type="text" id="field_state" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.c_state.name" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_municipality" for="field_c_municipality">c_municipality</label>
                            <div class="col-md-7">
                                <select class="form-control" id="field_c_municipality" name="c_municipality"
                                        ng-model="vm.branch_office.tax_address.c_municipality"
                                        ng-show = "vm.edit != null"
                                        ng-options="c_municipality as c_municipality.name for c_municipality in vm.c_municipalitys track by c_municipality.id"
                                        data-ng-change="vm.onChangeC_municipality()">
                                    <option value=""></option>
                                </select>
                                <div ng-show="editForm.c_municipality.$dirty && editForm.c_municipality.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.c_municipality.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                                <input type="text" id="field_municipality" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.c_municipality.name" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right"  translate="megabillingplatformApp.taxpayer_account.street" for="field_street">Street</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="street" id="field_street"
                                       ng-model="vm.branch_office.tax_address.street"
                                       ng-show = "vm.edit != null"
                                       required>
                                <div ng-show="editForm.street.$dirty && editForm.street.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.street.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                                <input type="text" id="field_street1" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.street" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.no_ext" for="field_num_ext">No ext</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="num_ext" id="field_num_ext" ng-show = "vm.edit != null"
                                       ng-model="vm.branch_office.tax_address.no_ext" />
                                <input type="text" id="field_num_ext1" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.no_ext" ng-show = "vm.edit == null" readonly/>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-5 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.no_int" for="field_num_int">No int</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="num_int" id="field_num_int" ng-show = "vm.edit != null"
                                           ng-model="vm.branch_office.tax_address.no_int"/>
                                    <input type="text" id="field_num_int1" class="form-control" rows="5"
                                           ng-model="vm.branch_office.tax_address.no_int" ng-show = "vm.edit == null" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_colony" for="field_c_colony">c_colony</label>
                            <div class="col-md-7">
                                <select class="form-control" id="field_c_colony" name="c_colony"
                                        ng-model="vm.branch_office.tax_address.c_colony"
                                        ng-show = "vm.edit != null"
                                        ng-options="c_colony as c_colony.code for c_colony in vm.c_colonys track by c_colony.id"
                                        data-ng-change="vm.onChangeC_colony()">
                                    <option value=""></option>
                                </select>
                                <input type="text" id="field_colony1" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.c_colony.code" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_zip_code" for="field_c_zip_code">c_zip_code</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="c_zip_dode" id="field_c_zip_code"
                                       ng-model="vm.branch_office.tax_address.c_zip_code.code" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right"  translate="megabillingplatformApp.taxpayer_account.location" for="field_location">Location</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="location" id="field_location" ng-show = "vm.edit != null"
                                       ng-model="vm.branch_office.tax_address.location"/>
                                <input type="text" id="field_location1" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.location" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label no-padding-right"  translate="megabillingplatformApp.taxpayer_account.intersection" for="intersection">Intersection</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="intersection" id="intersection" ng-show = "vm.edit != null"
                                       ng-model="vm.branch_office.tax_address.intersection"/>
                                <input type="text" id="field_intersection" class="form-control" rows="5"
                                       ng-model="vm.branch_office.tax_address.intersection" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.reference" for="field_reference">
                                Reference
                            </label>
                            <div class="col-sm-7">
                                <textarea type="text" id="field_reference" class="form-control" rows="5" ng-show = "vm.edit != null"
                                      ng-model="vm.branch_office.tax_address.reference"></textarea>
                                <textarea type="text" id="field_reference1" class="form-control" rows="5"
                                          ng-model="vm.branch_office.tax_address.reference" ng-show = "vm.edit == null" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">

                            <button type="button" ng-disabled="editForm.$invalid || vm.isSaving" style="margin: 0 15px" ng-click="vm.add()" class="btn btn-primary pull-right">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                            </button>

                            <button type="button" class="btn btn-default pull-right" ng-click="vm.cancel()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>




