<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1>
                {{'megabillingplatformApp.taxpayer_account.detail.title' | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {{'megabillingplatformApp.taxpayer_account.email_account' | translate}}
                </small>
            </h1>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="field_account" name="account" ng-model="vm.taxpayer_account" ng-change="vm.changeAccount()"
                    ng-options="taxpayer_account as taxpayer_account.bussines_name for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                <option value=""></option>
            </select>
        </div>
        <div class="col-md-1">
            <a title="Ayuda" data-rel="tooltip" class="btn btn-sm btn-info tooltip-info" href="#">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
    </div>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <li>
                <a href="#/">
                    <i class="ace-icon fa fa-home light-blue bigger-150"></i>
                </a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-general({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.general' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-users({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.users' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-taxregime({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.tax_regime' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-branchoffice({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.branch_office' | translate}}</a>
            </li>
            <li  class="active">
                <a ui-sref="#">{{'megabillingplatformApp.taxpayer_account.email_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-ftp({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.ftp_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-transaction({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.adquired' | translate}}</a>
            </li>
        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="hr hr-16 hr-dotted"></div>

<jhi-alert></jhi-alert>

<form name="editForm" class="form-horizontal" role="form" novalidate show-validation>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_mail_accounts.incoming_mail_type">Incoming Mail Type</label>
                <div class="col-md-5">
                    <select name=incoming_mail_type id="incoming_mail_type" class="form-control"
                            ng-model="vm.taxpayer_mail_accounts.incoming_mail_type" style="width:200px">
                        <option selected="selected" name=POP3 value=POP3>POP3</option>
                        <option name=IMAP value=IMAP>IMAP</option>
                    </select>
                    <div ng-show="editForm.incoming_mail_type.$dirty && editForm.incoming_mail_type.$invalid">
                        <p class="help-block"
                           ng-show="editForm.incoming_mail_type.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_mail_accounts.incoming_server_name" for="field_incoming_server_name">Incoming Server Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="incoming_server_name" id="field_incoming_server_name"
                           ng-model="vm.taxpayer_mail_accounts.incoming_server_name"
                           ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*$/"
                           required />
                    <div ng-show="editForm.incoming_server_name.$dirty && editForm.incoming_server_name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.incoming_server_name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.incoming_server_name.$error.pattern" translate="megabillingplatformApp.taxpayer_account.patternservername">
                            This field should be a correct server name.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_mail_accounts.incoming_port" for="field_incoming_port">Incoming Port</label>
                <div class="col-md-5">
                    <input type="number" class="form-control" name="incoming_port" id="field_incoming_port"
                           ng-model="vm.taxpayer_mail_accounts.incoming_port" ng-pattern="/^[0-9]*$/"
                           required />
                    <div ng-show="editForm.incoming_port.$dirty && editForm.incoming_port.$invalid">
                        <p class="help-block"
                           ng-show="editForm.incoming_port.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.incoming_port.$error.number" translate="megabillingplatformApp.taxpayer_account.patternport">
                            This field should be a number.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.incoming_port.$error.pattern" translate="megabillingplatformApp.taxpayer_account.patternport">
                            This field should be a number.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_mail_accounts.username" for="field_username">Username</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="field_username" id="field_username"
                           ng-model="vm.taxpayer_mail_accounts.username"
                           ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*$/"
                        />
                    <div ng-show="editForm.field_username.$dirty && editForm.field_username.$invalid">
                        <p class="help-block"
                           ng-show="editForm.field_username.$error.pattern" translate="megabillingplatformApp.taxpayer_account.patternusername">
                            This field should be a correct username.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_mail_accounts.password" for="field_password">Password</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" name="password" id="field_password"
                           ng-model="vm.taxpayer_mail_accounts.password"
                        />
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">

                <button type="button" ng-disabled="editForm.$invalid || vm.isSaving" style="margin: 0 15px" class="btn btn-primary pull-right" ng-click="vm.save()">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                </button>

                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                </button>

            </div>
        </div>
    </div>
</form>


