<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1>
                {{'megabillingplatformApp.taxpayer_account.detail.title' | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {{'megabillingplatformApp.taxpayer_account.branch_office' | translate}}
                </small>
            </h1>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="field_account" name="account" ng-model="vm.taxpayer_account" ng-change="vm.changeAccount()"
                    ng-options="taxpayer_account as taxpayer_account.bussines_name for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                <option value=""></option>
            </select>
        </div>
        <div class="col-md-1">
            <a title="Ayuda" data-rel="tooltip" class="btn btn-sm btn-info tooltip-info" href="#">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
    </div>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <li>
                <a href="#/">
                    <i class="ace-icon fa fa-home light-blue bigger-150"></i>
                </a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-general({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.general' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-users({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.users' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-taxregime({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.tax_regime' | translate}}</a>
            </li>
            <li class="active">
                <a ui-sref="#">{{'megabillingplatformApp.taxpayer_account.branch_office' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-mail({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.email_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-ftp({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.ftp_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-transaction({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.adquired' | translate}}</a>
            </li>
        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="hr hr-16 hr-dotted"></div>

<jhi-alert></jhi-alert>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 no-padding-left" ng-click="vm.add()">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.branch_office.home.createLabel">
                        Create new Branch Office
                    </span>
            </button>
        </div>
    </div>
</div>
<br/>

<div class="hr hr-16 hr-dotted"></div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th>
                        <span translate="megabillingplatformApp.branch_office.bussines_name1">Bussines Name</span>
                        <a href="" ng-click="vm.campo = 'bussines_name'; vm.orden=!vm.orden">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </th>
                    <th>
                        <span translate="megabillingplatformApp.branch_office.tax_address1">Tax Address</span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="branch_office in vm.branch_offices  | orderBy:vm.campo:vm.orden track by branch_office.id">
                    <td>{{branch_office.bussines_name}}</td>
                    <td>
                        <a ui-sref="tax-address-detail({id:branch_office.tax_address.id})">{{'entity.action.view' | translate}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="branch-office-detail({id:branch_office.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="button"
                                    ng-click="vm.editBranchoffice(branch_office)"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="button"
                                    ng-click="vm.deleteOffice(branch_office)" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>

