<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1>
                {{'megabillingplatformApp.taxpayer_account.detail.title' | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {{'megabillingplatformApp.taxpayer_account.general' | translate}}
                </small>
            </h1>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="field_account" name="account" ng-model="vm.taxpayer_account" ng-change="vm.changeAccount()"
                    ng-options="taxpayer_account as taxpayer_account.bussines_name for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                <option value=""></option>
            </select>
        </div>
        <div class="col-md-1">
            <a title="Ayuda" data-rel="tooltip" class="btn btn-sm btn-info tooltip-info" href="#">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
    </div>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <li>
                <a href="#/">
                    <i class="ace-icon fa fa-home light-blue bigger-150"></i>
                </a>
            </li>
            <li class="active">
                <a ui-sref="taxpayer-account-general({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.general' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-users({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.users' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-taxregime({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.tax_regime' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-branchoffice({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.branch_office' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-mail({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.email_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-ftp({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.ftp_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-transaction">{{'megabillingplatformApp.taxpayer_account.adquired' | translate}}</a>
            </li>
        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="hr hr-16 hr-dotted"></div>

<div class="row">
    <div class="col-sm-12">

        <form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>
            <div class="row">
                <div class="col-md-6">

                    <h3 class="header smaller lighter blue" translate="megabillingplatformApp.taxpayer_account.general_data">
                        Datos Generales
                    </h3>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.rfc" for="rfc">RFC</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="rfc" id="rfc" ng-model="vm.taxpayer_account.rfc"
                                   ng-minlength="12" ng-maxlength="13" ng-pattern="/^[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]{3}$/" required >
                            <div ng-show="editForm.rfc.$dirty && editForm.rfc.$invalid">
                                <p class="help-block" ng-show="editForm.rfc.$error.required" translate="megabillingplatformApp.taxpayer_account.messages.validate.rfc.required">
                                    Your RFC is required.
                                </p>
                                <p class="help-block" ng-show="editForm.rfc.$error.minlength" translate="megabillingplatformApp.taxpayer_account.messages.validate.rfc.minlength">
                                    Your RFC is required to be at least 12 character.
                                </p>
                                <p class="help-block" ng-show="editForm.rfc.$error.maxlength" translate="megabillingplatformApp.taxpayer_account.messages.validate.rfc.maxlength">
                                    Your RFC cannot be longer than 13 characters.
                                </p>
                                <p class="help-block" ng-show="editForm.rfc.$error.pattern" translate="megabillingplatformApp.taxpayer_account.messages.validate.rfc.pattern">
                                    RFC format is incorrect.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.bussines_name" for="field_social_reason">
                            Social reason
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="social_reason" id="field_social_reason"
                                   ng-model="vm.taxpayer_account.bussines_name"
                                   required ng-minlength="3" ng-maxlength="50" >
                            <div ng-show="editForm.social_reason.$dirty && editForm.social_reason.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.social_reason.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.social_reason.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                                    This field is required to be at least 3 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.social_reason.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                                    This field cannot be longer than 50 characters.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.email" for="field_email">
                            Email
                        </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" name="email" id="field_email"
                                   ng-model="vm.taxpayer_account.email"
                                   required ng-minlength="6" ng-maxlength="254"
                                   ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/" >
                            <div ng-show="editForm.email.$dirty && editForm.email.$invalid">
                                <p class="help-block" ng-show="editForm.email.$error.required" translate="global.messages.validate.email.required">
                                    Your e-mail is required.
                                </p>
                                <p class="help-block" ng-show="editForm.email.$error.minlength" translate="global.messages.validate.email.minlength">
                                    Your e-mail is required to be at least 6 characters.
                                </p>
                                <p class="help-block" ng-show="editForm.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                                    Your e-mail cannot be longer than 254 characters.
                                </p>
                                <p class="help-block" ng-show="editForm.email.$error.pattern" translate="global.messages.validate.email.pattern" >
                                    Your e-mail is invalid.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.fax" for="field_fax">Fax</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="fax" id="field_fax"
                                   ng-model="vm.taxpayer_account.fax" ng-pattern="/^[0-9]{1,15}$/">
                            <div ng-show="editForm.fax.$dirty && editForm.fax.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.fax.$error.pattern" translate="megabillingplatformApp.taxpayer_account.messages.validate.fax.pattern" >
                                    Fax format is incorrect.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.phone1" for="field_phone1">Phone #1</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="phone1" id="field_phone1"
                                   ng-model="vm.taxpayer_account.phone1"
                                   ng-minlength="1" ng-maxlength="15" ng-pattern="/^[0-9]{1,15}$/" >
                            <div ng-show="editForm.phone1.$dirty && editForm.phone1.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.phone1.$error.minlength" translate="megabillingplatformApp.taxpayer_account.messages.validate.phone.minlength" >
                                    Your phone is required to be at least 1 digit.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.phone1.$error.maxlength" translate="megabillingplatformApp.taxpayer_account.messages.validate.phone.maxlength" >
                                    Your phone cannot be longer than 15 digits.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.phone1.$error.pattern" translate="megabillingplatformApp.taxpayer_account.messages.validate.phone.pattern">
                                    Phone format is incorrect.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.phone2" for="field_phone2">Phone #2</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="phone2" id="field_phone2"
                                   ng-model="vm.taxpayer_account.phone2" ng-minlength="1" ng-maxlength="15" ng-pattern="/^[0-9]{1,15}$/">
                            <div ng-show="editForm.phone2.$dirty && editForm.phone2.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.phone1.$error.minlength" translate="megabillingplatformApp.taxpayer_account.messages.validate.phone.minlength" >
                                    Your phone is required to be at least 1 digit.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.phone1.$error.maxlength" translate="megabillingplatformApp.taxpayer_account.messages.validate.phone.maxlength" >
                                    Your phone cannot be longer than 15 digits.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.phone2.$error.pattern" translate="megabillingplatformApp.taxpayer_account.messages.validate.phone.pattern" translate-value-pattern="^[0-9]{1,15}$">
                                    Phone format is incorrect.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.accuracy" for="accuracy">Accuracy</label>
                        <div class="col-sm-8">
                            <select name="accuracy" id="accuracy" ng-model="vm.taxpayer_account.accuracy" ng-options="val for val in vm.accuracys track by val" required>
                                <option value=""></option>
                            </select>
                            <div ng-show="editForm.accuracy.$dirty && editForm.accuracy.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.accuracy.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="form-group">
                        <h2 class="header smaller lighter blue" translate="megabillingplatformApp.taxpayer_account.certificateinfo">
                            Certificate information
                        </h2>
                        <button ng-if= "vm.taxpayer_account.taxpayer_certificate.filecertificate || vm.taxpayer_account.taxpayer_certificate.filekey" type="button" class="btn btn-default pull-right" ng-click = "vm.clearInfor()">
                            <span translate="entity.action.delete">Borrar</span>
                        </button>
                        <button type="button" class="btn btn-primary pull-right" style="margin: 0 15px" ng-click = "vm.showInfo = true;vm.add();">
                            <span translate="entity.action.add">Adicionar</span>
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.number_certificate">
                            Number certificate
                        </label>
                        <div class="col-sm-8">
                            <label class="control-label">
                                {{vm.taxpayer_account.taxpayer_certificate.number_certificate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.rfc_certificate">
                            RFC
                        </label>
                        <div class="col-sm-8">
                            <label class="control-label">
                                {{vm.taxpayer_account.taxpayer_certificate.rfc_certificate}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.bussines_name_certificate">
                            Bussines name
                        </label>
                        <div class="col-sm-8">
                            <label class="control-label">
                                {{vm.taxpayer_account.taxpayer_certificate.bussines_name_cert}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.date_created_cert">
                            Date created
                        </label>
                        <div class="col-sm-8">
                            <label class="control-label">
                                {{vm.taxpayer_account.taxpayer_certificate.date_created_cert}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.date_expiration_cert">
                            Date expiration
                        </label>
                        <div class="col-sm-8">
                            <label class="control-label">
                                {{vm.taxpayer_account.taxpayer_certificate.date_expiration_cert}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.valid_days">
                            Valid days
                        </label>
                        <div class="col-sm-8">
                            <label class="control-label">
                                {{vm.taxpayer_account.taxpayer_certificate.valid_days_cert}}
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3 class="header smaller lighter blue" translate="megabillingplatformApp.taxpayer_account.fiscal_ubication">
                        Ubicación Fiscal
                    </h3>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" for="activated" ng-show = "vm.edit == null">
                            <input type="checkbox" id="activated" ng-model = "vm.edit" data-ng-change="vm.clicEdit()">
                            <span translate="entity.action.edit">Edit</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_country" for="field_c_country">c_country</label>
                        <div class="col-md-8">
                            <select class="form-control" id="field_c_country" name="c_country" ng-model="vm.taxpayer_account.tax_address.c_country"
                                    ng-show = "vm.edit != null"
                                    ng-options="c_country as c_country.name for c_country in vm.c_countrys track by c_country.id"
                                    data-ng-change="vm.onChangeC_country()"
                                    ng-selected = "vm.taxpayer_account.tax_address.c_country = vm.taxpayer_account.tax_address.c_country || vm.c_countrys[150]" required>
                                <option value=""></option>
                            </select>
                            <div ng-show="editForm.c_country.$dirty && editForm.c_country.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.c_country.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                            <input type="text" id="field_country" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.c_country.name" ng-show = "vm.edit == null" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_state" for="field_c_state">c_state</label>
                        <div class="col-md-8">
                            <select class="form-control" id="field_c_state" name="c_state"
                                    ng-model="vm.taxpayer_account.tax_address.c_state"
                                    ng-options="c_state as c_state.name for c_state in vm.c_states track by c_state.id"
                                    data-ng-change="vm.onChangeC_state()"
                                    ng-show = "vm.edit != null">
                                <option value=""></option>
                            </select>
                            <div ng-show="editForm.c_state.$dirty && editForm.c_state.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.c_state.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                            <input type="text" id="field_state" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.c_state.name" ng-show = "vm.edit == null" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_municipality" for="field_c_municipality">c_municipality</label>
                        <div class="col-md-8">
                            <select class="form-control" id="field_c_municipality" name="c_municipality" ng-model="vm.taxpayer_account.tax_address.c_municipality"
                                    ng-options="c_municipality as c_municipality.name for c_municipality in vm.c_municipalitys track by c_municipality.id"
                                    data-ng-change="vm.onChangeC_municipality()"
                                    ng-show = "vm.edit != null">
                                <option value=""></option>
                            </select>
                            <div ng-show="editForm.c_municipality.$dirty && editForm.c_municipality.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.c_municipality.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                            <input type="text" id="field_municipality" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.c_municipality.name" ng-show = "vm.edit == null" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right"  translate="megabillingplatformApp.taxpayer_account.street" for="field_street">Street</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="street" id="field_street"
                                   ng-model="vm.taxpayer_account.tax_address.street"
                                   required
                                   ng-show = "vm.edit != null">
                            <div ng-show="editForm.street.$dirty && editForm.street.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.street.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                            <input type="text" id="field_street1" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.street" ng-show = "vm.edit == null" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.no_ext" for="field_num_ext">No ext</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="num_ext" id="field_num_ext"
                                   ng-model="vm.taxpayer_account.tax_address.no_ext" ng-show = "vm.edit != null"/>
                            <input type="text" id="field_num_ext1" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.no_ext" ng-show = "vm.edit == null" readonly/>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-5 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.no_int" for="field_num_int">No int</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" name="num_int" id="field_num_int"
                                       ng-model="vm.taxpayer_account.tax_address.no_int" ng-show = "vm.edit != null"/>
                                <input type="text" id="field_num_int1" class="form-control" rows="5"
                                       ng-model="vm.taxpayer_account.tax_address.no_int" ng-show = "vm.edit == null" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_colony" for="field_c_colony">c_colony</label>
                        <div class="col-md-8">
                            <select class="form-control" id="field_c_colony" name="c_colony" ng-model="vm.taxpayer_account.tax_address.c_colony"
                                    ng-options="c_colony as c_colony.code for c_colony in vm.c_colonys track by c_colony.id"
                                    data-ng-change="vm.onChangeC_colony()"
                                    ng-show = "vm.edit != null">
                                <option value=""></option>
                            </select>
                            <input type="text" id="field_colony1" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.c_colony.code" ng-show = "vm.edit == null" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.c_zip_code" for="field_c_zip_code">c_zip_code</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="c_zip_dode" id="field_c_zip_code"
                                   ng-model="vm.taxpayer_account.tax_address.c_zip_code.code" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right"  translate="megabillingplatformApp.taxpayer_account.location" for="field_location">Location</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="location" id="field_location"
                                   ng-model="vm.taxpayer_account.tax_address.location" ng-show = "vm.edit != null"/>
                            <input type="text" id="field_location1" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.location" ng-show = "vm.edit == null" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right"  translate="megabillingplatformApp.taxpayer_account.intersection" for="intersection">Intersection</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="intersection" id="intersection"
                                   ng-model="vm.taxpayer_account.tax_address.intersection"
                                   ng-show = "vm.edit != null"/>
                            <input type="text" id="field_intersection" class="form-control" rows="5"
                                   ng-model="vm.taxpayer_account.tax_address.intersection" ng-show = "vm.edit == null" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.reference" for="field_reference">
                            Reference
                        </label>
                        <div class="col-sm-8">
                            <textarea type="text" id="field_reference" class="form-control" rows="5"
                                      ng-model="vm.taxpayer_account.tax_address.reference" ng-show = "vm.edit != null"></textarea>
                            <textarea type="text" id="field_reference1" class="form-control" rows="5"
                                      ng-model="vm.taxpayer_account.tax_address.reference" ng-show = "vm.edit == null" readonly></textarea>
                        </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="form-group">

                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary pull-right" style="margin: 0 15px">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save </span>
                        </button>

                        <button type="button" class="btn btn-default pull-right" onclick="window.history.back()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>

                    </div>
                    <div class="form-group">
                        <span class="help-block" ng-show = "vm.messvalidate" translate="megabillingplatformApp.taxpayer_account.messvalidate">Debe validar antes de salvar</span>
                    </div>
                    <jhi-alert-error></jhi-alert-error>
                    <jhi-alert></jhi-alert>
                </div>
            </div>
        </form>

    </div>
</div>
