<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1>
                <a href="#/" class="no-effect-link">
                    <i class="ace-icon fa fa-home light-blue bigger-150"></i>
                </a>
                {{'megabillingplatformApp.taxpayer_account.detail.title' | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {{'megabillingplatformApp.taxpayer_series_folio.home.title' | translate}}
                </small>
            </h1>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="field_account" name="account" ng-model="vm.taxpayer_account" ng-change="vm.changeAccount()"
                    ng-options="taxpayer_account as taxpayer_account.bussines_name for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                <option value=""></option>
            </select>
        </div>
        <div class="col-md-1">
            <a title="Ayuda" data-rel="tooltip" class="btn btn-sm btn-info tooltip-info" href="#">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
    </div>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <li>
                <a ui-sref="taxpayer-account-index({id:vm.taxpayer_account.id})">
                    <i class="ace-icon fa fa-home light-blue bigger-150"></i>
                </a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-general({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.general' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-users({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.users' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-taxregime({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.tax_regime' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-branchoffice({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.branch_office' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-mail({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.email_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-ftp({id:vm.taxpayer_account.id})">{{'megabillingplatformApp.taxpayer_account.ftp_account' | translate}}</a>
            </li>
            <li>
                <a ui-sref="taxpayer-account-transaction">{{'megabillingplatformApp.taxpayer_account.adquired' | translate}}</a>
            </li>
            <li class="active">
                <a ui-sref="#">{{'megabillingplatformApp.taxpayer_account.seriefolio' | translate}}</a>
            </li>
        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="hr hr-16 hr-dotted"></div>

<jhi-alert></jhi-alert>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 no-padding-left" ng-click="vm.add()">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.taxpayer_series_folio.home.createLabel">
                        Create new Serie and Folio
                    </span>
            </button>
        </div>
    </div>
</div>
<br/>

<div class="hr hr-16 hr-dotted"></div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>
                        <span translate="global.field.id">ID</span></span>
                        <a href="" ng-click="vm.campo = 'id'; vm.orden=!vm.orden">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </th>
                    <th><span translate="megabillingplatformApp.taxpayer_series_folio.serie">Serie</span>
                        <a href="" ng-click="vm.campo = 'serie'; vm.orden=!vm.orden">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </th>
                    <th><span translate="megabillingplatformApp.taxpayer_series_folio.folio_start">Folio Start</span>
                        <a href="" ng-click="vm.campo = 'folio_start'; vm.orden=!vm.orden">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </th>
                    <th><span translate="megabillingplatformApp.taxpayer_series_folio.folio_end">Folio End</span>
                        <a href="" ng-click="vm.campo = 'folio_end'; vm.orden=!vm.orden">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </th>
                    <th><span translate="megabillingplatformApp.taxpayer_series_folio.folio_current">Folio Current</span>
                        <a href="" ng-click="vm.campo = 'folio_current'; vm.orden=!vm.orden">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </th>
                    <th><span translate="megabillingplatformApp.taxpayer_series_folio.date_creation">Date Creation</span>
                        <a href="" ng-click="vm.campo = 'date_creation'; vm.orden=!vm.orden">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="taxpayer_series_folio in vm.taxpayer_series_folios  | orderBy:vm.campo:vm.orden track by taxpayer_series_folio.id">
                    <td>{{taxpayer_series_folio.id}}</a></td>
                    <td>{{taxpayer_series_folio.serie}}</td>
                    <td>{{taxpayer_series_folio.folio_start}}</td>
                    <td>{{taxpayer_series_folio.folio_end}}</td>
                    <td>{{taxpayer_series_folio.folio_current}}</td>
                    <td>{{taxpayer_series_folio.date_creation | date:'mediumDate'}}</td>
                    <td>
                        <span class="label label-danger" ng-show="!taxpayer_series_folio.enable"
                              translate="megabillingplatformApp.taxpayer_series_folio.disable"
                              style="cursor: pointer;">Desactivated</span>
                        <span class="label label-success" ng-show="taxpayer_series_folio.enable"
                          translate="megabillingplatformApp.taxpayer_series_folio.enable" style="cursor: pointer;">Enable</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="taxpayer-series-folio-detail({id:taxpayer_series_folio.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="button"
                                    ng-click="vm.editSerieFolio(taxpayer_series_folio)"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="button"
                                    ng-click="vm.deleteSerieFolio(taxpayer_series_folio)" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>


