<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1>
                {{'megabillingplatformApp.taxpayer_account.detail.title' | translate}}
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {{'megabillingplatformApp.taxpayer_account.adquired' | translate}}
                </small>
            </h1>
        </div>
        <div class="col-md-4">
            <a title="Ayuda" data-rel="tooltip" class="btn btn-sm btn-info tooltip-info pull-right" href="#">
                <i class="fa fa-lightbulb-o"></i>
            </a>
        </div>
    </div>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-pills">
            <li>
                <a href="#/">
                    <i class="ace-icon fa fa-home light-blue bigger-150"></i>
                </a>
            </li>
            <li class="active">
                <a ui-sref="#">{{'megabillingplatformApp.taxpayer_account.adquired' | translate}}</a>
            </li>
            <li>
                <a ui-sref="request-taxpayer-account.afilitated">{{'global.user.join.mega' | translate}}</a>
            </li>
        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="hr hr-16 hr-dotted"></div>

<jhi-alert></jhi-alert>

<div class="row">
    <div class="col-sm-12">
        <form name="editForm" class="form-horizontal" role="form" novalidate show-validation>

            <div class="row">
                <div class="col-md-6">

                    <h3 class="header smaller lighter blue" translate="megabillingplatformApp.taxpayer_account.buytransactions">
                        Comprar Timbres
                    </h3>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.detail.title" for="accountbuy">Paquete de Timbre</label>
                        <div class="col-sm-8">
                            <select name="accountbuy" id="accountbuy" ng-model="vm.accountbuy"
                                    ng-options="taxpayer_account as taxpayer_account.bussines_name for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.transactiontype" for="transactiontype">Paquete de Timbre</label>
                        <div class="col-sm-8">
                            <select name="transactiontype" id="transactiontype" ng-model="vm.ring_pack"
                                    ng-options="ring_pack as ring_pack.rings for ring_pack in vm.ring_packs track by ring_pack.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.countbuy"
                               for="countbuy">Cantidad</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="countbuy" id="countbuy"
                                   ng-model="vm.ring_pack.rings" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.description"
                               for="countbuy">Descripción</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="description" id="description"
                                   ng-model="vm.ring_pack.description" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.price"
                               for="countbuy">Precio</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="price" id="price"
                                   ng-model="vm.ring_pack.price" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.currency"
                               for="countbuy">Moneda</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="currency" id="currency"
                                   ng-model="vm.ring_pack.currency" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right"
                               translate="megabillingplatformApp.taxpayer_account.reference_code"
                               for="countbuy">Moneda</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="reference_code" id="reference_code"
                                   ng-model="vm.ring_pack.reference_code" readonly>
                        </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="form-group">

                        <button type="button" ng-click = "vm.buy()" class="btn btn-primary pull-right" style="margin: 0 15px">
                            <span translate="megabillingplatformApp.taxpayer_account.buyAction">Comprar </span>
                        </button>

                    </div>

                    <div class="form-group">
                        <p class="help-block" ng-show = "vm.showaccountbuy != null">{{'megabillingplatformApp.taxpayer_account.accountbuymess' | translate}}</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <h3 class="header smaller lighter blue" translate="megabillingplatformApp.taxpayer_account.transfer">
                        Transferir Timbres
                    </h3>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.accountsource" for="accountsource">Cuenta de facturación origen</label>
                        <div class="col-sm-8">
                            <select name="accountsource" id="accountsource" ng-model="vm.accountsource"
                                    ng-options="taxpayer_account as taxpayer_account.bussines_name for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.accountdestine" for="accountdestine">Cuenta de contribuyente de destino</label>
                        <div class="col-md-8">
                            <select class="form-control" id="accountdestine" name="accountdestine" ng-model="vm.accountdestine"
                                    ng-options="taxpayer_account as taxpayer_account.bussines_name for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label no-padding-right"  translate="megabillingplatformApp.taxpayer_account.countbuy" for="counttransfer">Cantidad</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="counttransfer" id="counttransfer"
                                   ng-model="vm.counttransfer">
                            <div ng-show="editForm.counttransfer.$dirty && editForm.counttransfer.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.counttransfer.$error.minlength"
                                   translate="megabillingplatformApp.taxpayer_account.messages.validate.count.minlength" >
                                    The field is required to be at least 1 digit.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.counttransfer.$error.pattern"
                                   translate="megabillingplatformApp.taxpayer_account.messages.validate.count.pattern"
                                   translate-value-pattern="^[0-9]{1,}$">
                                    Field format is incorrect.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="form-group">

                        <button type="button" ng-click = "vm.transfer()" class="btn btn-primary pull-right" style="margin: 0 15px">
                            <span translate="megabillingplatformApp.taxpayer_account.transferAction">Transferir </span>
                        </button>

                    </div>

                    <div class="form-group">
                        <p class="help-block" ng-show = "vm.showcounttransfmess != null">{{'megabillingplatformApp.taxpayer_account.counttransmess' | translate}}</p>
                    </div>
                    <div class="form-group">
                        <p class="help-block" ng-show = "vm.showaccountmess != null">{{'megabillingplatformApp.taxpayer_account.accountmess' | translate}}</p>
                    </div>
                    <div class="form-group">
                        <p class="help-block" ng-show = "vm.showaccountsource != null">{{'megabillingplatformApp.taxpayer_account.accountsourcemess' | translate}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



