<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form name="editForm" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-12">
            <div style="border: 2px solid #62b6e9;">
                <h3 class="header smaller lighter blue" translate="megabillingplatformApp.taxpayer_account.labelDC">
                    Certificado Digital
                </h3>
                <div class="form-group" ngf-drop ngf-change="vm.setPath_Certificate($file, vm.taxpayer_account)">
                    <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.path_certificate" for="field_path_certificate">Certificate</label>
                    <div class="col-sm-7">
                        <div class="help-block clearfix">
                            <a class="pull-left" ng-click="vm.openFile('', vm.taxpayer_account.taxpayer_certificate.filecertificate)" ng-if="vm.taxpayer_account.taxpayer_certificate.filecertificate" target="_blank">Certificate &nbsp;&nbsp;</a>

                            <button ng-click="vm.taxpayer_account.taxpayer_certificate.filecertificate=null;vm.taxpayer_account.taxpayer_certificate.filecertificateContentType=null;vm.certificatename=null;"
                                    ng-if="vm.taxpayer_account.taxpayer_certificate.filecertificate">
                                <a class="remove">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </button>
                        </div>
                        <div>
                            <label class="ace-file-input">
                                <input type="file" id="id-input-file-2" ngf-select ngf-change="vm.setPath_Certificate($file, vm.taxpayer_account)">
                                                    <span class="ace-file-container" data-title="Buscar">
                                                        <span class="ace-file-name" data-title="...">
                                                            <i class=" ace-icon fa fa-upload"></i>
                                                        </span>
                                                    </span>
                            </label>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="path_certificate" id="field_path_certificate"
                           ng-model="vm.taxpayer_account.taxpayer_certificate.filecertificate"
                        />
                    <input type="hidden" class="form-control" name="path_certificate_type" id="field_path_certificate_type"
                           ng-model="vm.taxpayer_account.taxpayer_certificate.filecertificateContentType" />
                </div>
                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <span ng-show="vm.messcertificate" translate="megabillingplatformApp.taxpayer_account.messcertificate">.cer file extention is required and file size <= 10 Mb</span>
                    </div>
                </div>
                <div class="form-group" ngf-drop ngf-change="vm.setPath_Key($file, vm.taxpayer_account)">
                    <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.path_key" for="field_path_key">Path key</label>
                    <div class="col-sm-7">
                        <div class="help-block clearfix">
                            <a class="pull-left" ng-click="vm.openFile('', vm.taxpayer_account.taxpayer_certificate.filekey)" ng-if="vm.taxpayer_account.taxpayer_certificate.filekey"
                               target="_blank">Key &nbsp;&nbsp;</a>

                            <button ng-click="vm.taxpayer_account.taxpayer_certificate.filekey=null;vm.taxpayer_account.taxpayer_certificate.filekeyContentType=null;vm.keyname=null;"
                                    ng-if="vm.taxpayer_account.taxpayer_certificate.filekey">
                                <a class="remove">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </button>
                        </div>
                        <div>
                            <label class="ace-file-input">
                                <input type="file" id="id-input-file-3" ngf-select ngf-change="vm.setPath_Key($file, vm.taxpayer_account)">
                                                    <span class="ace-file-container" data-title="Buscar">
                                                        <span class="ace-file-name" data-title="...">
                                                            <i class=" ace-icon fa fa-upload"></i>
                                                        </span>
                                                    </span>
                            </label>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="path_key" id="field_path_key"
                           ng-model="vm.taxpayer_account.taxpayer_certificate.filekey"
                        />
                    <input type="hidden" class="form-control" name="path_key_type" id="field_path_key_type"
                           ng-model="vm.taxpayer_account.taxpayer_certificate.filekeyContentType" />
                </div>
                <div class="form-group">
                    <div class="col-sm-10 pull-right">
                        <span ng-show="vm.messkey" translate="megabillingplatformApp.taxpayer_account.messkey">.key file extention is required and file size <= 10 Mb</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.taxpayer_account.pass" for="pass">Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="pass" id="pass" ng-model="vm.taxpayer_account.taxpayer_certificate.pass_certificate">
                        <p class="help-block" ng-show="vm.messpass!=null" translate="megabillingplatformApp.taxpayer_account.messages.validate.pass.required">
                            Your password is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button"  ng-click = "vm.onValidate()" class="btn btn-primary pull-right" style="margin: 0 15px">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="megabillingplatformApp.taxpayer_account.validate">Validate </span>
                        </button>

                        <button type="button" class="btn btn-default pull-right" ng-click="vm.cancel()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        &nbsp;<span>{{vm.taxpayer_account.taxpayer_certificate.info_certificate | uppercase}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
