<div>
    <h2 translate="megabillingplatformApp.tax_address.home.title">Tax Addresses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tax-address.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.tax_address.home.createLabel">
                        Create new Tax Address
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span translate="megabillingplatformApp.tax_address.street">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="no_int"><span translate="megabillingplatformApp.tax_address.no_int">No Int</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="no_ext"><span translate="megabillingplatformApp.tax_address.no_ext">No Ext</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span translate="megabillingplatformApp.tax_address.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="intersection"><span translate="megabillingplatformApp.tax_address.intersection">Intersection</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span translate="megabillingplatformApp.tax_address.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_country.name"><span translate="megabillingplatformApp.tax_address.c_country">C Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_state.name"><span translate="megabillingplatformApp.tax_address.c_state">C State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_municipality.name"><span translate="megabillingplatformApp.tax_address.c_municipality">C Municipality</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_colony.code"><span translate="megabillingplatformApp.tax_address.c_colony">C Colony</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_zip_code.code"><span translate="megabillingplatformApp.tax_address.c_zip_code">C Zip Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tax_address in vm.tax_addresses track by tax_address.id">
                    <td><a ui-sref="tax-address-detail({id:tax_address.id})">{{tax_address.id}}</a></td>
                    <td>{{tax_address.street}}</td>
                    <td>{{tax_address.no_int}}</td>
                    <td>{{tax_address.no_ext}}</td>
                    <td>{{tax_address.location}}</td>
                    <td>{{tax_address.intersection}}</td>
                    <td>{{tax_address.reference}}</td>
                    <td>
                        <a ui-sref="c-country-detail({id:tax_address.c_country.id})">{{tax_address.c_country.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-state-detail({id:tax_address.c_state.id})">{{tax_address.c_state.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-municipality-detail({id:tax_address.c_municipality.id})">{{tax_address.c_municipality.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-colony-detail({id:tax_address.c_colony.id})">{{tax_address.c_colony.code}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-zip-code-detail({id:tax_address.c_zip_code.id})">{{tax_address.c_zip_code.code}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tax-address-detail({id:tax_address.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tax-address.edit({id:tax_address.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tax-address.delete({id:tax_address.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
