
<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCom_specific_descriptionsLabel" translate="megabillingplatformApp.com_specific_descriptions.home.createOrEditLabel">Create or edit a Freecom Specific Descriptions</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.com_specific_descriptions.brand" for="field_brand">Brand</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="brand" id="field_brand"
                       ng-model="vm.com_specific_descriptions.brand"
                       required ng-maxlength="35" />
                <div ng-show="editForm.brand.$invalid">
                    <p class="help-block"
                       ng-show="editForm.brand.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="35">
                        This field cannot be longer than 35 characters.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.com_specific_descriptions.submodel" for="field_submodel">Submodel</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="submodel" id="field_submodel"
                       ng-model="vm.com_specific_descriptions.submodel"
                       ng-maxlength="50" />
                <div ng-show="editForm.submodel.$invalid">
                    <p class="help-block"
                       ng-show="editForm.submodel.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                        This field cannot be longer than 50 characters.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.com_specific_descriptions.model" for="field_model">Model</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="model" id="field_model"
                       ng-model="vm.com_specific_descriptions.model"
                       ng-maxlength="80" />
                <div ng-show="editForm.model.$invalid">
                    <p class="help-block"
                       ng-show="editForm.model.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="80">
                        This field cannot be longer than 80 characters.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.com_specific_descriptions.serial_number" for="field_serial_number">Serial Number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="serial_number" id="field_serial_number"
                       ng-model="vm.com_specific_descriptions.serial_number"
                       ng-maxlength="40" />
                <div ng-show="editForm.serial_number.$invalid">
                    <p class="help-block"
                       ng-show="editForm.serial_number.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="40">
                        This field cannot be longer than 40 characters.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
