
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_payerLabel" translate="megabillingplatformApp.freecom_payer.home.createOrEditLabel">Create or edit a Freecom Payer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.freecom_payer.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.freecom_payer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_payer.emitter_bank" for="field_emitter_bank">Emitter Bank</label>
            <input type="text" class="form-control" name="emitter_bank" id="field_emitter_bank"
                    ng-model="vm.freecom_payer.emitter_bank"
                    required ng-maxlength="40" />
            <div ng-show="editForm.emitter_bank.$invalid">
                <p class="help-block"
                    ng-show="editForm.emitter_bank.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.emitter_bank.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="40">
                    This field cannot be longer than 40 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_payer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.freecom_payer.name"
                    required ng-maxlength="10" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_payer.type_account" for="field_type_account">Type Account</label>
            <input type="number" class="form-control" name="type_account" id="field_type_account"
                    ng-model="vm.freecom_payer.type_account"
                    required />
            <div ng-show="editForm.type_account.$invalid">
                <p class="help-block"
                    ng-show="editForm.type_account.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.type_account.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_payer.account" for="field_account">Account</label>
            <input type="number" class="form-control" name="account" id="field_account"
                    ng-model="vm.freecom_payer.account"
                    required />
            <div ng-show="editForm.account.$invalid">
                <p class="help-block"
                    ng-show="editForm.account.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.account.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_payer.rfc" for="field_rfc">Rfc</label>
            <input type="text" class="form-control" name="rfc" id="field_rfc"
                    ng-model="vm.freecom_payer.rfc"
                    required />
            <div ng-show="editForm.rfc.$invalid">
                <p class="help-block"
                    ng-show="editForm.rfc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
