
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_customs_infoLabel" translate="megabillingplatformApp.free_customs_info.home.createOrEditLabel">Create or edit a Free_customs_info</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.free_customs_info.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_customs_info.number_doc" for="field_number_doc">Number_doc</label>
            <input type="text" class="form-control" name="number_doc" id="field_number_doc"
                    ng-model="vm.free_customs_info.number_doc"
                    required />
            <div ng-show="editForm.number_doc.$invalid">
                <p class="help-block"
                    ng-show="editForm.number_doc.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_customs_info.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.free_customs_info.date" is-open="vm.datePickerOpenStatus.date"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_customs_info.customs" for="field_customs">Customs</label>
            <input type="text" class="form-control" name="customs" id="field_customs"
                    ng-model="vm.free_customs_info.customs"
                     />
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.free_customs_info.free_concept" for="field_free_concept">free_concept</label>
            <select class="form-control" id="field_free_concept" name="free_concept" ng-model="vm.free_customs_info.free_concept" ng-options="free_concept as free_concept.id for free_concept in vm.free_concepts track by free_concept.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_customs_info.free_part_concept" for="field_free_part_concept">free_part_concept</label>
            <select class="form-control" id="field_free_part_concept" name="free_part_concept" ng-model="vm.free_customs_info.free_part_concept" ng-options="free_part_concept as free_part_concept.id for free_part_concept in vm.free_part_concepts track by free_part_concept.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
