<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel" translate="userManagement.home.createOrEditLabel">
            Create or edit a User</h4>
    </div>
    <div class="alert alert-danger" ng-show="vm.doNotMatch" translate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" translate="global.form.rfc">RFC:</label>
            <input type="text" class="form-control" name="rfc" placeholder="{{'global.form.rfc.placeholder' | translate}}"
                   ng-model="vm.user.rfc" required ng-minlength="12" ng-maxlength="13"
                   ng-pattern="/^[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]{3}$/">
            <div ng-show="editForm.rfc.$dirty && editForm.rfc.$invalid">
                <p class="help-block"
                   ng-show="editForm.rcf.$error.required" translate="userManagement.messages.validate.rfc.required">
                    Your RFC is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.rcf.$error.minlength" translate="userManagement.messages.validate.rfc.minlength">
                    Your RFC is required to be at least 12 character.
                </p>
                <p class="help-block"
                   ng-show="editForm.rcf.$error.maxlength" translate="userManagement.messages.validate.rfc.maxlength">
                    Your RFC cannot be longer than 13 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.rfc.$error.pattern" translate="userManagement.messages.validate.rfc.pattern">
                    RFC format is incorrect.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="{{'global.form.name.placeholder' | translate}}"
                   ng-model="vm.user.name" ng-change="vm.onChangeUser()" ng-maxlength="50" ng-minlength="3"
                   ng-pattern="/^[A-ZÑa-zñ]+[A-ZÑa-zñ\s]+[A-ZÑa-zñ]$/" required>
            <div ng-show="editForm.name.$dirty && editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="userManagement.messages.validate.name.required">
                    Your name is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.minlength" translate="userManagement.messages.validate.name.minlength">
                    Your name is required to be at least 3 character.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.maxlength" translate="userManagement.messages.validate.name.maxlength">
                    Your name cannot be longer than 50 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.name.$error.pattern" translate="userManagement.messages.validate.name.pattern">
                    Name format is incorrect.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.firtsurname">Firt surname</label>
            <input type="text" class="form-control" name="firtsurname" placeholder="{{'global.form.firtsurname.placeholder' | translate}}"
                   ng-model="vm.user.firtsurname" ng-change="vm.onChangeUser()" ng-maxlength="50" ng-minlength="3"
                   ng-pattern="/^[A-ZÑa-zñ]+[A-ZÑa-zñ\s]+[A-ZÑa-zñ]{3,50}$/" required>
            <div ng-show="editForm.firtsurname.$dirty && editForm.firtsurname.$invalid">
                <p class="help-block"
                   ng-show="editForm.firtsurname.$error.required" translate="userManagement.messages.validate.firtsurname.required">
                    Your firt surname is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.firtsurname.$error.minlength" translate="userManagement.messages.validate.firtsurname.minlength"
                   translate-value-min="3">
                    Your firt surname is required to be at least 3 character.
                </p>
                <p class="help-block"
                   ng-show="editForm.firtsurname.$error.maxlength" translate="userManagement.messages.validate.firtsurname.maxlength"
                   translate-value-max="50">
                    Your firt surname cannot be longer than 50 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.firtsurname.$error.pattern" translate="userManagement.messages.validate.firtsurname.pattern">
                    Firt surname format is incorrect.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.secondsurname">Second surname</label>
            <input type="text" class="form-control" name="secondsurname" placeholder="{{'global.form.secondsurname.placeholder' | translate}}"
                   ng-model="vm.user.secondsurname" ng-maxlength="50" ng-minlength="2" required>
            <div ng-show="editForm.secondsurname.$dirty && editForm.secondsurname.$invalid">
                <p class="help-block"
                   ng-show="editForm.secondsurname.$error.required" translate="userManagement.messages.validate.secondsurname.required">
                    Your second surname is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.secondsurname.$error.minlength" translate="userManagement.messages.validate.secondsurname.minlength">
                    Your second surname is required to be at least 2 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.secondsurname.$error.maxlength" translate="userManagement.messages.validate.secondsurname.maxlength">
                    Your second surname cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="userManagement.login">Login</label>
            <input type="text" class="form-control" name="login"
                   ng-model="vm.user.login" readonly>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                   ng-model="vm.user.email" required ng-maxlength="254" ng-minlength="6" ng-pattern="/^([a-zA-Z0-9])+([_\.\-]([a-zA-Z0-9])+)*@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9])+$/">
            <div ng-show="editForm.email.$dirty && editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required" translate="global.messages.validate.email.required">
                    Your e-mail is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.minlength" translate="global.messages.validate.email.minlength"
                   translate-value-min="6">
                    Your e-mail is required to be at least 6 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.maxlength" translate="global.messages.validate.email.maxlength"
                   translate-value-max="254">
                    Your e-mail cannot be longer than 254 characters.
                </p>
                <p class="help-block"
                   ng-show="editForm.email.$error.pattern" translate="global.messages.validate.email.pattern">
                    Your e-mail is invalid.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="global.form.phone">Phone</label>
            <input type="text" class="form-control" name="phone" placeholder="{{'global.form.phone.placeholder' | translate}}"
                   ng-model="vm.user.phone" ng-maxlength="15" ng-pattern="/^[0-9]*$/" required>
            <div ng-show="editForm.phone.$dirty && editForm.phone.$invalid">
                <p class="help-block"
                   ng-show="editForm.phone.$error.required" translate="userManagement.messages.validate.phone.required">
                    Your phone is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.phone.$error.maxlength" translate="userManagement.messages.validate.phone.maxlength">
                    Your phone cannot be longer than 15 digits.
                </p>
                <p class="help-block"
                   ng-show="editForm.phone.$error.pattern" translate="userManagement.messages.validate.phone.pattern">
                    Phone format is incorrect.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="gender" translate="global.form.gender">Gender</label>
            <select name=gender id="gender" ng-model="vm.user.gender">
                <option selected="selected"> {{'global.form.gender.placeholder' | translate}} </option>
                <option name=M value=M> {{'global.form.gender.male' | translate}} </option>
                <option name=F value=F> {{'global.form.gender.female' | translate}} </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="global.form.photo" for="field_photo">Photo</label>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPhoto($file, vm.user)" ngf-pattern="'image/*'">
                <img src="content/images/avatars/user.png" style="max-height: 100px;" ng-if="vm.user.filephoto==null"/>
                <img data-ng-src="{{'data:' + vm.user.filephotoContentType + ';base64,' + vm.user.filephoto}}" style="max-height: 100px;" ng-if="vm.user.filephoto"/>
                <br>
                <div class="help-block clearfix">
                    <span class="pull-left">{{vm.user.filephotoContentType}}&nbsp;&nbsp;</span>
                    <button ng-click="vm.user.filephoto=null;vm.user.filephotoContentType=null;"
                            ng-if="vm.user.filephoto">
                        <a class="remove">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </button>
                </div>
                <div>
                    <label class="ace-file-input">
                        <input type="file" id="id-input-file-4" accept="image/*" ngf-select ngf-change="vm.setPhoto($file, vm.user)">
                                        <span class="ace-file-container" data-title="Buscar">
                                            <span class="ace-file-name" data-title="...">
                                                <i class=" ace-icon fa fa-upload"></i>
                                            </span>
                                        </span>
                    </label>
                </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                   ng-model="vm.user.filephoto"/>
            <input type="hidden" class="form-control" name="photoContentType"
                   id="field_photoContentType"
                   ng-model="vm.user.filephotoContentType" />
            <span ng-show="vm.messphoto" translate="global.messages.validate.messphoto">.png or .jpg file extention is required and file size <= 10 Mb</span>

        </div>
        <div class="form-group">
            <label for="activated">
                <input type="checkbox" id="activated" ng-model="vm.user.activated">
                <span translate="userManagement.activated">Activated</span>
            </label>
        </div>
        <div class="form-group">
            <label translate="userManagement.langKey">LangKey</label>
            <select class="form-control" name="langKey" ng-model="vm.user.langKey">
                <option selected="selected"> {{'global.form.language.placeholder' | translate}} </option>
                <option name=spanish value=es> {{'global.form.language.spanish' | translate}} </option>
                <option name=english value=en> {{'global.form.language.english' | translate}} </option>
            </select>
        </div>

        <div class="form-group">
            <label translate="userManagement.profiles">Profiles</label>
            <select class="form-control" multiple name="authority" ng-model="vm.user.authorities"
                    ng-options="authority for authority in vm.authorities">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
