
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_tax_transferedLabel" translate="megabillingplatformApp.free_tax_transfered.home.createOrEditLabel">Create or edit a Free_tax_transfered</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.free_tax_transfered.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_tax_transfered.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                    ng-model="vm.free_tax_transfered.rate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_tax_transfered.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.free_tax_transfered.amount"
                    required />
            <div ng-show="editForm.amount.$invalid">
                <p class="help-block"
                    ng-show="editForm.amount.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amount.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.free_tax_transfered.free_concept" for="field_free_concept">free_concept</label>
            <select class="form-control" id="field_free_concept" name="free_concept" ng-model="vm.free_tax_transfered.free_concept" ng-options="free_concept as free_concept.id for free_concept in vm.free_concepts track by free_concept.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_tax_transfered.tax_types" for="field_tax_types">tax_types</label>
            <select class="form-control" id="field_tax_types" name="tax_types" ng-model="vm.free_tax_transfered.tax_types" ng-options="tax_types as tax_types.name for tax_types in vm.tax_typess track by tax_types.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
