
<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_retentions_transferedLabel" translate="megabillingplatformApp.freecom_retentions_transfered.home.createOrEditLabel">Create or edit a Freecom_retentions_transfered</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_retentions_transfered.implocretentions" for="field_implocretentions">Implocretentions</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="implocretentions" id="field_implocretentions"
                       ng-model="vm.freecom_retentions_transfered.implocretentions"
                       required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_retentions_transfered.retentionrate" for="field_retentionrate">Retentionrate</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="retentionrate" id="field_retentionrate"
                       ng-model="vm.freecom_retentions_transfered.retentionrate"
                       required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_retentions_transfered.amountretentions" for="field_amountretentions">Amountretentions</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="amountretentions" id="field_amountretentions"
                       ng-model="vm.freecom_retentions_transfered.amountretentions"
                       required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_retentions_transfered.imploctransfered" for="field_imploctransfered">Imploctransfered</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="imploctransfered" id="field_imploctransfered"
                       ng-model="vm.freecom_retentions_transfered.imploctransfered"
                       required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_retentions_transfered.transferedrate" for="field_transferedrate">Transferedrate</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="transferedrate" id="field_transferedrate"
                       ng-model="vm.freecom_retentions_transfered.transferedrate"
                       required />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right" translate="megabillingplatformApp.freecom_retentions_transfered.amounttransfered" for="field_amounttransfered">Amounttransfered</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="amounttransfered" id="field_amounttransfered"
                       ng-model="vm.freecom_retentions_transfered.amounttransfered"
                       required />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
