
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_retentions_transferedLabel" translate="megabillingplatformApp.freecom_retentions_transfered.home.createOrEditLabel">Create or edit a Freecom_retentions_transfered</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.freecom_retentions_transfered.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_retentions_transfered.implocretentions" for="field_implocretentions">Implocretentions</label>
            <input type="text" class="form-control" name="implocretentions" id="field_implocretentions"
                    ng-model="vm.freecom_retentions_transfered.implocretentions"
                    required />
            <div ng-show="editForm.implocretentions.$invalid">
                <p class="help-block"
                    ng-show="editForm.implocretentions.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_retentions_transfered.retentionrate" for="field_retentionrate">Retentionrate</label>
            <input type="number" class="form-control" name="retentionrate" id="field_retentionrate"
                    ng-model="vm.freecom_retentions_transfered.retentionrate"
                    required />
            <div ng-show="editForm.retentionrate.$invalid">
                <p class="help-block"
                    ng-show="editForm.retentionrate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.retentionrate.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_retentions_transfered.amountretentions" for="field_amountretentions">Amountretentions</label>
            <input type="number" class="form-control" name="amountretentions" id="field_amountretentions"
                    ng-model="vm.freecom_retentions_transfered.amountretentions"
                    required />
            <div ng-show="editForm.amountretentions.$invalid">
                <p class="help-block"
                    ng-show="editForm.amountretentions.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amountretentions.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_retentions_transfered.imploctransfered" for="field_imploctransfered">Imploctransfered</label>
            <input type="text" class="form-control" name="imploctransfered" id="field_imploctransfered"
                    ng-model="vm.freecom_retentions_transfered.imploctransfered"
                    required />
            <div ng-show="editForm.imploctransfered.$invalid">
                <p class="help-block"
                    ng-show="editForm.imploctransfered.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_retentions_transfered.transferedrate" for="field_transferedrate">Transferedrate</label>
            <input type="number" class="form-control" name="transferedrate" id="field_transferedrate"
                    ng-model="vm.freecom_retentions_transfered.transferedrate"
                    required />
            <div ng-show="editForm.transferedrate.$invalid">
                <p class="help-block"
                    ng-show="editForm.transferedrate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.transferedrate.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.freecom_retentions_transfered.amounttransfered" for="field_amounttransfered">Amounttransfered</label>
            <input type="number" class="form-control" name="amounttransfered" id="field_amounttransfered"
                    ng-model="vm.freecom_retentions_transfered.amounttransfered"
                    required />
            <div ng-show="editForm.amounttransfered.$invalid">
                <p class="help-block"
                    ng-show="editForm.amounttransfered.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amounttransfered.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_retentions_transfered.freecom_local_taxes" for="field_freecom_local_taxes">freecom_local_taxes</label>
            <select class="form-control" id="field_freecom_local_taxes" name="freecom_local_taxes" ng-model="vm.freecom_retentions_transfered.freecom_local_taxes" ng-options="freecom_local_taxes as freecom_local_taxes.id for freecom_local_taxes in vm.freecom_local_taxess track by freecom_local_taxes.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
