
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_conceptLabel" translate="megabillingplatformApp.free_concept.home.createOrEditLabel">Create or edit a Free_concept</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.free_concept.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_concept.no_identification" for="field_no_identification">No_identification</label>
            <input type="text" class="form-control" name="no_identification" id="field_no_identification"
                    ng-model="vm.free_concept.no_identification"
                    required />
            <div ng-show="editForm.no_identification.$invalid">
                <p class="help-block"
                    ng-show="editForm.no_identification.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_concept.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.free_concept.quantity"
                    required />
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_concept.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.free_concept.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_concept.unit_value" for="field_unit_value">Unit_value</label>
            <input type="number" class="form-control" name="unit_value" id="field_unit_value"
                    ng-model="vm.free_concept.unit_value"
                    required />
            <div ng-show="editForm.unit_value.$invalid">
                <p class="help-block"
                    ng-show="editForm.unit_value.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.unit_value.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_concept.predial_number" for="field_predial_number">Predial_number</label>
            <input type="text" class="form-control" name="predial_number" id="field_predial_number"
                    ng-model="vm.free_concept.predial_number"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.free_concept.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.free_concept.amount"
                    required />
            <div ng-show="editForm.amount.$invalid">
                <p class="help-block"
                    ng-show="editForm.amount.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amount.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.free_concept.free_cfdi" for="field_free_cfdi">free_cfdi</label>
            <select class="form-control" id="field_free_cfdi" name="free_cfdi" ng-model="vm.free_concept.free_cfdi" ng-options="free_cfdi as free_cfdi.id for free_cfdi in vm.free_cfdis track by free_cfdi.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_concept.measure_unit" for="field_measure_unit">measure_unit</label>
            <select class="form-control" id="field_measure_unit" name="measure_unit" ng-model="vm.free_concept.measure_unit" ng-options="measure_unit as measure_unit.name for measure_unit in vm.measure_units track by measure_unit.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_concept.tax_transfered" for="field_tax_transfered">tax_transfered</label>
            <select class="form-control" id="field_tax_transfered" name="tax_transfered" ng-model="vm.free_concept.tax_transfered" ng-options="tax_transfered as tax_transfered.id for tax_transfered in vm.tax_transfereds track by tax_transfered.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.free_concept.tax_retentions" for="field_tax_retentions">tax_retentions</label>
            <select class="form-control" id="field_tax_retentions" name="tax_retentions" ng-model="vm.free_concept.tax_retentions" ng-options="tax_retentions as tax_retentions.id for tax_retentions in vm.tax_retentionss track by tax_retentions.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
