
<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_conceptLabel" translate="megabillingplatformApp.free_concept.home.createOrEditLabel">Create or edit a Free_concept</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

		<uib-tabset active="active">
			<uib-tab heading="Datos Generales">
				<div class="form-group">
					<label  class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.no_identification" for="field_no_identification">No_identification</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="no_identification" id="field_no_identification"
							ng-model="vm.free_concept.no_identification" data-ng-change="vm.onNoIdentificationChange()"
							/>
                        <div ng-show="!vm.free_concept_id_valid">
                            <p class="help-block" translate="megabillingplatformApp.free_concept.no_identification_repeated">
                                The identification value is a unique value.
                            </p>
                        </div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.measure_unit" for="field_measure_unit">measure_unit</label>
					<div class="col-sm-9">
						<select class="form-control" id="field_measure_unit" name="measure_unit" ng-model="vm.free_concept.measure_unit" ng-options="measure_unit as measure_unit.name for measure_unit in vm.measure_units track by measure_unit.id" required>
							<option value=""></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.description">Description</label>
					<div class="col-sm-9">
                        <textarea class="form-control" name="description" id="field_description"
							ng-model="vm.free_concept.description" rows="5" required></textarea>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.predial_number" for="field_predial_number">Predial_number</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="predial_number" id="field_predial_number"
								ng-model="vm.free_concept.predial_number"
								 />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.unit_value" for="field_unit_value">Unit_value</label>
					<div class="col-sm-9">
						<input type="text" class="form-control text-right" name="unit_value" id="field_unit_value"
							ng-model="vm.free_concept.unit_value" ng-change="vm.calcAmount()" ng-pattern="/^\d{1,24}\.?\d{1,6}$/"
							required />
                        <div ng-show="editForm.unit_value.$invalid">
                            <p class="help-block"
                               ng-show="editForm.unit_value.$error.pattern" translate="entity.validation.patternlargenumber" translate-value-pattern="^\d{1,24}\.?\d{1,6}$">
                                This field should follow pattern "/^\d{1,24}\.?\d{1,6}$/".
                            </p>
                        </div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.quantity" for="field_quantity">Quantity</label>
					<div class="col-sm-9">
						<input type="text" class="form-control text-right" name="quantity" id="field_quantity"
								ng-model="vm.free_concept.quantity" ng-change="vm.calcAmount()" ng-pattern="/^\d{1,24}\.?\d{1,6}$/"
								required />
                        <div ng-show="editForm.quantity.$invalid">
                            <p class="help-block"
                               ng-show="editForm.quantity.$error.pattern" translate="entity.validation.patternlargenumber" translate-value-pattern="^\d{1,24}\.?\d{1,6}$">
                                This field should follow pattern "/^\d{1,24}\.?\d{1,6}$/".
                            </p>
                        </div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.discount" for="field_discount">Discount</label>
					<div class="col-sm-9">
						<input type="text" class="form-control text-right" name="discount" id="field_discount"
								ng-model="vm.free_concept.discount" ng-change="vm.calcAmount()" ng-pattern="/^\d{1,2}\.?\d{1,2}$/"
								/>
                        <div ng-show="editForm.discount.$invalid">
                            <p class="help-block"
                               ng-show="editForm.discount.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^\d{1,2}\.?\d{1,2}$">
                                This field should follow pattern "/^\d{1,2}\.?\d{1,2}$/".
                            </p>
                        </div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.iva" for="field_iva">IVA</label>
					<div class="col-sm-9">
						<select class="form-control" id="field_iva" name="iva" ng-model="vm.iva" ng-options="rate_type as rate_type.name for rate_type in vm.rate_typess track by rate_type.value" required >
							<option value=""></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.ieps" for="field_iva">IEPS</label>
					<div class="col-sm-9">
						<input type="text" class="form-control text-right" id="field_ieps" name="ieps"
                               ng-model="vm.ieps" ng-disabled="vm.disable_ieps" ng-pattern="/^\d{1,2}\.?\d{1,2}$/"
                            />
                        <div ng-show="editForm.ieps.$invalid">
                            <p class="help-block"
                               ng-show="editForm.ieps.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^\d{1,2}\.?\d{1,2}$">
                                This field should follow pattern "/^\d{1,2}\.?\d{1,2}$/".
                            </p>
                        </div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_concept.amount" for="field_amount">Amount</label>
					<div class="col-sm-9">
						<input type="text" class="form-control text-right" name="amount" id="field_amount"
                               ui-mega-number-format ng-model="vm.free_concept.amount" ng-pattern="/^\d{1,24}\.?\d{1,6}$/"
								required readonly />
                        <div ng-show="editForm.amount.$invalid">
                            <p class="help-block"
                               ng-show="editForm.amount.$error.pattern" translate="entity.validation.patternlargenumber" translate-value-pattern="^\d+\.?\d*$">
                                This field should follow pattern "/^\d{1,24}\.?\d{1,6}$/".
                            </p>
                        </div>
					</div>
				</div>
			</uib-tab>

			<uib-tab heading="Información Aduanera">
				<table id="custom-info-table" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>No. Documento</th>
							<th>Fecha</th>
							<th>Description</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="free_customs_info in vm.free_customs_infos">
							<td>{{free_customs_info.number_doc}}</td>
							<td>{{free_customs_info.date}}</td>
							<td>{{free_customs_info.customs}}</td>
							<td>
								<button type="button" class="btn btn-sm btn-primary" ng-click="vm.removeFreeCustomInfo($index)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<button type="button" class="btn btn-sm btn-primary" ng-click="vm.addFreeCustomInfo()">
				  Añadir Información Aduanera
				</button>
			</uib-tab>
			<uib-tab heading="Partes">
				<table id="parts-table" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Código</th>
							<th>Descripción</th>
							<th>Cantidad</th>
							<th>Importe</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="free_part_concept in vm.free_part_concepts">
							<td>{{free_part_concept.no_identification}}</td>
							<td>{{free_part_concept.description}}</td>
							<td>{{free_part_concept.quantity}}</td>
							<td>{{free_part_concept.amount | uimeganumberformat}}</td>
							<td>
								<button type="button" class="btn btn-sm btn-primary" ng-click="vm.removeFreePartConcept($index)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<button type="button" class="btn btn-sm btn-primary" ng-click="vm.addFreePartConcept()">
				  Añadir Parte
				</button>
			</uib-tab>
		</uib-tabset>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving || !vm.free_concept_id_valid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
