<div>
    <h2 translate="megabillingplatformApp.free_concept.home.title">Free_concepts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="free-concept.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.free_concept.home.createLabel">
                        Create new Free_concept
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="no_identification"><span translate="megabillingplatformApp.free_concept.no_identification">No_identification</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span translate="megabillingplatformApp.free_concept.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="megabillingplatformApp.free_concept.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unit_value"><span translate="megabillingplatformApp.free_concept.unit_value">Unit_value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="predial_number"><span translate="megabillingplatformApp.free_concept.predial_number">Predial_number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span translate="megabillingplatformApp.free_concept.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discount"><span translate="megabillingplatformApp.free_concept.discount">Discount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="free_cfdi.id"><span translate="megabillingplatformApp.free_concept.free_cfdi">free_cfdi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="measure_unit.name"><span translate="megabillingplatformApp.free_concept.measure_unit">measure_unit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="free_concept in vm.free_concepts track by free_concept.id">
                    <td><a ui-sref="free-concept-detail({id:free_concept.id})">{{free_concept.id}}</a></td>
                    <td>{{free_concept.no_identification}}</td>
                    <td>{{free_concept.quantity}}</td>
                    <td>{{free_concept.description}}</td>
                    <td>{{free_concept.unit_value}}</td>
                    <td>{{free_concept.predial_number}}</td>
                    <td>{{free_concept.amount}}</td>
                    <td>{{free_concept.discount}}</td>
                    <td>
                        <a ui-sref="free-cfdi-detail({id:free_concept.free_cfdi.id})">{{free_concept.free_cfdi.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="measure-unit-detail({id:free_concept.measure_unit.id})">{{free_concept.measure_unit.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="free-concept-detail({id:free_concept.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-concept.edit({id:free_concept.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="free-concept.delete({id:free_concept.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
