
<form name="editForm" class="form-horizontal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFree_part_conceptLabel" translate="megabillingplatformApp.free_part_concept.home.createOrEditLabel">Create or edit a Free_part_concept</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_part_concept.no_identification" for="field_no_identification">No_identification</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="no_identification" id="field_no_identification"
						ng-model="vm.free_part_concept.no_identification"
						required />
			</div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_part_concept.measure_unit" for="field_measure_unit">measure_unit</label>
			<div class="col-sm-9">
				<select class="form-control" id="field_measure_unit" name="measure_unit" ng-model="vm.free_part_concept.measure_unit" ng-options="measure_unit as measure_unit.name for measure_unit in vm.measure_units track by measure_unit.id">
					<option value=""></option>
				</select>
			</div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_part_concept.description" for="field_description">Description</label>
			<div class="col-sm-9">
				<textarea class="form-control" name="description" id="field_description"
						ng-model="vm.free_part_concept.description" rows="5"></textarea>
			</div>
        </div>
		<div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_part_concept.unit_value" for="field_unit_value">Unit_value</label>
			<div class="col-sm-9">
				<input type="text" class="form-control text-right" name="unit_value" id="field_unit_value"
						ng-model="vm.free_part_concept.unit_value" ng-change="vm.calcAmount()"
						required  />
			</div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_part_concept.quantity" for="field_quantity">Quantity</label>
			<div class="col-sm-9">
				<input type="text" class="form-control text-right" name="quantity" id="field_quantity"
						ng-model="vm.free_part_concept.quantity" ng-change="vm.calcAmount()"
						required />
			</div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" translate="megabillingplatformApp.free_part_concept.amount" for="field_amount">Amount</label>
			<div class="col-sm-9">
				<input type="text" class="form-control text-right" name="amount" id="field_amount"
                       ui-mega-number-format ng-model="vm.free_part_concept.amount"
						readonly />
			</div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
