<div>
    <h2 translate="megabillingplatformApp.general_data.home.title">General_data</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="general-data.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.general_data.home.createLabel">
                        Create new General_data
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="platform_name"><span translate="megabillingplatformApp.general_data.platform_name">Platform_name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="format_date"><span translate="megabillingplatformApp.general_data.format_date">Format_date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logo"><span translate="megabillingplatformApp.general_data.logo">Logo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adrees"><span translate="megabillingplatformApp.general_data.adrees">Adrees</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phones"><span translate="megabillingplatformApp.general_data.phones">Phones</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="general_data in vm.general_data track by general_data.id">
                    <td><a ui-sref="general-data-detail({id:general_data.id})">{{general_data.id}}</a></td>
                    <td>{{general_data.platform_name}}</td>
                    <td>{{general_data.format_date}}</td>
                    <td>
                        <img data-ng-src="{{'data:' + general_data.logoContentType + ';base64,' + general_data.logo}}" style="max-height: 30px;" ng-if="general_data.logo"/> {{general_data.logoContentType}} {{byteSize(general_data.logo)}}
                    </td>
                    <td>{{general_data.adrees}}</td>
                    <td>{{general_data.phones}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="general-data-detail({id:general_data.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="general-data.edit({id:general_data.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="general-data.delete({id:general_data.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
