<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.newfreecfditoreceiver.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.newfreecfditoreceiver.greeting(${receiver.getBusiness_name()})}">
            Dear
        </p>
        <p th:text="#{email.newfreecfditoreceiver.text1}">
            Your JHipster account has been created, please click on the URL below to activate it.
        </p>        
        <p>
            <span th:text="#{email.newfreecfditoreceiver.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
