<div>
    <h2 translate="megabillingplatformApp.ring_pack.home.title">Ring Packs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ring-pack.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.ring_pack.home.createLabel">
                        Create new Ring Pack
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currency"><span translate="megabillingplatformApp.ring_pack.currency">Currency</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="megabillingplatformApp.ring_pack.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span translate="megabillingplatformApp.ring_pack.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference_code"><span translate="megabillingplatformApp.ring_pack.reference_code">Reference Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rings"><span translate="megabillingplatformApp.ring_pack.rings">Rings</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ring_pack in vm.ring_packs track by ring_pack.id">
                    <td><a ui-sref="ring-pack-detail({id:ring_pack.id})">{{ring_pack.id}}</a></td>
                    <td>{{ring_pack.currency}}</td>
                    <td>{{ring_pack.description}}</td>
                    <td>{{ring_pack.price}}</td>
                    <td>{{ring_pack.reference_code}}</td>
                    <td>{{ring_pack.rings}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ring-pack-detail({id:ring_pack.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ring-pack.edit({id:ring_pack.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ring-pack.delete({id:ring_pack.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
