<div>
    <h2 translate="megabillingplatformApp.freecom_dataunenajenante.home.title">Freecom_dataunenajenantes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="freecom-dataunenajenante.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.freecom_dataunenajenante.home.createLabel">
                        Create new Freecom_dataunenajenante
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="megabillingplatformApp.freecom_dataunenajenante.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_name"><span translate="megabillingplatformApp.freecom_dataunenajenante.last_name">Last_name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mother_last_name"><span translate="megabillingplatformApp.freecom_dataunenajenante.mother_last_name">Mother_last_name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rfc"><span translate="megabillingplatformApp.freecom_dataunenajenante.rfc">Rfc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="curp"><span translate="megabillingplatformApp.freecom_dataunenajenante.curp">Curp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="freecom_data_enajenante.id"><span translate="megabillingplatformApp.freecom_dataunenajenante.freecom_data_enajenante">freecom_data_enajenante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="freecom_dataunenajenante in vm.freecom_dataunenajenantes track by freecom_dataunenajenante.id">
                    <td><a ui-sref="freecom-dataunenajenante-detail({id:freecom_dataunenajenante.id})">{{freecom_dataunenajenante.id}}</a></td>
                    <td>{{freecom_dataunenajenante.name}}</td>
                    <td>{{freecom_dataunenajenante.last_name}}</td>
                    <td>{{freecom_dataunenajenante.mother_last_name}}</td>
                    <td>{{freecom_dataunenajenante.rfc}}</td>
                    <td>{{freecom_dataunenajenante.curp}}</td>
                    <td>
                        <a ui-sref="freecom-data-enajenante-detail({id:freecom_dataunenajenante.freecom_data_enajenante.id})">{{freecom_dataunenajenante.freecom_data_enajenante.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="freecom-dataunenajenante-detail({id:freecom_dataunenajenante.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freecom-dataunenajenante.edit({id:freecom_dataunenajenante.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freecom-dataunenajenante.delete({id:freecom_dataunenajenante.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
