<div>
    <h2 translate="megabillingplatformApp.freecom_educational_institutions.home.title">Freecom_educational_institutions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="freecom-educational-institutions.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="megabillingplatformApp.freecom_educational_institutions.home.createLabel">
                        Create new Freecom_educational_institutions
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="version"><span translate="megabillingplatformApp.freecom_educational_institutions.version">Version</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name_student"><span translate="megabillingplatformApp.freecom_educational_institutions.name_student">Name_student</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="curp"><span translate="megabillingplatformApp.freecom_educational_institutions.curp">Curp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="autrvoe"><span translate="megabillingplatformApp.freecom_educational_institutions.autrvoe">Autrvoe</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rfcpayment"><span translate="megabillingplatformApp.freecom_educational_institutions.rfcpayment">Rfcpayment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="free_cfdi.id"><span translate="megabillingplatformApp.freecom_educational_institutions.free_cfdi">free_cfdi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="c_school_level.name"><span translate="megabillingplatformApp.freecom_educational_institutions.c_school_level">c_school_level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="freecom_educational_institutions in vm.freecom_educational_institutions track by freecom_educational_institutions.id">
                    <td><a ui-sref="freecom-educational-institutions-detail({id:freecom_educational_institutions.id})">{{freecom_educational_institutions.id}}</a></td>
                    <td>{{freecom_educational_institutions.version}}</td>
                    <td>{{freecom_educational_institutions.name_student}}</td>
                    <td>{{freecom_educational_institutions.curp}}</td>
                    <td>{{freecom_educational_institutions.autrvoe}}</td>
                    <td>{{freecom_educational_institutions.rfcpayment}}</td>
                    <td>
                        <a ui-sref="free-cfdi-detail({id:freecom_educational_institutions.free_cfdi.id})">{{freecom_educational_institutions.free_cfdi.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="c-school-level-detail({id:freecom_educational_institutions.c_school_level.id})">{{freecom_educational_institutions.c_school_level.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="freecom-educational-institutions-detail({id:freecom_educational_institutions.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freecom-educational-institutions.edit({id:freecom_educational_institutions.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="freecom-educational-institutions.delete({id:freecom_educational_institutions.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
