<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.close()">&times;</button>
    <h4 class="modal-title" id="myConceptLabel" translate="home.text13">ANS del SAT</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p>
                <span translate="home.text14">dcdasasda</span>
                <span translate="home.text15">asdasdasda</span>
                <span translate="home.text16">asdasdasda</span>
            </p>
            <p>
                <span translate="home.text17">asasdasda</span>
                <span translate="home.text18">asasdasdas</span>
                <span translate="home.text19">asdasdasda</span>
            </p>
            <p>
                <span translate="home.text20">asasdasdad</span>
                <span translate="home.text21">qwqwqeqwewqeqw</span>
            </p>
            <p>
                <span translate="home.text22">qwqweqweq</span>
                <span translate="home.text23">qweqweqwe</span>
            </p>
            <br>
            <a class="link-icon-table" target="_blank" href="http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Documents/cfdi/Aplicaciongratuita(v5).pdf"><span translate="home.text25">Ir al SAT</span></a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">
        <span translate="entity.action.close">Cerrar</span>
    </button>
</div>
