<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.close()">&times;</button>
    <h4 class="modal-title" id="myConceptLabel">Notificación del sistema</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p translate="home.text8">Estimado usuario</p>
            <p>
                <span translate="home.text9">Le informamos que su cuenta de usuario gratuita expira en:</span> <span style="font-size:120%;font-weight:bold;">{{vm.restDate(vm.user.createdDate)}}</span>
                <span translate="home.text10">días</span>
            </p>
            <p>
                <span translate="home.text11">Le invitamos a que adquiera el paquete de aplicaciones y servicios MegaCFDI para que</span>
                <span translate="home.text12">pueda seguir utilizando todas las aplicaciones y servicios disponibles.</span>
            </p>
        </div>
   </div>
</div>
<div class="modal-footer">
    <button type="button"  class="btn btn-primary" ng-click="vm.close()" ui-sref="request-taxpayer-account.new">
        <span translate="global.user.join.mega">Adquirir MegaCFDI</span>
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">
        <span translate="entity.action.close">Cerrar</span>
    </button>
</div>
