<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form name="editForm" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-3 control-label no-padding-right" translate="home.text8">Estimado usuario</label>
            </div>
            <div class="form-group">
                <label class="col-md-7 control-label no-padding-right" translate="home.text9">Le informamos que su cuenta de usuario gratuita expira en: </label>
                <label> {{vm.restDate(vm.user.createdDate)}} </label>
                <label class="control-label no-padding-right" translate="home.text10">días</label>
            </div>
            <div class="form-group">
                <label class="col-md-10 control-label no-padding-right" translate="home.text11">Le invitamos a que adquiera el paquete de aplicaciones y servicios MegaCFDI para que</label>
            </div>
            <div class="form-group">
                <label class="col-md-8 control-label no-padding-right" translate="home.text12">pueda seguir utilizando todas las aplicaciones y servicios disponibles.</label>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default pull-right" style="margin: 0 15px" ng-click="vm.close()">
                    <span translate="entity.action.close">Cerrar</span>
                </button>

                <button type="button" class="btn btn-primary pull-right" style="margin: 0 15px" ng-click="vm.close()" ui-sref="request-taxpayer-account.new">
                    <span translate="global.user.join.mega">Adquirir MegaCFDI</span>
                </button>
            </div>
        </div>
   </div>
</form>
</body>
</html>
