<div>
    <h2 translate="audits.title">Audits</h2>

    <div class="hr hr-16 hr-dotted"></div>

    <div class="row">
        <div class="col-sm-12">
            <form name="editForm" class="form-horizontal" role="form" ng-submit="vm.search()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="audits.filter.principal" for="filterprincipal">User</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="filterprincipal" id="filterprincipal"
                                       ng-model="vm.principal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="audits.filter.from" for="field_date">Date from</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.fromDate" is-open="vm.datePickerOpenStatus.date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="audits.filter.to" for="field_date1">Date to</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input id="field_date1" type="text" class="form-control" name="date1" uib-datepicker-popup="{{dateformat}}" ng-model="vm.toDate" is-open="vm.datePickerOpenStatus1.date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar1('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="audits.filter.auditEventType" for="field_state">State</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="field_state" name="state" ng-model="vm.auditEventType"
                                        ng-options="auditEventType as auditEventType.name for auditEventType in vm.auditEventTypeS track by auditEventType.id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-right" translate="audits.filter.ip" for="filterip">User</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="filterip" id="filterip"
                                       ng-model="vm.ip" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">
                            <span translate="audits.filter.search">Search</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h3 class="header smaller lighter blue" translate="audits.filter.search_result">
        Resultados de la búsqueda
    </h3>


    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="audits.table.header.date">Date</span></th>
            <th ng-click="predicate = 'principal'; reverse=!reverse"><span translate="audits.table.header.principal">User</span></th>
            <th ng-click="predicate = 'type'; reverse=!reverse"><span translate="audits.table.header.status">State</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="audits.table.header.data">Extra data</span></th>
        </tr>
        </thead>

        <tr ng-repeat="audit in vm.audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
            <td><span>{{audit.timestamp| date:'medium'}}</span></td>
            <td><small>{{audit.principal}}</small></td>
            <td>{{audit.type}}</td>
            <td>
                <span ng-show="audit.data.message">{{audit.data.message}}</span>
                <span ng-show="audit.data.remoteAddress"><span translate="audits.table.data.remoteAddress">Remote Address</span> {{audit.data.remoteAddress}}</span>
            </td>
        </tr>
    </table>

    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(page)"></uib-pagination>
    </div>
</div>
