
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaxpayer_ftp_accountLabel" translate="megabillingplatformApp.taxpayer_ftp_account.home.createOrEditLabel">Create or edit a Taxpayer Ftp Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.taxpayer_ftp_account.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.taxpayer_ftp_account.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.taxpayer_ftp_account.server_type" for="field_server_type">Server Type</label>
            <input type="text" class="form-control" name="server_type" id="field_server_type"
                    ng-model="vm.taxpayer_ftp_account.server_type"
                    required />
            <div ng-show="editForm.server_type.$invalid">
                <p class="help-block"
                    ng-show="editForm.server_type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.taxpayer_ftp_account.server_name_ip" for="field_server_name_ip">Server Name Ip</label>
            <input type="text" class="form-control" name="server_name_ip" id="field_server_name_ip"
                    ng-model="vm.taxpayer_ftp_account.server_name_ip"
                    required />
            <div ng-show="editForm.server_name_ip.$invalid">
                <p class="help-block"
                    ng-show="editForm.server_name_ip.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.taxpayer_ftp_account.port" for="field_port">Port</label>
            <input type="number" class="form-control" name="port" id="field_port"
                    ng-model="vm.taxpayer_ftp_account.port"
                    required />
            <div ng-show="editForm.port.$invalid">
                <p class="help-block"
                    ng-show="editForm.port.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.port.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.taxpayer_ftp_account.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                    ng-model="vm.taxpayer_ftp_account.username"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.taxpayer_ftp_account.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                    ng-model="vm.taxpayer_ftp_account.password"
                     />
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.taxpayer_ftp_account.taxpayer_account" for="field_taxpayer_account">Taxpayer Account</label>
            <select class="form-control" id="field_taxpayer_account" name="taxpayer_account" ng-model="vm.taxpayer_ftp_account.taxpayer_account" ng-options="taxpayer_account as taxpayer_account.id for taxpayer_account in vm.taxpayer_accounts track by taxpayer_account.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
