
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myConceptLabel" translate="megabillingplatformApp.concept.home.createOrEditLabel">Create or edit a Concept</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.concept.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.concept.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.concept.no_identification" for="field_no_identification">No Identification</label>
            <input type="text" class="form-control" name="no_identification" id="field_no_identification"
                    ng-model="vm.concept.no_identification"
                    required />
            <div ng-show="editForm.no_identification.$invalid">
                <p class="help-block"
                    ng-show="editForm.no_identification.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.concept.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.concept.quantity"
                    required />
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.concept.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.concept.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.concept.unit_value" for="field_unit_value">Unit Value</label>
            <input type="number" class="form-control" name="unit_value" id="field_unit_value"
                    ng-model="vm.concept.unit_value"
                    required />
            <div ng-show="editForm.unit_value.$invalid">
                <p class="help-block"
                    ng-show="editForm.unit_value.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.unit_value.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.concept.predial_number" for="field_predial_number">Predial Number</label>
            <input type="text" class="form-control" name="predial_number" id="field_predial_number"
                    ng-model="vm.concept.predial_number"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.concept.discount" for="field_discount">Discount</label>
            <input type="number" class="form-control" name="discount" id="field_discount"
                    ng-model="vm.concept.discount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="megabillingplatformApp.concept.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.concept.amount"
                     />
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.concept.measure_unit" for="field_measure_unit">Measure Unit</label>
            <select class="form-control" id="field_measure_unit" name="measure_unit" ng-model="vm.concept.measure_unit" ng-options="measure_unit as measure_unit.name for measure_unit in vm.measure_units track by measure_unit.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.concept.cfdi" for="field_cfdi">Cfdi</label>
            <select class="form-control" id="field_cfdi" name="cfdi" ng-model="vm.concept.cfdi" ng-options="cfdi as cfdi.id for cfdi in vm.cfdis track by cfdi.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
