
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFreecom_ine_entityLabel" translate="megabillingplatformApp.freecom_ine_entity.home.createOrEditLabel">Create or edit a Freecom Ine Entity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.freecom_ine_entity.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.freecom_ine_entity.id" readonly />
        </div>

        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_ine_entity.key_entity" for="field_key_entity">Key Entity</label>
            <select class="form-control" id="field_key_entity" name="key_entity" ng-model="vm.freecom_ine_entity.key_entity" ng-options="key_entity as key_entity.id for key_entity in vm.key_entities track by key_entity.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_ine_entity.freecom_ine" for="field_freecom_ine">Freecom Ine</label>
            <select class="form-control" id="field_freecom_ine" name="freecom_ine" ng-model="vm.freecom_ine_entity.freecom_ine" ng-options="freecom_ine as freecom_ine.id for freecom_ine in vm.freecom_ines track by freecom_ine.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="megabillingplatformApp.freecom_ine_entity.c_scope_type" for="field_c_scope_type">C Scope Type</label>
            <select class="form-control" id="field_c_scope_type" name="c_scope_type" ng-model="vm.freecom_ine_entity.c_scope_type" ng-options="c_scope_type as c_scope_type.id for c_scope_type in vm.c_scope_types track by c_scope_type.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
